.main-index {
    width: 100%;
    height: 100%;
    min-width: 1170px;
    min-height: 750px;
    background-color: #076FCB;
    background-repeat: no-repeat;
    background-position: center;
}

.main-index:before {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: '';
}

.ane-layout-header {
    width: 100%;
    height: 150px;
}

.ane-layout {
    position: relative;
    width: 100%;
    height: 88%;
    background: #076FCB;
}

.header {
    width: 1170px;
    height: 150px;
    padding-top: 38px;
    margin: 0 auto;
    position: relative;
}

.header>h1 {
    display: inline-block;
    line-height: 70px;
    padding-left: 80px;
    vertical-align: top;
    color: white;
    font-size: 40px;
    background: url(/static/image/main-index/jh.png?__sprite) no-repeat;
}

.loginfo {
    /* float: right;
    width: 450px;
    height: 45px; */
    text-align: right;
    color: white;
    position: absolute;
    top: 35px;
    right: 0;
}

.user-icon {
    background: url(/static/image/main-index/user.png?__sprite) no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    /* position: absolute;
    top: 5px;
    right: 0px; */
}

.header>.loginfo>label {
    line-height: 40px;
    vertical-align: middle;
    padding-right: 34px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.textNoWrap {
    max-width: 86px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    Word-break: break-all;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

.info_title {
    margin-left: 4px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.currentUser {
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    margin-right: 20px;
    position: relative;
    text-align: right;
    display: inline-block;
    min-width: 360px;
    white-space: nowrap;
}

.userWrap {
    position: absolute;
    top: 44px;
    right: -55px;
    width: 120px;
    background-color: #ffffff;
    border: 1px solid #d4d7d9;
    display: none;
    z-index: -1;
    /* opacity: 0;
    filter:alpha(opacity=0);
    transition: all .3 linear 0s;
    -webkit-transition: all .3 linear 0s;
    -moz-transition: all .3 linear 0s;
    -o-transition: all .3 linear 0s; */
}

.userWrap>ul {
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
}

.userWrap>ul>li {
    line-height: 24px;
    width: 100%;
    min-height: 24px;
    color: #536b82;
    text-align: center;
    list-style: none;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    Word-break: break-all;
}

.userWrap>ul>li:hover {
    cursor: pointer;
    color: #076FCB;
    background-color: #dddddd;
}

.role {
    display: inline-block;
    height: 42px;
    line-height: 42px;
}

.role>i.fa-angle-up {
    display: none;
}

.role>i.fa-angle-down {
    display: inline-block;
    margin-left: 4px;
}

.role:hover>i.fa-angle-up,
.role:hover>.userWrap {
    display: inline-block;
    margin-left: 4px;
    z-index: 10;
    /* opacity: 1;
    filter:alpha(opacity=100); */
}

.role:hover>i.fa-angle-down {
    display: none;
}

.triangle-8 {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 98px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #ffffff;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 51px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #ffffff;
}

.userTip {
    width: 120px;
    height: 68px;
    position: absolute;
    right: 0px;
    top: 40px;
    border: 1px solid white;
    /* padding: 5px; */
    background-color: white;
    text-align: center;
    display: none;
}

.header>.loginfo .userTip::before {
    content: " ";
    z-index: -1;
    position: absolute;
    top: -5px;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0px 12px 10px;
    border-style: solid;
    border-color: transparent transparent white;
}

.header>.loginfo .userTip a {
    display: block;
    color: #536b82;
    font-size: 14px;
    height: 24px;
    width: 118px;
    line-height: 24px;
    margin-top: 6px;
    padding: 0;
    /* position: relative; */
    /* background: url(/static/image/main-index/config.png?__sprite) no-repeat 10px 4px; */
}

p.pWrap {
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 0px;
}

.setPwd-icon {
    background: url(/static/image/main-index/pwd.png?__sprite) no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 6px;
}

.logout-icon {
    background: url(/static/image/main-index/config.png?__sprite) no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 6px;
}

/* .header>.loginfo>.userTip a:first-child {
    background: url(/static/image/main-index/pwd.png?__sprite) no-repeat 10px 4px;
} */

.header>.loginfo .userTip a:hover {
    color: #076FCB;
    background-color: #dddddd;
}

.header>.loginfo p.pWrap:hover .userTip {
    display: block;
}

.content {
    width: 1170px;
    margin: 0 auto;
}

.content>.business {
    float: left;
    width: 404px;
}

.content>.business>.bsheader {
    width: 404px;
    height: 30px;
}

.content>.business>.bsheader>span {
    color: white;
    line-height: 30px;
    font-size: 20px;
    vertical-align: middle;
}

.content>.business>.bsheader>a {
    float: right;
    text-decoration: none;
    color: white;
    line-height: 30px;
    vertical-align: middle;
    font-size: 20px;
    padding-left: 22px;
    cursor: pointer;
    position: relative;
    /* background: url(/static/image/main-index/apps.png?__sprite) no-repeat left center; */
}

.iconSetting {
    background: url(/static/image/main-index/apps.png?__sprite) no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 8px;
    left: 0px;
}

#bsConfig {
    display: block;
    width: 66px;
    height: 30px;
}

.content>.business>ul {
    margin-top: 10px;
    float: left;
}

.content>.business>ul li {
    width: 130px;
    height: 100px;
    margin: 2px;
    list-style: none;
    float: left;
}

.content>.business>ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.content>.business>ul li a span {
    display: inline-block;
    margin: 16px 42px;
}

.content>.business>ul li a h4 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: -14px;
    margin-bottom: 0px;
}

/* 主页-应用模块特有背景 */

.sszh {
    background-color: #dc6141;
    /* background: url(/static/image/main-index/map.png?__sprite) no-repeat; */
}

.spjk {
    background-color: #e09e1f;
    /* background: url(/static/image/main-index/videomonitor.png?__sprite) no-repeat; */
}

.lxhf {
    background-color: #20b362;
    /* background: url(/static/image/main-index/videoreplay.png?__sprite) no-repeat; */
}

.gjcx {
    background-color: #20b362;
    /* background: url(/static/image/main-index/trackquery.png?__sprite) no-repeat; */
}

.gjgl {
    background-color: #17a2c6;
    /* background: url(/static/image/main-index/warring.png?__sprite) no-repeat; */
}

.jqdj {
    background-color: #20b362;
    /* background: url(/static/image/main-index/clusterIntercom.png?__sprite) no-repeat; */
}

.yspk {
    background-color: #7a43e2;
    /* background: url(/static/image/main-index/audioandvideo.png?__sprite) no-repeat; */
}

.zfda {
    background-color: #2db7f5;
    /* background: url(/static/image/main-index/lawfile.png?__sprite) no-repeat; */
}

.tjfx {
    background-color: #e76a1e;
    /* background: url(/static/image/main-index/statisticanalysis.png?__sprite) no-repeat; */
}

.rzgl {
    background-color: #7b27d1;
    /* background: url(/static/image/main-index/logmanage.png?__sprite) no-repeat; */
}

.jdkp {
    background-color: #01bad2;
    /* background: url(/static/image/main-index/supervision.png?__sprite) no-repeat; */
}

.tools {
    clear: both;
    padding: 20px 0;
    text-align: center;
    display: block;
}

.delete {
    display: inline-block;
    padding: 20px 30px;
    /* background: url(/static/image/main-index/delete.png?__sprite) no-repeat center; */
    border: dashed 1px white;
    position: relative;
}

.del_bg {
    background: url(/static/image/main-index/delete.png?__sprite) no-repeat center;
    width: 32px;
    height: 34px;
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 57px;
    cursor: pointer;
}

.delete>ul {
    width: 130px;
    height: 100px;
    margin: 0 auto;
}

.delete>ul li {
    list-style: none;
}

.add {
    display: inline-block;
    padding: 10px 40px 20px 20px;
    border: 1px dashed white;
    vertical-align: top;
    margin-left: 5px;
    position: relative;
}

.add>a {
    display: block;
    width: 130px;
    height: 46px;
    margin: 0 auto;
}

.add_bg {
    background: url(/static/image/main-index/add.png?__sprite) no-repeat;
    width: 34px;
    height: 34px;
    margin-left: 58px;
    margin-top: 30px;
}

select {
    display: block;
    width: 110px;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #536b82;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    text-transform: none;
    /* appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none; */
}

.color-picker-wrap {
    border: none;
    background: #fff;
    position: absolute;
    top: 13px;
    right: 20px;
}

.color-picker-wrap>.sp-preview {
    margin-right: 0px;
}

.color-picker-wrap>.sp-dd {
    display: none;
}

.select-arrow-down {
    position: absolute;
    top: 16px;
    right: 28px;
    font-size: 10px;
}

/* select::-ms-expand { 
    display: none; 
} */

select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.content>.system {
    float: left;
    width: 404px;
    margin-left: 42px;
}

.content>.system>.sysheader>a {
    float: right;
    text-decoration: none;
    color: white;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 22px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    /* background: url(/static/image/main-index/apps.png?__sprite) no-repeat left center; */
}

#sysConfig {
    display: block;
    width: 66px;
    height: 30px;
}

.content>.system>.sysheader>span {
    color: white;
    line-height: 30px;
    font-size: 20px;
    vertical-align: middle;
}

.content>.system>ul {
    margin-top: 10px;
    float: left;
}

.content>.system>ul li {
    width: 130px;
    height: 100px;
    margin: 2px;
    list-style: none;
    float: left;
}

.content>.system>ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.content>.system>ul li a span {
    display: inline-block;
    margin: 16px 42px;
}

.content>.system>ul li a h4 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: -14px;
    margin-bottom: 0px;
}

/* 主页-管理模块特有背景 */

.sbgl {
    background-color: #dc6141;
    /* background: url(/static/image/main-index/sys-dev.png?__sprite) no-repeat; */
}

.ccgl {
    background-color: #60be29;
    /* background: url(/static/image/main-index/storagenanager.png?__sprite) no-repeat; */
}

.yhgl {
    background-color: #20b362;
    /* background: url(/static/image/main-index/sys-user.png?__sprite) no-repeat; */
}

.xtpzgl {
    background-color: #2db7f5;
    /* background: url(/static/image/main-index/gaoyun-mgr.png?__sprite) no-repeat; */
}

.tyywgl {
    background-color: #17a2c6;
    /* background: url(/static/image/main-index/gaoyun-mgr.png?__sprite) no-repeat; */
}

.yspsjgl {
    background-color: #7b27d1;
    /* background: url(/static/image/main-index/gaoyun-mgr.png?__sprite) no-repeat; */
}

.content>.right {
    float: right;
    width: 279px;
}

.content>.right>.notice {
    position: relative;
}

.content>.right .ntheader {
    color: white;
}

.content>.right .ntheader>span {
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
}

.content>.right .ntheader>a {
    float: right;
    color: white;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
}

.content>.right .ntheader>a:hover {
    color: #bbcde1;
}

.content>.right .msg {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff)";
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff); */
    /* 兼容IE8 */
}

.content>.right .msg a.egg {
    margin-left: 28px;
    filter: alpha(opacity=0);
    opacity: 0;
    color: transparent;
}

.content>.right .msg h4 {
    font-size: 16px;
    color: #fff;
}

.content>.right .shade {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: .2;
    z-index: -1;
}

.content>.right .msg>ul {
    margin-left: 20px;
    color: white;
    margin-bottom: 20px;
    /* min-height: 204px; */
}

.content>.right .msg>ul>li {
    margin-bottom: 5px;
    /* list-style: none; */
}

.content>.right>.download {
    margin-top: 50px;
}

.content>.right .msg>ul>li a {
    color: white;
    text-decoration: none;
}

.dash-border {
    border: 1px dashed white;
}

#changePwd input {
    width: 250px;
    display: inline-block;
}

#changePwd .has-feedback label~.form-control-feedback {
    top: 0px;
}

#changePwd .ipt-class {
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}

#changePwd .ane-input-tips {
    width: 250px;
    text-align: left;
}

#changePwd .ane-label-tips .ane-label-tips-label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

#changePwd .ane-label-tips {
    width: 418px;
    text-align: center;
}

#changePwd .fa-exclamation-circle:before {
    content: '';
}

#changePwd .ipt-class>label {
    width: 21%;
    text-align: right;
    color: #536b82;
    line-height: 30px;
    vertical-align: top;
    margin-bottom: 0px;
}

/* #changePwd .ane-input-tips-clear {
    top: 10px;
} */

#changePwd .pwd-tips {
    position: absolute;
    top: 40px;
    left: 133px;
}

#changePwd .warn {
    color: #d2403d;
    font-size: 12px;
}

.logout_vm {
    width: 450px;
}

.edit-pwd {
    width: 450px;
}

.edit-pwd .modal-header,
.logout_vm .modal-header,
.question-dialog .modal-header,
.confirm-dialog .modal-header {
    background-color: #0078D7;
    color: #fff;
    cursor: move;
}

.edit-pwd .close,
.logout_vm .close,
.question-dialog .close,
.confirm-dialog .close {
    color: #ffffff;
    opacity: 1;
}

.edit-pwd .modal-body .form-group label {
    width: 80px;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
    display: inline-block;
    text-align: right;
}

/* .edit-pwd .modal-body .form-control {
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
} */

.edit-pwd .modal-body .form-inline {
    text-align: center;
}

.edit-pwd .modal-body .form-inline .help-block {
    margin-left: 90px;
    text-align: left;
}

.edit-pwd .form-inline .has-feedback .form-control-feedback {
    top: 10px;
}

.edit-pwd .modal-footer,
.logout_vm .modal-footer,
.question-dialog .modal-footer {
    border-top: none;
    padding-right: 53px;
    margin-top: 10px;
}

.question-dialog .modal-footer {
    display: none;
}

.confirm-dialog .modal-footer {
    border-top: none;
    padding: 4px 26px;
}

.edit-pwd .modal-footer .btn,
.logout_vm .modal-footer .btn,
.question-dialog .modal-footer .btn,
.confirm-dialog .modal-footer .btn {
    padding: 0;
}

.edit-pwd .modal-footer .btn-primary,
.logout_vm .modal-footer .btn-primary,
.question-dialog .modal-footer .btn-primary,
.edit-pwd .modal-footer .btn-default,
.logout_vm .modal-footer .btn-default,
.question-dialog .modal-footer .btn-default {
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #0078D7;
    margin-left: 20px;
    border: 1px solid #0078D7;
    border-radius: 2px;
    outline: none;
}

.confirm-dialog .modal-footer .btn-primary,
.confirm-dialog .modal-footer .btn-default {
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #0078D7;
    border: 1px solid #0078D7;
    border-radius: 2px;
    outline: none;
}

.edit-pwd .modal-footer .btn-primary:hover,
.logout_vm .modal-footer .btn-primary:hover,
.question-dialog .modal-footer .btn-primary:hover,
.confirm-dialog .modal-footer .btn-primary:hover,
.edit-pwd .modal-footer .btn-default:hover,
.logout_vm .modal-footer .btn-default:hover,
.question-dialog .modal-footer .btn-default:hover,
.confirm-dialog .modal-footer .btn-default:hover {
    color: #fff;
    background-color: #0057a1;
    border: 1px solid #0057a1;
}

#confirm-dialog-body {
    text-align: center;
}

#confirm-dialog-body>span {
    color: #536b82;
}

#question-dialog-body dl {
    margin-bottom: 10px;
}

#question-dialog-body dl dd {
    line-height: 24px;
    margin-bottom: 10px;
    color: #536b82;
}

.placeHolder div {
    width: 130px;
    height: 100px;
    border: dashed 1px white;
}

.pic_ocx {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/* 
* 首页左边应用菜单屏蔽右边系统菜单放大的覆盖及新增样式 start 
* 需复原注释以下代码即可
*/

/* .content>.business {
    display: none;
}

.content>.system {
    width: auto;
    margin-left: 0;
}

.content>.system>ul li {
    width: 240px;
    height: 220px;
    margin: 5px;
    margin-bottom: 60px;
}

.content>.system>ul li a {
    text-align: center;
    border-radius: 20px;
}

.content>.system>ul li a span {
    margin: 110px 0 0 0;
    position: relative;
    top: -55px;
}

.content>.system>ul li a h4 {
    margin-top: 20px;
    font-size: 20px;
}

.content [class^="icon-"],
.content [class*=" icon-"] {
    font-size: 110px !important;
}

.delete {
    width: 240px;
    height: 220px;
}

.add {
    padding: 60px 60px 60px 48px;
    width: 240px;
    height: 220px;
}

#selectSYS {
    margin-top: -10px;
}

.content .sp-replacer {
    margin-top: 38px;
}

.add_bg {
    margin-top: 44px;
}

.tools {
    padding: 70px 0 0 0;
}

.del_bg {
    background: none;
    left: 96px;
    top: 70px;
}

.del_bg>i {
    display: inline-block !important;
    color: #fff;
}

#sysUl {
    width: 760px;
}

#sysUl .placeHolder div {
    width: 240px;
    height: 220px;
    margin-left: 0px;
    margin-top: 0px;
}

.syslist .placeHolder div {
    width: 220px;
    height: 200px;
    margin-left: -44px;
    margin-top: -10px;
} */

/* end */