<template>
    <div :controller="main-index" class="main-index">
        <ms-browser-upgrade-tips></ms-browser-upgrade-tips>
        <xmp is="ms-layout">
            <ms-layout-header :widget="{fixed:true}">
                <div class="header">
                    <h1 id="h1Caption">{{@titleName}}</h1>

                    <div class="loginfo">
                        <label id="labelWelCome">
                            <h5 class="currentUser">
                                <span class="info_title">用户：</span>
                                <span class="textNoWrap" ms-attr="{title: @userName}">{{@userName}}</span>
                                <span class="info_title">| 单位：</span>
                                <span class="textNoWrap" ms-attr="{title: @orgName}">{{@orgName}}</span>
                                <span class="role">
                                    <span class="info_title">| 角色：</span>
                                    <span class="textNoWrap" ms-attr="{title: @roleNames[0]}">{{@roleNames[0]}}</span>
                                    <i ms-if="@roleShow" class="fa fa-angle-down" aria-hidden="true"></i>
                                    <i ms-if="@roleShow" class="fa fa-angle-up" aria-hidden="true"></i>
                                    <div ms-if="@roleShow" class="userWrap">
                                        <div class="triangle"></div>
                                        <ul>
                                            <li ms-for="item in @roleNames" ms-attr="{title: @item}">{{item}}</li>
                                        </ul>
                                    </div>
                                </span>
                            </h5>
                            <p class="pWrap">
                                <span class="user-icon">
                                    <div class="userTip">
                                        <div class="triangle-8"></div>
                                        <a :click="@bindModify" id="aPwdModify" href="javascript:void(0);">
                                            <i class="fa fa-key" aria-hidden="true" style="padding-right: 8px;"></i>修改密码</a>
                                        <a :click="@bindLogout" id="aLogout" href="javascript:void(0);">
                                            <i class="fa fa-cog" aria-hidden="true" style="padding-right: 8px;"></i>退出登录</a>
                                    </div>
                                </span>
                            </p>
                        </label>
                    </div>
                </div>
            </ms-layout-header>
            <ms-layout :widget="">
                <div class="content clearfix">
                    <div class="business">
                        <div class="bsheader">
                            <span id="spanApp">功能</span>
                            <a id="bsConfig" :click="@showBs">配置
                                <span class="iconSetting"></span>
                            </a>
                        </div>

                        <ul id="bsUl" :class="['dragglist', @showBsTog ? 'dash-border' : '']">
                            <li :for="item in @bsList" :attr="{id: item.id}">
                                <a :css="{backgroundColor: item.rgb}" :click="@handleNewWindow(item.indexUrl)">
                                    <span :class="item.icon"></span>
                                    <h4>{{item.title}}</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="tools" :visible="@showBsTog">
                            <div class="delete">
                                <div class="del_bg"></div>
                                <ul class="dragglist">
                                </ul>
                            </div>
                            <div class="add">
                                <select id="selectBS" :change="@onSelected">
                                    <option :for="item in @optionsList" :class="item.code" :attr="{value:item.menuCode}">{{item.menuName}}</option>
                                </select>
                                <!-- <div class="select-arrow-down">▼</div> -->
                                <input type="color" id="colorpickerBS" />
                                <a href="javascript:void(0);" id="bsAdd" :click="@addBs">
                                    <div class="add_bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="system">
                        <div class="sysheader">
                            <span id="spanManage">系统</span>
                            <a id="sysConfig" :click="@showSys">配置
                                <span class="iconSetting"></span>
                            </a>
                        </div>

                        <ul id="sysUl" :class="['syslist', @showSysTog ? 'dash-border' : '']">
                            <li :for="item in @sysList" :attr="{id: item.id}">
                                <a :css="{backgroundColor: item.rgb}" :click="@handleNewWindow(item.indexUrl)">
                                    <span :class="item.icon"></span>
                                    <h4>{{item.title}}</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="tools" :visible="@showSysTog">
                            <div class="delete">
                                <div class="del_bg">
                                    <i class="fa fa-trash-o fa-5x" style="display: none;"></i>
                                </div>
                                <ul class="syslist">
                                </ul>
                            </div>
                            <div class="add">
                                <select id="selectSYS">
                                    <option :for="item in @sysOptionsList" :attr="{value:item.code}">{{item.name}}</option>
                                </select>
                                <!-- <div class="select-arrow-down">▼</div> -->
                                <input type="color" id="colorpickerSYS" />
                                <a href="javascript:void(0);" id="sysAdd" :click="@addSys">
                                    <div class="add_bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="">
                            <div class="ntheader">
                                <span id="spanDL">下载中心</span>
                                <a :click="@questionClick" id="question" href="#" title="下载中心 - 帮助说明">
                                    <i class="fa fa-question-circle fa-lg"></i>
                                </a>
                            </div>

                            <div class="msg">
                                <div class="shade"></div>
                                <h4>必装插件</h4>
                                <ul>
                                    <li>
                                        <a id="aFlashDL" href="/static/flash_player.zip">Flash插件</a>
                                    </li>
                                    <li>
                                        <a id="aMediaDL" :attr="{href: @version}">高新兴媒体播放器插件</a>
                                    </li>
                                </ul>
                                <h4>选装浏览器（3选1）</h4>
                                <ul>
                                    <li>
                                        <a id="ffactivex" :attr="{href: @defaultDownloadUrl}">高新兴国迈安全浏览器</a>
                                        <!-- 彩蛋哦 -->
                                        <a id="aTalkDL" class="egg" :attr="{href: @eggDownloadUrl}">彩蛋浏览器</a>
                                    </li>
                                    <li>
                                        <a href="/static/eie11_zh-cn_wol_win7.exe">IE 11 浏览器（Win7 32位）</a>
                                    </li>
                                    <li>
                                        <a href="/static/eie11_zh-cn_wol_win764.exe">IE 11 浏览器（Win7 64位）</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </ms-layout>
            <ms-layout-footer :widget="{fixed:true}">
            </ms-layout-footer>
        </xmp>

        <div class="pic_ocx" :if="@is_IE">
            <object id="gxxPlayOcx" classid="clsid:455791d4-4095-4f70-b2b3-f5c424f25ad9" width="100%" height="100%"></object>
        </div>
        <div class="pic_ocx" :if="!@is_IE">
            <embed type="application/npGSVideoPlugin-plugin" name="npGSVideoPlugin" id="npGSVideoPlugin_pic" width="100%" height="100%">
        </div>

        <div :controller="question-ctl">
            <xmp :widget="{is: 'ms-dialog',$innerVm:'question-ctl-inner', className: 'question-dialog', isMove: true, show:@show, width: 550, height: 350, onCancel:@editCancel, onOk:@editOk, okText:'', cancelText:''}">
                <div slot="body" ms-skip>
                    <div id="question-dialog-body">
                        <dl>
                            <dt></dt>
                            <dd>1. 请务必安装“Flash插件”及“高新兴媒体播放器插件”。前者支撑批量选择本地文件上传支持；后者给您提供媒体播放、实时点流功能及图像增强功能等。如未安装则会导致部分功能异常，影响您的正常使用。</dd>
                            <dd>2. 如您的操作系统为Windows 7 （32位 / 64 位）及以上版本，推荐您将IE浏览器升级到IE 11浏览器（Windows 7 32位 / Windows 7 64位）再进行使用。</dd>
                            <dd>3. 如您的操作系统为Windows 7 及以上版本，但想性能更佳且体验更好，推荐您下载并选用安装“高新兴国迈安全浏览器”。</dd>
                            <dd>4. 如您的操作系统为Windows XP，推荐您下载并安装“高新兴国迈安全浏览器”再进行使用。</dd>
                        </dl>

                    </div>
                </div>
            </xmp>
        </div>

        <div :controller="confirm-ctl">
            <xmp :widget="{is: 'ms-dialog', $innerVm:'confirm-ctl-inner', className: 'confirm-dialog', isMove: true, show:@show, width: 300, height: 175, onCancel:@editCancel, onOk:@editOk, okText:'确认', cancelText:''}">
                <div slot="body" ms-skip>
                    <div id="confirm-dialog-body">
                        <span ms-text="@confirmMsg"></span>
                    </div>
                </div>
                <div slot="footer" class="modal-footer" ms-skip>
                    <a class="btn btn-default" style="display: none;" :click="@editOk">确认</a>
                    <a class="btn btn-default" style="margin-right: 63px;" :click="@editCancel">关闭</a>
                </div>
            </xmp>
        </div>

        <!-- <div :controller="edit_pwd_vm" class="edit-pwd">
            <ms-dialog :widget="{$innerVm: 'edit_pwd_form', show: @show, onOk: @handleOk, onCancel: @handleCancel}">
                <div slot="body" ms-skip>
                    <div :controller="form_validate_vm">
                        <ms-form is="ms-form" :widget="{$form:@$form,inline:true}">
                            <ms-form-item :widget="{label:'原密码:'}">
                                <ms-input :widget="{col:'old_pwd', value:old_pwd, type:'password', $rules:{required:true,message:'请输入原密码!'}}"></ms-input>
                            </ms-form-item>
                            <ms-form-item :widget="{label:'新密码:'}">
                                <ms-input :widget="{col:'new_pwd', value:new_pwd, type:'password', $rules:{required:true,message:'请输入新密码!'}}"></ms-input>
                            </ms-form-item>
                            <ms-form-item :widget="{label:'确认新密码:'}">
                                <ms-input :widget="{col:'rep_pwd', value:rep_pwd, type:'password', $rules:{required:true,message:'请输入确认的新密码!'}}"></ms-input>
                            </ms-form-item>                       
                        </ms-form>
                    </div>              
                </div>
            </ms-dialog>
        </div> -->
        <ms-header-operation></ms-header-operation>
        <!-- <div :controller="changePwd">
            <xmp :widget="{is:'ms-dialog', $innerVm:'change_Pwd', show:@show, width: 450, height: 350, onCancel:@editCancel, onOk:@editOk, okText:'提交', cancelText:'取消'}">
                <div slot="body" ms-skip>
                    <div id="changePwd">
                        <div class="ipt-class">
                            <ms-label-tips :widget="{label:'原密码:'}">
                                <ms-input-tips :widget="{value:@record.oldPwd, tips_prompt:true, tips_error: @oldPwd_tips_error, tips_html:@oldPwd_tips_text, type: 'password', col: 'oldPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入旧密码'}}"></ms-input-tips>
                            </ms-label-tips>
                        </div>
                        <div class="ipt-class">
                            <ms-label-tips :widget="{label:'新密码:'}">
                                <ms-input-tips :widget="{value:@record.newPwd, tips_prompt:true, tips_error: @newPwd_tips_error, tips_html:@newPwd_tips_text, type: 'password', col: 'newPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入新密码'}}"></ms-input-tips>                    
                            </ms-label-tips>
                        </div>
                        <div class="ipt-class">
                            <ms-label-tips :widget="{label:'确认新密码:'}">
                                <ms-input-tips :widget="{value:@record.repPwd, tips_prompt:true, tips_error: @repPwd_tips_error, tips_html:@repPwd_tips_text, type: 'password', col: 'repPwd', onChange:@iputhandle, $rules: {required: true, message: '请重复新密码'}}"></ms-input-tips>
                            </ms-label-tips>    
                        </div>                  
                    </div>
                </div>
            </xmp>
        </div> -->

        <!-- <div :controller="logoutVm" class="logout-vm">
            <xmp :widget="{is: 'ms-dialog', $innerVm: 'logout_inner', show: @show_logout, width: 450, height: 195, onCancel: @cancelLogout, onOk: @handleLogout, okText:'退出'}">
                <div slot="body" ms-skip>
                    <h5 :css="{'font-size': '16px', 'color': '#536b82'}" ms-text="@logoutMsg"></h5>
                </div>
            </xmp>
        </div> -->
    </div>
</template>