body,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "microsoft yahei", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

xmp {
    display: none;
}

.ms-controller,
xmp {
    visibility: hidden;
}

html,
body {
    min-width: 1440px;
    width: 100%;
    height: 100%;
    color: #333333;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

/* header start*/

.ane-layout-fixed-header {
    position: fixed;
    z-index: 1;
}

.tyywglpt_vm .logo {
    width: auto;
    font-weight: bold;
}

/* header end*/

/* sidebar start*/

#sidebar {
    width: 180px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 66px;
    z-index: 1;
    background: #05599A;
    border-right: 1px solid #d3e3f1;
    margin-right: 10px;
    overflow: auto;
}

/* sidebar end*/

/* content start */

.tyywglpt_vm #content {
    position: relative;
    height: 100%;
    /* 有版权信息时width: 94% */
    margin-left: 180px;
    padding: 66px 8px 22px 8px;
}

/* content end */

.tyywglpt-menu-root.tyywglpt-menu-inline {
    box-shadow: none;
}

.tyywglpt-menu-vertical {
    border-right: 1px solid #d3e3f1;
}

.tyywglpt-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    color: #fff;
    background: #05599A;
    line-height: 36px;
}

.tyywglpt-menu-submenu {
    position: relative;
    cursor: pointer;
}

.tyywglpt-menu-sub-sub .tyywglpt-menu-item {
    margin: 0 -8px 0 -28px;
}

.tyywglpt-menu-sub-sub .tyywglpt-menu-item a {
    padding: 0 16px 0 56px;
}

.tyywglpt-menu-inline>.tyywglpt-menu-submenu>.tyywglpt-menu-submenu-title {
    padding: 0 0 0 8px;
    font-size: 16px;
    line-height: 46px;
    height: 46px;
}

.tyywglpt-menu-submenu-title,
.tyywglpt-menu-sub-submenu-title {
    color: #fff;
    position: relative;
}

.tyywglpt-menu-item,
.tyywglpt-menu-submenu-title {
    margin: 0;
    position: relative;
    display: block;
    white-space: nowrap;
}

.tyywglpt-menu-hidden {
    display: none
}

.tyywglpt-menu-item {
    padding: 0 8px 0 28px;
    cursor: pointer;
    color: #01589f;
    font-size: 14px;
}

.tyywglpt-menu-item a {
    display: block;
    padding: 0 8px 0 28px;
    margin: 0 -8px 0 -28px;
}

.tyywglpt-menu-item a:hover {
    color: #fff;
}

.tyywglpt-menu-item-selected {
    background: #2391E5;
}

.tyywglpt-menu-item-selected a,
.tyywglpt-menu-item-selected a:hover {
    color: #ffffff;
}

.tyywglpt-menu-item-unselected {
    background: #05599A;
}

.tyywglpt-menu-item-unselected a {
    color: #ffffff;
}

.tyywglpt-menu .tyywglpt-menu-submenu-title span,
.tyywglpt-menu .tyywglpt-menu-submenu-title a {
    display: inline-block;
    height: 24px;
    color: #fff;
    line-height: 24px;
    padding-left: 24px;
}

.tyywglpt-menu .tyywglpt-menu-submenu-title .no-children-icon {
    padding-left: 0;
}

.tyywglpt-menu .tyywglpt-menu-submenu-title.open {
    background: url(/static/image/tyywglpt/menu_open.png?__sprite) no-repeat 142px 0;
}

.tyywglpt-menu .tyywglpt-menu-submenu-title.shrink {
    background: url(/static/image/tyywglpt/menu_close.png?__sprite) no-repeat 142px 0;
}

.tyywglpt-menu .tyywglpt-menu-sub-submenu-title.open {
    background: url(/static/image/tyywglpt/menu_sub_open.png?__sprite) no-repeat 114px 0;
}

.tyywglpt-menu .tyywglpt-menu-sub-submenu-title.shrink {
    background: url(/static/image/tyywglpt/menu_sub_close.png?__sprite) no-repeat 114px 0;
}

.tyywglpt-menu .sbzrgltb {
    background: url(/static/image/tyywglpt/sbzrgltb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .ptjlgltb {
    background: url(/static/image/tyywglpt/ptjlgltb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .ccfwgltb {
    background: url(/static/image/tyywglpt/ccfwgltb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .bacspztb {
    background: url(/static/image/tyywglpt/bacspztb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .rwgltb {
    background: url(/static/image/tyywglpt/rwgltb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .xtrzgltb {
    background: url(/static/image/tyywglpt/xtrzgltb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .sjgltb {
    background: url(/static/image/tyywglpt/sjgltb.png?__sprite) no-repeat 0 0;
}

.tyywglpt-menu .sqgltb {
    background: url(/static/image/tyywglpt/sqgltb.png?__sprite) no-repeat 0 0;
}

.ane-layout-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 66px;
    padding: 0 20px;
    background-color: #0078d7;
    z-index: 10;
}

.ane-layout {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.ane-layout .ane-layout {
    width: 100%;
    height: 91%;
}

.ane-layout-sider {
    float: left;
    height: 65px;
    background-color: #0078d7;
}

.ane-layout-fixed-sider .ane-layout-sider-inner {
    float: left;
    overflow: auto;
    margin: 0 auto;
    border-bottom: solid 0 #fff;
}

.ane-layout-content-wrapper {
    width: 100%;
    height: 100%;
    /*width: 1300px;
    margin: 0 auto;*/
    background-color: inherit;
}

.ane-menu>li {
    font-size: 12px;
    line-height: 65px;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 65px;
    list-style: none;
    text-align: center;
}

.ane-menu>li>a {
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    font-family: "microsoft yahei";
}

.ane-menu>li>a:hover {
    color: #fff;
}

.ane-menu-item>a {
    padding: 0 !important;
}

.ane-menu-item-selected {
    background-color: #01589F;
    border-bottom: 3px solid;
}

.ane-menu-item-selected:after {
    border-right: none;
}

.ane-menu-item>a>i:first-child {
    margin-right: 0;
}

.header-img {
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    background-color: #006cb7;
}

.logo {
    /* float: left;
    width: 300px;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    padding-left: 52px;
    color: #fff;
    position: relative; */
    background: url(/static/image/index/logo.png?__sprite) no-repeat 0 center;
    font-size: 24px;
    border-radius: 6px;
    float: left;
    padding-left: 52px;
    color: #fff;
    height: 46px;
    line-height: 46px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

/* .logo-icon {
    background: url(/static/image/index/logo.png?__sprite) no-repeat;
    width: 42px;
    height: 45px;
    position: absolute;
    top: 8px;
    left: 10px;
} */

.setting {
    width: 100px;
    height: 66px;
    float: right;
    line-height: 66px;
    text-align: right;
}

.setting span {
    /* display: inline-block;
    width: 22px;
    height: 66px;
    line-height: 66px;
    margin-left: 25px;
    cursor: pointer; */
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    width: 22px;
    height: 22px;
    /* line-height: 76px; */
    /* padding: 20px; */
    margin-top: 22px;
}

.setting .header-home {
    background: url(/static/image/index/home.png?__sprite) center center no-repeat;
}

.setting .header-help {
    background: url(/static/image/index/help.png?__sprite) center center no-repeat;
}

.setting .header-setting {
    background: url(/static/image/index/setting.png?__sprite) center center no-repeat;
}

.setting-info {
    width: 110px;
    height: 100%;
    font-size: 12px;
    line-height: 63px;
    padding: 0 0 0 0px;
    float: right;
    color: #fff;
    position: relative;
    margin-right: 15px;
    background: url(/static/image/index/admin.png?__sprite) no-repeat left center;
}

.textNoWrap {
    max-width: 86px;
    height: 66px;
    line-height: 66px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    Word-break: break-all;
    text-align: left;
}

.info_title {
    float: left;
    margin-left: 4px;
    height: 66px;
    line-height: 66px;
}

.currentUser {
    float: right;
    color: #fff;
    height: 66px;
    line-height: 66px;
    margin: 0px;
    position: relative;
}

.userWrap {
    position: absolute;
    z-index: -1;
    top: 50px;
    right: -80px;
    width: 120px;
    background-color: #ffffff;
    border: 1px solid #d4d7d9;
    display: none;
    /* opacity: 0;
    filter:alpha(opacity=0);
    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s; */
}

.userWrap>ul {
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
}

.userWrap>ul>li {
    line-height: 24px;
    width: 100%;
    min-height: 24px;
    color: #536b82;
    text-align: center;
    list-style: none;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    Word-break: break-all;
}

.userWrap>ul>li:hover {
    cursor: pointer;
    color: #076FCB;
    background-color: #dddddd;
}

.role {
    display: inline-block;
    height: 66px;
    line-height: 66px;
}

.role>i.fa-angle-up {
    display: none;
}

.role>i.fa-angle-down {
    display: inline-block;
    margin-left: 4px;
}

.role:hover>i.fa-angle-up,
.role:hover>.userWrap {
    display: inline-block;
    margin-left: 4px;
    /* opacity: 1;
    filter:alpha(opacity=100);
    z-index: 10; */
}

.role:hover>i.fa-angle-down {
    display: none;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 25px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.setting_bar {
    position: absolute;
    z-index: 10;
    top: 65px;
    right: 10px;
    width: 120px;
    height: 90px;
    background-color: #0078d7;
}

.setting_bar>ul {
    position: relative;
    margin-top: 4px;
}

.setting_bar>ul>li {
    line-height: 40px;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    list-style: none;
    /* border-bottom: 1px solid #f4f5f7; */
}

.setting_bar>ul>li:hover {
    cursor: pointer;
    background-color: #01589f;
}

.setting-info .hdrop {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    float: right;
    margin-left: 10px;
    margin-top: 21px;
    height: 20px;
    right: 0px;
    position: relative;
    border: none;
    background: url(/static/image/index/unify.png?__sprite) no-repeat;
}

.setting-info .hdrop:hover {
    background: url(/static/image/index/unify.png?__sprite) no-repeat #3b82b5;
}

.setting-info .rheader {
    float: right;
    margin-left: 5px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    height: 62px;
    position: relative;
}

.setting .exchange {
    padding: 0px;
    line-height: 63px;
    display: block;
    background: url(/static/image/index/exchange.png?__sprite) no-repeat;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    margin-top: 17px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    float: right;
}

.setting a {
    outline: none;
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    padding: 0px 15px;
    text-align: center;
}

.setting .exchange:hover {
    background: url(/static/image/index/exchange_sel.png?__sprite) no-repeat;
}

.userManager-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/userManager.png?__sprite) no-repeat;
}

.orgManager-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/orgManager.png?__sprite) no-repeat;
}

.funcRoleManager-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/funcRoleManager.png?__sprite) no-repeat;
}

.sysMenuManager-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/sysMenuManager.png?__sprite) no-repeat;
}

.sysNoticeManager-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/sysNoticeManager.png?__sprite) no-repeat;
}

.dictManager-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/dictionaryManager.png?__sprite) no-repeat;
}

.Worklog-icon {
    width: 26px;
    height: 65px;
    float: left;
    left: 14px;
    background: url(/static/image/xtpzgl-yhgl/Worklog.png?__sprite) no-repeat;
}

/* 弹窗右上角关闭图标样式 */

.close {
    color: #fff;
    opacity: 1;
}

#footer {
    width: 100%;
    padding-left: 200px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    color: #666;
}

#footer p {
    margin: 0;
}

/* 屏蔽输入框默认的x */

input::-ms-clear {
    display: none;
    /* color: transparent; */
    /* opacity: 0; */
    /* width: 20px;
    height: 20px;
    margin-right: -12px;
    overflow: hidden;
    background: url(/static/image/tyywglpt/clear.png?__sprite) no-repeat 0 0; */
}

/* ane与bootstrap的样式覆盖 */

.ane-select-dropdown {
    color: #536b82;
}

.ane-select-selection .ane-select-selected {
    padding: 0;
    text-align: left;
}

.ane-select-dropdown-menu-item:focus,
.ane-select-dropdown-menu-item:hover {
    background-color: #e0e7ec;
}

.ane-select-dropdown-menu-item-selected,
.ane-select-dropdown-menu-item-selected:hover {
    color: #536b82;
    background-color: #eee;
}

.form-control {
    color: #536b82;
    border: 1px solid #d1d0d0;
}

.form-control:focus {
    border-color: #84bbf2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(188, 226, 255, .6);
}

.ane-select-selection .ane-select-selected {
    max-width: 85%;
}

.ane-select-selection input.ane-select-search-field {
    line-height: 1;
}