@font-face {
  font-family: 'common-icon';
  src:  url('fonts/common-icon.eot?fce4f1');
  src:  url('fonts/common-icon.eot?fce4f1#iefix') format('embedded-opentype'),
    url('fonts/common-icon.ttf?fce4f1') format('truetype'),
    url('fonts/common-icon.woff?fce4f1') format('woff'),
    url('fonts/common-icon.svg?fce4f1#common-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'common-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 46px;
  color: #ffffff;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ajgl:before {
  content: "\e900";
  color: #fff;
}
.icon-bmgl:before {
  content: "\e901";
}
.icon-ccfwgl:before {
  content: "\e902";
}
.icon-cjgzzgl:before {
  content: "\e903";
}
.icon-cjzscfwgl:before {
  content: "\e904";
}
.icon-cpcj:before {
  content: "\e905";
}
.icon-czrz:before {
  content: "\e906";
}
.icon-gjcx:before {
  content: "\e907";
  color: #fff;
}
.icon-gjgl:before {
  content: "\e908";
  color: #fff;
}
.icon-glqktj:before {
  content: "\e909";
  color: #fff;
}
.icon-gnqx:before {
  content: "\e90a";
  color: #fff;
}
.icon-jdkp:before {
  content: "\e90b";
  color: #fff;
}
.icon-jqgl:before {
  content: "\e90c";
}
.icon-lxhf:before {
  content: "\e90d";
  color: #fff;
}
.icon-rlcj:before {
  content: "\e90e";
  color: #515151;
}
.icon-rwgl:before {
  content: "\e90f";
}
.icon-rzgl:before {
  content: "\e910";
  color: #fff;
}
.icon-sbsjrz:before {
  content: "\e911";
  color: #fff;
}
.icon-sbzygl:before {
  content: "\e912";
}
.icon-sfzcj:before {
  content: "\e913";
}
.icon-sjbgl:before {
  content: "\e914";
}
.icon-sjgl:before {
  content: "\e915";
}
.icon-sjscrw:before {
  content: "\e916";
}
.icon-sjzd:before {
  content: "\e917";
  color: #fff;
}
.icon-slqktj:before {
  content: "\e918";
  color: #fff;
}
.icon-spjk:before {
  content: "\e919";
  color: #fff;
}
.icon-sqfwgl:before {
  content: "\e91a";
  color: #fff;
}
.icon-sszh:before {
  content: "\e91b";
}
.icon-sszhxt:before {
  content: "\e91c";
  color: #fff;
}
.icon-tjfx:before {
  content: "\e91d";
  color: #fff;
}
.icon-tyywgl:before {
  content: "\e91e";
  color: #fff;
}
.icon-xtpzgl:before {
  content: "\e91f";
  color: #fff;
}
.icon-xxcj:before {
  content: "\e920";
}
.icon-yhgl:before {
  content: "\e921";
  color: #fff;
}
.icon-yspk:before {
  content: "\e922";
  color: #fff;
}
.icon-yspsjgl:before {
  content: "\e923";
  color: #fff;
}
.icon-zctj:before {
  content: "\e924";
}
.icon-zfda:before {
  content: "\e925";
  color: #fff;
}
.icon-zfygl:before {
  content: "\e926";
}
.icon-zfyps:before {
  content: "\e927";
}
