<template>
    <div class="zfsypsjglpt_tjfx_zctj_jjb">
        <div class="search_box" :if="@authority.SEARCH || @authority.EXPORT">
            <div class="hBox">
                <div class="dataFormBox" :if="@authority.SEARCH">
                    <span style="margin-right: 3px;">所属部门:</span>
                    <div class="dep_tree" :controller="zcqktj_tree_jjb">
                        <ms-tree-selecting :widget="{tree: @yspk_data, showSearch: true, wrapId: 'zfyps-tree-select', getSelected: @getSelected, selectedKey: @tree_key ? @tree_key : '', selectedTitle: @tree_title ? @tree_title : '', onChange: @select_change, extraExpandHandle: @extraExpandHandle}"></ms-tree-selecting>
                    </div>
                </div>
                <!-- <div class="dataFormBox" :controller="zctj_count_type_jjb" :if="@authority.SEARCH">
                    <span style="margin-right: 3px;">统计对象:</span>
                    <ms-select :widget="{col: 'con', options:@count_type_options, value: @count_type, onChange: @onChangeT}" :class="['formInput']"></ms-select>
                </div> -->
            </div>
            <div class="zctj_btnClass">
                <a :if="@authority.EXPORT" class="export_btn" :click="@exportBtn">导出</a>
                <a :if="@authority.SEARCH" class="search_btn" :click="@searchBtn(0)">查询</a>
            </div>
        </div>
        <div class="zfsypsjglpt-tjfx-breadcrumb">
            <ms-org-breadcrumb :widget="{cid:'zfsypsjglpt_tjfx_zctj_jjb', list: @breadcrumbList, handleclick: @breadcrumbClick}" :visible="@breadcrumbList.length>0"></ms-org-breadcrumb>
        </div>
        <div :controller="zfsypsjglpt_tjfx_zcqktj_table_jjb">
            <div :class="['tjfx_zctj_tabCont']" :css="{top:@tjfx_zctj_tabCont_top}">
                <div :controller="tjfx_zctj_table" :class="['table-index']" id="tjfx_zctj_table">
                    <div class="table-index-thead-fixed">
                        <ul class="zctjjj_table_parent" :css="{paddingRight:@paddingRight}">
                            <li parent="1" class="col-4">
                                <span style="visibility: hidden;">序号</span>
                            </li>
                            <li parent="2" class="col-20">
                                <span style="visibility: hidden;">执勤部门</span>
                            </li>
                            <li parent="3" class="col-6">
                                <span style="visibility: hidden;">人数</span>
                            </li>
                            <li parent="4" class="col-34">
                                <span>执法记录仪</span>
                            </li>
                            <li parent="5" class="col-36">
                                <span>采集工作站</span>
                            </li>
                        </ul>
                        <ul class="table-index-thead zctjjj_table_son" :css="{paddingRight:@paddingRight}">
                            <li data-order="1" son="1" class="col-4" style="border-top: none">
                                <span class="zctjjj_table_son_span">序号</span>
                            </li>
                            <li data-order="2" son="2" class="col-20">
                                <span class="zctjjj_table_son_span">执勤部门</span>
                            </li>
                            <li data-order="3" son="3" class="col-6">
                                <span class="zctjjj_table_son_span">执法人数</span>
                            </li>
                            <li data-order="4" son="4" class="col-4 zctjjj_table_down"> 总台数 </li>
                            <li data-order="5" son="4" class="col-4 zctjjj_table_down"> 正常 </li>
                            <li data-order="6" son="4" class="col-4 zctjjj_table_down"> 维修 </li>
                            <li data-order="7" son="4" class="col-4 zctjjj_table_down"> 停用 </li>
                            <li data-order="8" son="4" class="col-4 zctjjj_table_down"> 注销 </li>
                            <li data-order="9" son="4" class="col-14 zctjjj_table_down" id="zctj-jjb-pfl"> 执法仪配发率
                                <span class="hint_Pfl" :click="@hint_Pfl">
                                    <div :if="@hintPfl_flag" class="zctj-hint-content1">
                                        <div class="zctj-hint-triangle1"></div>
                                        <!-- <p>执法记录仪配发率</p> -->
                                        <!-- <div style="text-align: left">执法记录仪配发率=（部门所有执法记录仪总数量/部门终端用户数）*100%，</div>
                                        <div style="text-align: left">执法记录仪总数量含正常、维修、停用、注销状态的执法记录仪数量。</div> -->
                                        <div style="text-align: left">执法记录仪配发率=（部门正常使用执法记录仪总数量 / 总执法人数）*100%</div>
                                        <!-- <div style="text-align: left">总执法人数包括辅警和警员。</div> -->
                                    </div>
                                </span>
                            </li>

                            <li data-order="10" son="5" class="col-10 zctjjj_table_down"> 台数 </li>
                            <li data-order="11" son="5" class="col-10 zctjjj_table_down"> 总容量(GB) </li>
                            <li data-order="12" son="5" class="col-16 zctjjj_table_down" id="zctj-jjb-ccl"> 人均存储量(GB)
                                <span class="hint_Rjccl" :click="@hint_Rjccl">
                                    <div :if="@hintRjccl_flag" class="zctj-hint-content2">
                                        <div class="zctj-hint-triangle2"></div>
                                        <!-- <p>执法记录仪配发率</p> -->
                                        <div style="text-align: left">人均存储量=部门所有采集站工作站总存储容量/部门执法人数。</div>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <ul class="table-index-tbody">
                        <li class="list-null" :if="!@data.length">暂无数据</li>
                        <li :for="($index, record) in @data">
                            <div class="tbody col-4">
                                <div class="table-cont">{{(@currentPage - 1) * @prePageSize + $index + 1}}</div>
                            </div>
                            <div class="tbody col-20">
                                <div class="table-cont" :click="@searchBtn(1,record)" style="color: #0419dc; cursor: pointer;" :attr="record['orgName'] && (record['orgName'] != '-') ? {rel:'drevil',tdval:record['orgName']}:''">
                                    {{record['orgName']}}
                                </div>
                            </div>
                            <div class="tbody col-6">
                                <div class="table-cont" :attr="record['orgUserTotal'] && (record['orgUserTotal'] != '-') ? {rel:'drevil',tdval:record['orgUserTotal']}:''">
                                    {{record['orgUserTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-4">
                                <div class="table-cont" :attr="record['countTotal'] && (record['countTotal'] != '-') ? {rel:'drevil',tdval:record['countTotal']}:''">
                                    {{record['countTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-4">
                                <div class="table-cont" :attr="record['normalTotal'] && (record['normalTotal'] != '-') ? {rel:'drevil',tdval:record['normalTotal']}:''">
                                    {{record['normalTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-4">
                                <div class="table-cont" :attr="record['repairTotal'] && (record['repairTotal'] != '-') ? {rel:'drevil',tdval:record['repairTotal']}:''">
                                    {{record['repairTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-4">
                                <div class="table-cont" :attr="record['deactiveTotal'] && (record['deactiveTotal'] != '-') ? {rel:'drevil',tdval:record['deactiveTotal']}:''">
                                    {{record['deactiveTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-4">
                                <div class="table-cont" :attr="record['scrapTotal'] && (record['scrapTotal'] != '-') ? {rel:'drevil',tdval:record['scrapTotal']}:''">
                                    {{record['scrapTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-14">
                                <div class="table-cont" :attr="record['allotRatio'] && (record['allotRatio'] != '-') ? {rel:'drevil',tdval:record['allotRatio']}:''">
                                    {{record['allotRatio']}}
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['workstationTotal'] && (record['workstationTotal'] != '-') ? {rel:'drevil',tdval:record['workstationTotal']}:''">
                                    {{record['workstationTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['spaceTotal'] && (record['spaceTotal'] != '-') ? {rel:'drevil',tdval:record['spaceTotal']}:''">
                                    {{record['spaceTotal']}}
                                </div>
                            </div>
                            <div class="tbody col-16">
                                <div class="table-cont" :attr="record['spacePerDsjUser'] && (record['spacePerDsjUser'] != '-') ? {rel:'drevil',tdval:record['spacePerDsjUser']}:''">
                                    {{record['spacePerDsjUser']}}
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div class="table-index-loading" :if="@loading">
                        <span class="loadingSpan">结果加载中</span>
                    </div>
                    <!-- <div :if="!@loading && !@data.length" class="noData">暂无数据</div> -->
                </div>
            </div>
            <ms-pages :widget="{total:@total,pageSize:@pageSize,current:@current,onChange:@pageChange,getCurrent:@getCurrent,getPageSize:@getPageSize}"></ms-pages>
        </div>
    </div>
</template>