<template>
    <div class="zfsypsjglpt-zfda-ajgl-gdkl">
        <!-- topbar -start -->
        <div class="topbar">
            <span class="infos">已选择 2 个文件，总大小 2.1 GB</span>
            <input type="button" id="fileupload" class="btn btn-normal" value="添加本地文件" onclick="document.getElementById('fileupload-file').click();">
            <div id="fileupload-container">
                <input id="fileupload-file" type="file" tabindex="-1">
            </div>
        </div>
        <!-- topbar -end -->

        <!-- list -strat -->

        <div :class="['ajgl-tabCont']">
            <div :class="['table-index']">
                <div class="table-index-thead-fixed">
                    <ul class="table-index-thead" :css="{paddingRight:@paddingRight}">
                        <li class="col-5">
                            <ms-gdkl-checkbox :widget="{config:checkboxAllConfig,onChang:checkboxAllChange}"></ms-gdkl-checkbox>
                        </li>
                        <li class="col-10">序号</li>
                        <li class="col-25">文件名称</li>
                        <li class="col-30">拍摄时间</li>
                        <li class="col-30">文件大小</li>
                    </ul>
                </div>

                <ul class="table-index-tbody">
                    <li :if="(!@data.length)" class="list-null">暂无数据</li>

                    <li :for="($index,item) in @data">
                        <div class="tbody col-5">
                            <ms-gdkl-checkbox :widget="{config:item,onChang:checkboxChange}"></ms-gdkl-checkbox>
                        </div>

                        <div class="tbody col-10">
                            <div class="table-cont">{{$index}}</div>
                        </div>

                        <div class="tbody col-25">
                            <div class="table-cont">
                                XXXXXXXXXXXX.avi
                            </div>
                        </div>

                        <div class="tbody col-30">
                            <div class="table-cont">
                                2018-01-14 18:20:34
                            </div>
                        </div>

                        <div class="tbody col-30">
                            <div class="table-cont">
                                0.6GB
                            </div>
                        </div>

                    </li>
                </ul>

                <div class="table-index-loading" :if="@loading">
                    <span class="loadingSpan">结果加载中</span>
                </div>

            </div>
        </div>
        <!-- list -end -->
        <div class="kelu">
            <div class="kelutools">
                <div class="item item-kulu">
                    <a class="kelu-btn">开始刻录</a>
                </div>
                <div class="item item-keluimg">
                    <img src="../../static/image/zfsypsjglpt-zfda-ajgl-gdkl/kelu.png" class="img-circle" width="89" height="89" alt="kelu.png">
                </div>
                <div class="item item-progress">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                            style="width: 40%">
                        </div>
                        <span class="Speed">40%</span>
                    </div>
                    <div class="text-center kelu-loading">正在刻录，请稍等......</div>
                </div>
            </div>

        </div>
    </div>
</template>