.inline-component {
    display: inline-block;
    margin-right: 15px;
}

.top-form-inline {
    margin: 10px 0px 10px 0px;
}

.top-form-inline input {
    margin-right: 15px;
    margin-left: 5px;
}

.top-form-inline span {
    font-size: 14px;
    color: #536b82;
}

.ajgl-container {
    display: block;
    overflow: auto;
    float: left;
    position: absolute;
    left: 186px;
    right: 0px;
    top: 67px;
    height: 91%;
    min-height: 765px;
    min-width: 1163px;
    padding-right: 8px;
}

.ajgl-container .top-form-inline .form-control {
    width: 180px;
    margin-left: 5px;
    height: 28px;
    line-height: 1.028571;
}

.top-form-inline .has-feedback label {
    font-size: 14px;
    font-weight: 200;
    margin-left: 13px;
    color: #536b82;
}

.ajgl-container .top-form-inline .has-feedback {
    width: 285px;
}

.inline-component .has-feedback {
    vertical-align: baseline !important;
}

.ajgl-container .top-form .timeCover {
    margin-left: 4px\0;
    position: absolute;
    white-space: nowrap;
}

.ajgl-container  .timeCover .has-feedback:first-child {
    margin-left: 8px;
}

.ajgl-container  .timeCover> .has-feedback {
    width: 48% !important;
    white-space: nowrap;
}

.ajgl-container  .timeCover .ane-datepicker-input {
    margin-right: 0px;
}

.sary {
    margin-left: 13px;
}

.ajgl_search_btn {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fd8702;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-left: 10px;
    position: absolute;
    top: 60px;
    right: 35px;
}

.ajgl_search_btn:hover,
.jqgl_search_btn:hover {
    background-color: #db7400;
}

.ajgl-table table thead tr th {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 1px solid #DFE6EC;
    border-left: 1px solid #DFE6EC;
}

#aqglTable {
    position: absolute;
    /* width: 100%; */
    top: 181px;
    bottom: 40px;
    /* height: 100%; */
    right: 8px;
    left: 0px;
}

#aqglTable .table {
    /* width: 1727px !important; */
}

.ajgl-table {
    color: #526A82;
    width: 100%;
    /* cursor: pointer; */
    margin-top: 8px;
}

.ajgl-table table {
    border: 1px solid #DFE6EC;
}

.ajgl-table table tbody tr td {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #DFE6EC;
    border-left: 1px solid #DFE6EC;
}

.inline-component .checkbox-group .ane-radio-inner-ie {
    width: 29px;
    height: 31px;
}

.inline-component .checkbox-group .ane-radio-inner-ie span {
    top: -21px;
    margin-left: 6px;
}

.inline-detePick {
    display: inline-block;
}

.inline-component .ane-datepicker {
    /* width: 180px !important; */
    width: 48%;
    max-width: 180px;
}

.inline-component .ane-datepicker:first-child {
    margin-left: 12px;
}

.between-date {
    margin-left: 7px;
}

.ajql-container {
    height: 600px;
}

.checkLook {
    cursor: pointer;
    color: #0419dc;
}

.inline-radio-group {
    width: 290px;
    margin-right: -41px !important;
}

.inline-radio-group .radio {
    width: 90px;
}

.ajgl-table .pull-right,
.ajgl-table .clearfix {
    display: block;
}

.ajgl-container .bjsj_aj {
    margin-left: 25px;
    /* margin-left: 21px\0; */
}

.ajgl-container .ajbottomForm {
    position: relative;
    height: 28px;
}

.ajgl-container .ajbottomForm>.has-feedback+.has-feedback {
    position: absolute;
    left: 279px;
    /* left: 281px\0; */
}

.ajgl-container .ajbottomForm>.inline-component {
    position: absolute;
    left: 643px;
    /* left: 647px\0; */
}

.ajgl-container .ajglmt {
    position: absolute;
    left: 582px;
    top: 5px;
}

.ajgl-table .clearfix,
.ajgl-table .pull-right {
    display: none;
}

.top-form {
    padding: 1px;
    background: #f3f5f7;
    border: 1px #e4e4e4;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ajgl-table .table-saika thead tr {
    height: 32px;
}

.ajgl-table .table-saika .fixed-table-saika-thead .table>thead tr th {
    line-height: 34px;
    border: 1px solid #a5b4bd;
    font-size: 14px;
}

.ajgl-table .table-saika .table>thead {}

.ajgl-table .table-saika .table>tbody>tr>td {
    font-size: 14px;
    color: #536b82;
    border: 1px solid #e0e7ec;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ajgl-table .table-saika .table>tbody>tr {
    height: 34px;
}

.ajgl-table table tbody tr:hover {
    /* background-color: #F4F5F7; */
    background-color: #e8eff5;
}

.ajgl-table .table-saika .fixed-table-saika-thead .table {
    /* width:100% !important; */
}

.ajgl-table .table-saika .fixed-table-saika-tbody {
    position: absolute;
    width: 100%;
    top: 36px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
}

.ajtb .fixed-table-saika-tbody .table-bordered thead tr th {
    border: none !important;
}

.top-form .ane-select-arrow,
.top-form .ane-tree-select-arrow {
    position: absolute;
    top: 5px;
}

.tjglClass .modal-header {
    height: 50px;
}

.ck-head {
    vertical-align: top;
    margin-top: 13px;
}

.ajgl-time-null {
    position: relative;
    height: 11px;
}

.ajgl-time-null .yhgl-yhtc-prompt {
    position: position;
    display: inline-block;
    top: 0px;
}

.ajgl-time-null .jqgl-prompt-st {
    left: 648px;
}

.ajgl-time-null .jqgl-prompt-et {
    left: 918px;
}

.scrollInfo {
    color: #536b82;
}

.tjglClass .modal-header h4 {
    font-size: 16px;
}

.gljq {
    width: 100%;
    /* height: 83px; */
    background-color: #f2f2f2;
    padding-left: 20px;
    /* margin-top: 4px; */
}

.gljq_inline {
    display: inline-block;
    width: 43%;
    /* margin: 5px 5px; */
    color: #536b82;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    height: 35px;
    line-height: 35px;
}

.gljq_inline .ane-select {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 30px
}

.all-info {
    background: #0078d7;
    float: right;
    width: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 103px;
    height: 30px;
    line-height: 30px;
}

.all-info:hover {
    background: #0057a1;
}

.showInfoClass .modal-header {
    background-color: #096ec6;
    color: white;
}

.showInfoClass .btn-primary {
    display: none;
}

.showInfoClass .modal-footer button {
    border-radius: 0px;
    width: 120px;
    height: 30px;
}

.showInfoClass .modal-footer {
    text-align: center;
}

.showInfoClass .modal-footer .btn {
    background-color: #0078d7;
    color: white;
    line-height: 14px;
}

.showInfoClass .modal-footer .btn:hover {
    background: #0057a1;
}

.showInfoClass .modal-body {
    padding-left: 35px;
}

.showInfoClass .modal-footer {
    /* padding-bottom: 5px;
     */
}

.ajgl-showinfo {
    width: 980px !important;
}

.allinfo-dialog span {
    display: inline-block;
    width: 300px;
    margin-right: 5px;
    cursor: pointer;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.allinfo-dialog>div {
    margin: 20px 0px;
    color: #536b82;
}

.padSpan {
    padding-left: 28px;
}

.ajgl-ck-mid .glmt-cj-content {
    height: 305px;
}

.ajgl-showinfo {
    /* margin-top: 10%; */
}

.jqgl-container ::-ms-clear,
.ajgl-container ::-ms-clear {
    /* display: none; */
}

.gljq_inline span {
    cursor: pointer;
}

.ajgl-container .ajbh_close {
    left: 233px;
    top: -37px;
    left: 236px\0;
}

.ajgl-container .ajmc_close {
    left: 517px;
    top: -37px;
    left: 521px\0;
}

.ajgl-container .jqbh_close {
    left: 802px;
    top: -37px;
    left: 809px\0;
}

.ajgl-container .sary_close {
    left: 233px;
    top: -37px;
    left: 236px\0;
}

.ajgl-container .jy_close {
    left: 517px;
    top: -37px;
    left: 521px\0;
}

.popover-title {
    display: none;
}

.title-content {
    color: #536b82;
}

.ajgl-container ::-ms-clear {
    display: none;
}


.gljq .ane-select-selection .ane-select-selected {
    padding-right: 13px;
    position: absolute;
    left: 0px\0;
    max-width: 97%\0;
}

.ane-select-dropdown-menu li {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gljq .ane-select {
    width: 58%;
}

.ajgl-tabCont {
    position: absolute;
    bottom: 37px;
    top: 180px;
    right: 8px;
    left: 0px;
}

.disablebtn {
    background: #d4d7d9;
}

.disablebtn:hover {
    background: #d4d7d9;
}

.ajgl-container .commonSpan {
    display: inline-block;
    margin-left: -75px;
    padding-left: 75px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    vertical-align: -7px;
    margin-right: 13px;
    margin-top: -5px;
}

.ajgl-container .jbxx-inline b {
    height: 25px;
    line-height: 25px;
    display: inline-block;
}

.ajgl-container .commonSpan div {
    cursor: pointer;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ajgl-container .top-form .fa.includeChild {
    color: #536b82;
    cursor: pointer;
    margin-left: 2px;
}

.ajgl-container .top-form .fa.includeChild.checked {
    color: #0078d7
}

.ajgl-container .top-form .fa.includeChild>.text {
    color: #536b82;
}