.ajgl-container-kp-qjzb .inline-component {
    display: inline-block;
    margin-right: 27px;
}

.ajgl-container-kp-qjzb .top-form-inline {
    margin: 10px 0px 10px 0px;
}

.ajgl-container-kp-qjzb .top-form-inline input {
    margin-right: 15px;
    margin-left: 5px;
}

.ajgl-container-kp-qjzb .top-form-inline span {
    font-size: 14px;
    color: #536b82;
}

.ajgl-container-kp-qjzb .top-form-inline .tree-select-wrap input {
    margin-top: 1px;
    margin-left: -4px;
}

.ajgl-container-kp-qjzb .tree-select-wrap .tree-panel {
    margin-left: 5px;
}

.ajgl-container-kp-qjzb {
    display: block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 186px;
    right: 0px;
    top: 67px;
    height: 91%;
    min-height: 780px;
    min-width: 1172px;
    padding-right: 8px;
}

.ajgl-container-kp-qjzb .top-form-inline .form-control {
    width: 180px;
    margin-left: 5px;
    height: 28px;
    line-height: 1.028571;
}

.ajgl-container-kp-qjzb .top-form-inline .has-feedback label {
    font-size: 14px;
    font-weight: 200;
    margin-left: 3px;
    color: #536b82;
    width: 70px;
    text-align: right;
}

.ajgl-container-kp-qjzb .top-form-inline .has-feedback {
    width: 285px;
}

/* .ajgl-container-kp-qjzb .inline-component .has-feedback {
    vertical-align: baseline !important;
} */

.ajgl-container-kp-qjzb .timeCover {
    margin-left: 5px;
    position: relative;
    margin-left: -8px;
}

.ajgl-container-kp-qjzb .timeCover .has-feedback:first-child {
    margin-left: 8px;
}

.ajgl-container-kp-qjzb .timeCover .has-feedback {
    width: 270px !important;
}

.ajgl-container-kp-qjzb .timeCover .ane-datepicker-input {
    margin-right: 0px;
}

.ajgl-container-kp-qjzb .sary {
    margin-left: 13px;
}

.ajgl-container-kp-qjzb .ajkp_search_btn_qjzb {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fd8702;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    position: relative;
    float: right;
    margin-top: -80px;
    margin-right: 50px;
}

.ajgl-container-kp-qjzb .ajkp_search_btn:hover,
.jqgl_search_btn:hover {
    background-color: #db7400;
}

.ajgl-container-kp-qjzb .table-index .table-index-tbody {
    cursor: default;
}

.ajgl-container-kp-qjzb .ajgl-table table thead tr th {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 1px solid #DFE6EC;
    border-left: 1px solid #DFE6EC;
}

.ajgl-container-kp-qjzb #aqglTable {
    position: absolute;
    /* width: 100%; */
    top: 181px;
    bottom: 40px;
    /* height: 100%; */
    right: 8px;
    left: 0px;
}

.ajgl-container-kp-qjzb .ajgl-table {
    color: #526A82;
    width: 100%;
    /* cursor: pointer; */
    margin-top: 8px;
}

.ajgl-container-kp-qjzb .ajgl-table table {
    border: 1px solid #DFE6EC;
}

.ajgl-container-kp-qjzb .ajgl-table table tbody tr td {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #DFE6EC;
    border-left: 1px solid #DFE6EC;
}

/* .ajgl-container-kp-qjzb .inline-component .checkbox-group .ane-radio-inner-ie {
    width: 29px;
    height: 31px;
}

.ajgl-container-kp-qjzb .inline-component .checkbox-group .ane-radio-inner-ie span {
    top: -21px;
    margin-left: 6px;
} */

.ajgl-container-kp-qjzb .inline-detePick {
    display: inline-block;
}

.ajgl-container-kp-qjzb .inline-component .ane-datepicker:first-child {
    margin-left: 12px;
}

.ajgl-container-kp-qjzb .between-date {
    margin-left: 7px;
}

.ajgl-container-kp-qjzb .ajql-container {
    height: 600px;
}

.ajgl-container-kp-qjzb .checkLook {
    /* cursor: pointer; */
    color: #0419dc;
}

/* .ajgl-container-kp-qjzb .inline-radio-group {
    width: 290px;
    margin-right: -41px !important;
} */

.ajgl-container-kp-qjzb .inline-radio-group .radio {
    width: 90px;
}

.ajgl-container-kp-qjzb .ajgl-table .pull-right,
.ajgl-table .clearfix {
    display: block;
}

.ajgl-container-kp-qjzb .bjsj_aj_kp {
    font-size: 14px;
    color: #536b82;
    font-weight: bold;
    width: 70px;
    text-align: right;
    display: inline-block;
    margin-left: 3px;
}

.ajgl-container-kp-qjzb .ajbottomForm {
    position: relative;
    height: 28px;
}

.ajgl-container-kp-qjzb .ajbottomForm>.has-feedback+.has-feedback {
    position: absolute;
    left: 279px;
    left: 281px\0;
}

.ajgl-container-kp-qjzb .ajbottomForm>.inline-component {
    position: absolute;
    left: 643px;
    left: 647px\0;
}

.ajgl-container-kp-qjzb .ajglmt {
    position: absolute;
    left: 582px;
    top: 5px;
}

.ajgl-container-kp-qjzb .ajgl-table .clearfix,
.ajgl-table .pull-right {
    display: none;
}

.ajgl-container-kp-qjzb .top-form-ajkpQJZB {
    padding: 1px;
    background: #f3f5f7;
    border: 1px #e4e4e4;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 170px !important;
    border: 1px solid #e4e4e4;
}

.ajgl-container-kp-qjzb .ajgl-table .table-saika thead tr {
    height: 32px;
}

.ajgl-container-kp-qjzb .ajgl-table .table-saika .fixed-table-saika-thead .table>thead tr th {
    line-height: 34px;
    border: 1px solid #a5b4bd;
    font-size: 14px;
}

.ajgl-container-kp-qjzb .ajgl-table .table-saika .table>tbody>tr>td {
    font-size: 14px;
    color: #536b82;
    border: 1px solid #e0e7ec;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ajgl-container-kp-qjzb .ajgl-table .table-saika .table>tbody>tr {
    height: 34px;
}

.ajgl-container-kp-qjzb .ajgl-table table tbody tr:hover {
    /* background-color: #F4F5F7; */
    background-color: #e8eff5;
}

.ajgl-container-kp-qjzb .ajgl-table .table-saika .fixed-table-saika-tbody {
    position: absolute;
    width: 100%;
    top: 36px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
}

.ajgl-container-kp-qjzb .ajtb .fixed-table-saika-tbody .table-bordered thead tr th {
    border: none !important;
}

.ajgl-container-kp-qjzb .top-form .has-feedback .form-control {
    padding-right: 27.5px;
}

.ajgl-container-kp-qjzb .top-form .ane-select-arrow,
.top-form .ane-tree-select-arrow {
    position: absolute;
    top: 5px;
}

.ajgl-container-kp-qjzb .tjglClass .modal-header {
    height: 50px;
}

.ajgl-container-kp-qjzb .ck-head {
    vertical-align: top;
    margin-top: 13px;
}

.ajgl-container-kp-qjzb .ajgl-time-null {
    position: relative;
    height: 11px;
}

.ajgl-container-kp-qjzb .ajgl-time-null .yhgl-yhtc-prompt {
    position: position;
    display: inline-block;
    top: 0px;
}

.ajgl-container-kp-qjzb .ajgl-time-null .jqgl-prompt-st {
    left: 648px;
}

.ajgl-container-kp-qjzb .ajgl-time-null .i-timeFix {
    font-size: 12px;
    line-height: 10px;
    height: 14px;
    margin-bottom: 0;
    color: #d2403d;
}

.ajgl-container-kp-qjzb .ajgl-time-null .jqgl-prompt-et {
    left: 931px;
}

.ajgl-container-kp-qjzb .scrollInfo {
    color: #536b82;
}

.ajgl-container-kp-qjzb .tjglClass .modal-header h4 {
    font-size: 16px;
}

.ajgl-container-kp-qjzb .gljq {
    width: 100%;
    /* height: 83px; */
    background-color: #f2f2f2;
    /* margin-top: 4px; */
}

.ajgl-container-kp-qjzb .gljq_inline {
    display: inline-block;
    width: 43%;
    /* margin: 5px 5px; */
    color: #536b82;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
    line-height: 35px;
    min-width: 240px;
}

.ajgl-container-kp-qjzb .gljq_inline .ane-select {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 30px
}

.ajgl-container-kp-qjzb .all-info {
    background: #0078d7;
    float: right;
    width: 50px;
    text-align: center;
    color: white;
    /* cursor: pointer; */
    position: absolute;
    right: 32px;
    top: 103px;
    height: 30px;
    line-height: 30px;
}

.ajgl-container-kp-qjzb .all-info:hover {
    background: #0057a1;
}

.ajgl-container-kp-qjzb .showInfoClass .modal-header {
    background-color: #096ec6;
    color: white;
}

.ajgl-container-kp-qjzb .showInfoClass .btn-primary {
    display: none;
}

.ajgl-container-kp-qjzb .showInfoClass .modal-footer button {
    border-radius: 0px;
    width: 120px;
    height: 30px;
}

.ajgl-container-kp-qjzb .showInfoClass .modal-footer {
    text-align: center;
}

.ajgl-container-kp-qjzb .showInfoClass .modal-footer .btn {
    background-color: #0078d7;
    color: white;
    line-height: 14px;
}

.ajgl-container-kp-qjzb .showInfoClass .modal-footer .btn:hover {
    background: #0057a1;
}

.ajgl-container-kp-qjzb .showInfoClass .modal-body {
    padding-left: 35px;
}

.ajgl-container-kp-qjzb .ajgl-showinfo {
    width: 980px !important;
}

.ajgl-container-kp-qjzb .allinfo-dialog span {
    display: inline-block;
    width: 300px;
    margin-right: 5px;
    /* cursor: pointer; */
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ajgl-container-kp-qjzb .allinfo-dialog>div {
    margin: 20px 0px;
    color: #536b82;
}

.ajgl-container-kp-qjzb .padSpan {
    padding-left: 28px;
}

.ajgl-container-kp-qjzb .ajgl-ck-mid .glmt-cj-content {
    height: 305px;
}

.ajgl-container-kp-qjzb .gljq_inline span {
    /* cursor: pointer; */
}

.ajgl-container-kp-qjzb .ajbh_close_kp {
    /* left: 517px; */
    left: 230px;
    top: -37px;
}

.ajgl-container-kp-qjzb .ajmc_close_kp {
    /* left: 802px; */
    left: 517px;
    top: -37px;
}

.ajgl-container-kp-qjzb .jqbh_close {
    /* left: 1087px; */
    left: 802px;
    top: 0px;
}

.ajgl-container-kp-qjzb .sary_close_kp {
    /*left: 517px;
    top: -37px;*/
    left: 230px;
    top: -78px;
}

.ajgl-container-kp-qjzb .sary_close_kp_leader {
    /* left: 517px; */
    left: 230px;
    top: -37px;
}

.ajkp_search_police {
    top: 36px;
}

.ajgl-container-kp-qjzb .jy_close_kp {
    /* left: 801px; */
    left: 517px;
    top: -37px;
}

.ajgl-container-kp-qjzb .popover-title {
    display: none;
}

.ajgl-container-kp-qjzb .title-content {
    color: #536b82;
}

.ajgl-container-kp-qjzb ::-ms-clear {
    display: none;
}

.ajgl-container-kp-qjzb .ajgl-ck-head span {
    width: 480px;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* cursor: pointer; */
}

/*cjx新增样式*/

.ajgl-container-kp-qjzb .ajkpEnd_time {
    margin-left: 14px;
}

.ajgl-container-kp-qjzb .ajgl-time-null {
    height: 0px;
}

.ajgl-container-kp-qjzb .table-saika-index,
.ajgl-container-kp-qjzb .table-saika-space {
    width: 54px;
}

.ajgl-container-kp-qjzb .table-saika-sldwmc-kp,
.ajgl-container-kp-qjzb .table-saika-jyjh-kp,
.ajgl-container-kp-qjzb .table-saika-ajbh-kp,
.ajgl-container-kp-qjzb .table-saika-jqbh-kp,
.ajgl-container-kp-qjzb .table-saika-ajlb-kp,
.ajgl-container-kp-qjzb .table-saika-sary-kp,
.ajgl-container-kp-qjzb .table-saika-afsj-kp,
.ajgl-container-kp-qjzb .table-saika-ajmc-kp {
    width: 125px;
}

.ajgl-container-kp-qjzb .table-saika-sldwmc-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-jyjh-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-ajbh-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-ajlb-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-jqbh-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-sary-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-afsj-kp .table-cont,
.ajgl-container-kp-qjzb .table-saika-ajmc-kp .table-cont {
    width: 120px;
}

/* .ajgl-container-kp-qjzb .iebugFix {
    position: inherit !important;
    margin-left: -285px !important;
    left: 282px !important;
} */

.ajgl-container-kp-qjzb .ajkp-tabCont-qjzb {
    position: absolute;
    bottom: 37px;
    top: 186px;
    right: 8px;
    left: 0px;
}

.ajgl-container-kp-qjzb .arrayData_ajkp_xq {
    height: 40px;
    overflow: auto !important;
    margin-left: 70px;
    margin-top: -20px;
}

.ajgl-container-kp-qjzb .table-index .table-index-tbody {
    height: 95%;
    min-height: 34px;
    overflow: auto;
    background: #f7f7f7;
}

.ajgl-container-kp-qjzb .table-index .noData {
    position: absolute;
    left: 49%;
    top: 40px;
    color: #536b82;
    font-size: 14px;
}

.ajgl-container-kp-qjzb .table-index {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #536b82;
    overflow: hidden;
    white-space: nowrap;
}

.qjzb-jdkp-ajkp-glmt {
    display: inline-block;
    font-size: 14px;
    color: #536b82;
    vertical-align: middle;
    margin-top: 1px;
}