<template>
    <div class="fxccf-container-kp">
        <div class="top-form" :if="@authority.SEARCH">
            <xmp is="ms-form" :widget="{$form:@$searchForm,inline:true}">
                <div class="top-form-inline">
                    <span style="margin-left: 13px;">执勤部门:</span>
                    <div class="inline-component" :controller="fxccf_sldw_tree">
                        <ms-tree-selecting :widget="{tree: @yspk_data, showSearch: true, wrapId: 'zfyps-tree-select', getSelected: @getSelected, selectedKey: @tree_key ? @tree_key : '', selectedTitle: @tree_title ? @tree_title : '', onChange: @select_change, extraExpandHandle: @extraExpandHandle}"></ms-tree-selecting>
                    </div>
                    <!-- <ms-form-item :widget="{label: '姓名/警号:'}">
                        <ms-input :focus="@input_focus('userCode')" :blur="@input_blur('userCode')" :widget="{col: 'userCode', value:@userCode}"
                            :keyup="@enter_click"></ms-input>
                    </ms-form-item> -->
                    <div class="ccDivBlock">
                        <input class="ccBtn" type="checkbox" id="ccNumber" :duplex-checked="!@ccNumBtn" :click="onClickCCBtn" />
                        <span>抽查数:</span>
                        <!-- <input class="search_num" ms-duplex="@search_num" type="text" :keyup="@jycxkp_search"> -->
                        <input :if="!@ccNumBtn" class="search_num" ms-duplex="@search_num" type="text">
                        <input :if="@ccNumBtn" class="search_num" type="text" disabled>
                        <span style="margin-right:16px;">条</span>
                    </div>

                    <div style="display:inline;">
                        <span class="bjsj_aj_kp">违法时间:</span>
                        <div class="inline-component" :controller="fxccf_searchForm_wfsj">
                            <ms-select :widget="{
                                   col:'wfsj',
                                   value: @wfsj,
                                   onChange:@searchForm_wfsj_Change
                               }">
                                <ms-select-option :widget="{value:'last-week'}">本周</ms-select-option>
                                <ms-select-option :widget="{value:'last-month'}">本月</ms-select-option>
                                <ms-select-option :widget="{value:'last-past-of-time'}">自定义时间</ms-select-option>
                            </ms-select>
                        </div>
                    </div>
                    <div class="inline-component timeCover" ms-visible="@dateShow">
                        <ms-form-item :widget="{label: ''}">
                            <ms-datepicker :widget="{
                                       placeholder:'开始时间',
                                       value: @topform_start_time,
                                       onChange:@startTimeHandleChange,
                                       endDate:@endDate,     
                                       showTime: false
                                   }"></ms-datepicker>
                        </ms-form-item>
                        <span class="between-date">-</span>
                        <ms-form-item :widget="{label: ''}" :class="['ajkpEnd_time']">
                            <ms-datepicker :widget="{
                                       placeholder:'结束时间',
                                       value: @topform_end_time,
                                       onChange:@endTimeHandleChange,
                                       endDate:@endDate,                                          
                                       showTime: false
                                   }"></ms-datepicker>
                        </ms-form-item>

                    </div>
                    <div class="ajgl-time-null">
                        <div class="yhgl-yhtc-prompt jqgl-prompt-st">
                            <span :css="{display:@kssj_isNull}">
                                <i class="fa fa-exclamation-circle"> 请输入开始时间</i>
                            </span>
                        </div>
                        <div class="yhgl-yhtc-prompt jqgl-prompt-et">
                            <span :css="{display:@jssj_isNull}">
                                <i class="fa fa-exclamation-circle"> 请输入结束时间</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="top-form-inline jqbottomForm">

                    <span :if="!@ccNumBtn" style="margin-left:13px;">违法地点:</span>
                    <input :if="!@ccNumBtn" class="form-control" style="margin-right:24px;" value="" disabled/>
                    <ms-form-item :widget="{label: '违法地点:'}" :class="['sgddFixWidth']" ms-visible="@ccNumBtn">
                        <ms-input :focus="@input_focus('wfdz')" :blur="@input_blur($event,'wfdz')" :widget="{col: 'wfdz', value:@wfdz}" :keyup="@enter_click"></ms-input>
                    </ms-form-item>

                    <span :if="!@ccNumBtn">车牌号码:</span>
                    <input :if="!@ccNumBtn" class="form-control" style="margin-right:14px;" value="" disabled/>
                    <ms-form-item :widget="{label: '车牌号码:'}" ms-visible="@ccNumBtn">
                        <ms-input :focus="@input_focus('hphm')" :blur="@input_blur($event,'hphm')" :widget="{col: 'hphm', value:@hphm}" :keyup="@enter_click"></ms-input>
                    </ms-form-item>
                    <span :if="!@ccNumBtn">姓名/警号:</span>
                    <input :if="!@ccNumBtn" class="form-control" style="margin-right:22px;" value="" disabled/>
                    <ms-form-item :widget="{label: '姓名/警号:'}" ms-visible="@ccNumBtn">
                        <ms-input :focus="@input_focus('userCode')" :blur="@input_blur($event,'userCode')" :widget="{col: 'userCode', value:@userCode}"
                            :keyup="@enter_click"></ms-input>
                    </ms-form-item>
                    <span :if="!@ccNumBtn">决定书编号:</span>
                    <input :if="!@ccNumBtn" class="form-control" style="margin-right:14px;" value="" disabled/>
                    <ms-form-item :widget="{label: '决定书编号:'}" :class="['fxccf_jdsbh_label']" ms-visible="@ccNumBtn">
                        <ms-input :focus="@input_focus('jdsbh')" :blur="@input_blur($event,'jdsbh')" :widget="{col: 'jdsbh',value:@jdsbh}" :keyup="@enter_click"></ms-input>
                    </ms-form-item>
                    <span style="display:inline-block;margin-left:13px;">关联媒体:</span>
                    <input :if="!@ccNumBtn" class="form-control" value="不限" disabled/>
                    <div style="display:inline-block;" :controller="searchForm_fxccf_glmt" ms-visible="@ccNumBtn">
                        <ms-select :widget="{
                                        col:'glmt',
                                        value: @glmt,
                                        onChange:@searchForm_gllb_Change
                                    }">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'1'}">已关联</ms-select-option>
                            <ms-select-option :widget="{value:'0'}">未关联</ms-select-option>
                        </ms-select>
                    </div>
                </div>
                <div class="X-burn">
                    <span class="fa fa-close jqgl_right_close userCode_close_kp" :mousedown="@close_click('userCode')" :visible="@ajgl_close_userCode"></span>
                    <span class="fa fa-close jqgl_right_close hphm_close_kp" :mousedown="@close_click('hphm')" :visible="@ajgl_close_hphm"></span>
                    <!-- <span class="fa fa-close jqgl_right_close wfbh_close_kp" :mousedown="@close_click('wfbh')" :visible="@ajgl_close_wfbh"></span> -->
                </div>
                <div class="top-form-inline leaderORpolice">
                    <span style="margin-left: 13px;">考评状态:</span>
                    <input :if="!@ccNumBtn" class="form-control" style="margin-right:24px;" value="不限" disabled/>
                    <div class="inline-component kpzt-com" :controller="searchForm_fxccf_kpzt" style="margin-right: 22px;" ms-visible="@ccNumBtn">
                        <ms-select :widget="{
                                           col:'evaStatus',
                                           value: @evaStatus,
                                           onChange:@searchForm_kpzt_Change
                                       }">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'1'}">已考评</ms-select-option>
                            <ms-select-option :widget="{value:'0'}">未考评</ms-select-option>
                            <!-- <ms-select-option :widget="{value:'FZYKP'}">法制已考评</ms-select-option>
                                   <ms-select-option :widget="{value:'FZWKP'}">法制未考评</ms-select-option> -->
                        </ms-select>
                    </div>
                    <span>考评结果:</span>
                    <input :if="!@notEvaStatus" class="form-control" value="不限" disabled style="margin-right: 22px;" />
                    <div class="inline-component kpzt-com" :controller="searchForm_fxccf_kpjg" style="margin-right: 22px;" :if="@notEvaStatus">
                        <ms-select :widget="{
                                           col:'evaResult',
                                           value: @evaResult,
                                           onChange:@searchForm_kpjg_Change
                                       }">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'1'}">通过</ms-select-option>
                            <ms-select-option :widget="{value:'0'}">不通过</ms-select-option>
                        </ms-select>

                    </div>
                    <span style="display:inline-block;">核查状态:</span>
                    <input :if="!@ccNumBtn" class="form-control" style="margin-right:35px;" value="不限" disabled/>
                    <div style="display:inline-block;margin-right:35px;" :controller="searchForm_fxccf_hczt" ms-visible="@ccNumBtn">
                        <ms-select :widget="{
                                           col:'reviewStatus',
                                           value: @reviewStatus,
                                           onChange:@searchForm_hczt_Change
                                       }">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'1'}">已核查</ms-select-option>
                            <ms-select-option :widget="{value:'0'}">未核查</ms-select-option>
                        </ms-select>
                    </div>
                    <span style="display:inline-block;">核查结果:</span>
                    <input :if="!@notReviewStatus" class="form-control" value="不限" disabled/>
                    <div style="display:inline-block;margin-right:22px;" :controller="searchForm_fxccf_khjg" :if="@notReviewStatus">
                        <ms-select :widget="{
                                           col:'reviewResult',
                                           value: @reviewResult,
                                           onChange:@searchForm_hcjg_Change
                                       }">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'1'}">属实</ms-select-option>
                            <ms-select-option :widget="{value:'0'}">不属实</ms-select-option>
                        </ms-select>
                    </div>

                </div>
                <div class="X-burn">
                    <span class="fa fa-close jqgl_right_close jdsbh_close_kp_leader" :mousedown="@close_click('jdsbh')" :visible="@ajgl_close_jdsbh"></span>
                    <span class="fa fa-close jqgl_right_close wfbh_close_kp" :mousedown="@close_click('wfbh')" :visible="@ajgl_close_wfbh"></span>
                    <span class="fa fa-close jqgl_right_close wfdz_close_kp" :mousedown="@close_click('wfdz')" :visible="@ajgl_close_wfdz"></span>

                </div>
            </xmp>
            <button class="fxccf_search_btn" :click="@fxccf_search" :if="@authority.SEARCH">查询</button>
        </div>

        <div :visible="@toggleShow" class="ajgl-table ajtb" :controller="jdkp-fxccf-table" style="margin-top:42px;">
            <div :class="['ajkp-tabCont']">
                <div :controller="fxccf_table" :class="['table-index']" id="fxccf_table">
                    <div class="table-index-thead-fixed">
                        <ul class="table-index-thead" :css="{paddingRight:@paddingRight}">
                            <li class="col-5" data-order="1">序号</li>
                            <li class="col-5" data-order="2">操作</li>
                            <li class="col-10" data-order="3">执勤部门</li>
                            <li class="col-10" data-order="4">违法时间</li>
                            <li class="col-10" data-order="5">姓名/警号</li>
                            <li class="col-10" data-order="6">车牌号码</li>
                            <li class="col-15" data-order="7">决定书编号</li>
                            <li class="col-10" data-order="8">违法地点</li>
                            <li class="col-5" data-order="9">关联媒体</li>
                            <li class="col-5" data-order="10">考评状态</li>
                            <li class="col-5" data-order="11">考评结果</li>
                            <li class="col-5" data-order="12">核查状态</li>
                            <li class="col-5" data-order="13">核查结果</li>
                        </ul>
                    </div>

                    <ul class="table-index-tbody">
                        <li class="list-null" :if="!@data.length">暂无数据</li>

                        <li :for="($index, record) in @data">
                            <div class="tbody col-5">
                                <div class="table-cont">{{(@currentPage-1)*@prePageSize+$index + 1}}</div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont">
                                    <span>
                                        <a class="checkLook" :click="@handle('checkLook','space',record,$index)">查看</a>
                                    </span>
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['orgName'] && (record['orgName'] != '-') ? {rel:'drevil',tdval:record['orgName']}:''">
                                    {{record['orgName']}}
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['wfsj'] && (record['wfsj'] != '-') ? {rel:'drevil',tdval:record['wfsj']}:''">
                                    {{record['wfsj']}}
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['jtwfkpJYJH'] && (record['jtwfkpJYJH'] != '-') ? {rel:'drevil',tdval:record['jtwfkpJYJH']}:''">
                                    {{record['jtwfkpJYJH']}}
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['hphm'] && (record['hphm'] != '-') ? {rel:'drevil',tdval:record['hphm']}:''">
                                    {{record['hphm']}}
                                </div>
                            </div>
                            <div class="tbody col-15">
                                <div class="table-cont" :attr="record['jdsbh'] && (record['jdsbh'] != '-') ? {rel:'drevil',tdval:record['jdsbh']}:''">
                                    {{record['jdsbh']}}
                                </div>
                            </div>
                            <div class="tbody col-10">
                                <div class="table-cont" :attr="record['wfdz'] && (record['wfdz'] != '-') ? {rel:'drevil',tdval:record['wfdz']}:''">
                                    {{record['wfdz']}}
                                </div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont" :attr="record['relation'] && (record['relation'] != '-') ? {rel:'drevil',tdval:record['relation']}:''">
                                    {{record['relation']}}
                                </div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont" :attr="record['evaStatus'] && (record['evaStatus'] != '-') ? {rel:'drevil',tdval:record['evaStatus']}:''">
                                    {{record['evaStatus']}}
                                </div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont" :attr="record['evaResult'] && (record['evaResult'] != '-') ? {rel:'drevil',tdval:record['evaResult']}:''">
                                    {{record['evaResult']}}
                                </div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont" :attr="record['reviewStatus'] && (record['reviewStatus'] != '-') ? {rel:'drevil',tdval:record['reviewStatus']}:''">
                                    {{record['reviewStatus']}}
                                </div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont" :attr="record['reviewResult'] && (record['reviewResult'] != '-') ? {rel:'drevil',tdval:record['reviewResult']}:''">
                                    {{record['reviewResult']}}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="table-index-loading" :if="@loading">
                        <span class="loadingSpan">结果加载中</span>
                    </div>
                    <!-- <div :if="!@loading && !@data.length" class="noData">暂无数据</div> -->
                </div>
            </div>
            <ms-pages :widget="{total:@pagination.total,pageSize:@pagination.pageSize,current:@pagination.current,onChange:@handleTableChange,getCurrent:@getCurrent, overLimit:@pagination.overLimit}"></ms-pages>
        </div>
    </div>
</template>