<template>
    <div class="qzpz-wrap khqktj-qzpz">
        <ul class="qzpz-tabs">
            <li ms-for="($index, el) in @arrTabs" :click="@tabsClick($index)" :class="[@currentTabsIndex == $index ? 'activeTabs' : '']">{{el.name}}</li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">参数设置</h3>
            </div>
            <div class="panel-body">
                <div class="params-wrap">
                    <h5>每天应执法时长</h5>
                    <input class="form-control" type="text" ms-duplex="@dayLeOfHour" data-duplex-changed="@dayLeOfHourChange">
                    <span>小时</span>
                    <h6 style="display: none;">
                        <i class="fa fa-exclamation-circle">&nbsp;{{@dayLeOfHour_tips}}</i>
                    </h6>
                </div>
                <div class="params-wrap" style="display:none;">
                    <h5>每周应执法天数</h5>
                    <input class="form-control" type="text" ms-duplex="@weekLeOfDay" data-duplex-changed="@weekLeOfDayChange">
                    <span>天</span>
                    <h6 style="display: none;">
                        <i class="fa fa-exclamation-circle">&nbsp;{{@weekLeOfDay_tips}}</i>
                    </h6>
                </div>
                <div class="params-wrap" style="display:none;">
                    <h5>每月应执法天数</h5>
                    <input class="form-control" type="text" ms-duplex="@monthLeOfDay" data-duplex-changed="@monthLeOfDayChange">
                    <span>天</span>
                    <h6 style="display: none;">
                        <i class="fa fa-exclamation-circle">&nbsp;{{@monthLeOfDay_tips}}</i>
                    </h6>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">建档情况统计</h3>
                <div class="weight-wrap">
                    <span>权重</span>
                    <input type="text" :class="[@pointObj.sdSituationWeight.show ? 'input_error' : '']" :blur="@sdSituationMaxPoint = @sdSituationWeight"
                        data-duplex-changed="@weightChange('sdSituationWeight')" ms-duplex="@sdSituationWeight" class="form-control">
                    <span>分</span>
                    <div class="tips-wrap" :if="@pointObj.sdSituationWeight.show">
                        <span :class="['zhkp_tip']">
                            <i class="fa fa-exclamation-circle">&nbsp;{{@pointObj.sdSituationWeight.msg}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                建档率 = 部门上传文件的人员数 / 部门执勤执法岗位总人数 * 100%
                <!-- <br/> 人员建档率 = 上传过文件的人员建档率为100% -->
                <br/> 建档率得分 = 权重分数 * 建档率
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">使用情况统计</h3>
                <div class="weight-wrap">
                    <span>权重</span>
                    <input type="text" :class="[@pointObj.sySituationWeight.show ? 'input_error' : '']" :blur="@sySituationMaxPoint = @sySituationWeight"
                        data-duplex-changed="@weightChange('sySituationWeight')" ms-duplex="@sySituationWeight" class="form-control">
                    <span>分</span>
                    <div class="tips-wrap" :if="@pointObj.sySituationWeight.show">
                        <span :class="['zhkp_tip']">
                            <i class="fa fa-exclamation-circle">&nbsp;{{@pointObj.sySituationWeight.msg}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                部门使用率 = 部门执法人员当周/当月/自定义时间执法仪使用天数总和 /（部门执法人员总数 * 本周/本月/自定义时间应执法天数）* 100%
                <!-- <br/> 人员使用率 = 执法人员当周/当月/自定义时间执法仪使用天数 /（执法人员本周/本月/自定义时间应执法天数）* 100% -->
                <br/> 使用率得分 = 权重分数 * 使用率
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">时长情况统计</h3>
                <div class="weight-wrap">
                    <span>权重</span>
                    <input type="text" :class="[@pointObj.scSituationWeight.show ? 'input_error' : '']" :blur="@scSituationMaxPoint = @scSituationWeight"
                        data-duplex-changed="@weightChange('scSituationWeight')" ms-duplex="@scSituationWeight" class="form-control">
                    <span>分</span>
                    <div class="tips-wrap" :if="@pointObj.scSituationWeight.show">
                        <span :class="['zhkp_tip']">
                            <i class="fa fa-exclamation-circle">&nbsp;{{@pointObj.scSituationWeight.msg}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                部门时长率 = 部门执法人员当月执法仪拍摄时长总和 / （执法人数总和*每天应执法时长 * 本周/本月/自定义时间应执法天数）* 100%
                <!-- <br/> 人员时长率 = 执法人员当月执法仪拍摄时长 /（每天应执法时长 * 本周/本月/自定义时间应执法天数）* 100% -->
                <br/> 得分 = 权重得分 * 时长率
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">关联情况统计</h3>
                <div class="weight-wrap">
                    <span>权重</span>
                    <input type="text" :class="[@pointObj.glSituationWeight.show ? 'input_error' : '']" :blur="@glSituationMaxPoint = @glSituationWeight"
                        data-duplex-changed="@weightChange('glSituationWeight')" ms-duplex="@glSituationWeight" class="form-control">
                    <span>分</span>
                    <div class="tips-wrap" :if="@pointObj.glSituationWeight.show">
                        <span :class="['zhkp_tip']">
                            <i class="fa fa-exclamation-circle">&nbsp;{{@pointObj.glSituationWeight.msg}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                部门关联率 = 部门关联成功的视频资料数 / 部门公安交通管理综合应用平台违法处理系统的案件数 * 100%
                <!-- <br/> 人员关联率 = 人员关联成功的视频资料数 / 人员公安交通管理综合应用平台违法处理系统的案件数 * 100% -->
                <br/> 得分 = 权重得分 - 关联率名次+1
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">抽查通过率</h3>
                <div class="weight-wrap">
                    <span>权重</span>
                    <input type="text" :class="[@pointObj.ccSituationWeight.show ? 'input_error' : '']" :blur="@ccSituationMaxPoint = @ccSituationWeight"
                        data-duplex-changed="@weightChange('ccSituationWeight')" ms-duplex="@ccSituationWeight" class="form-control">
                    <span>分</span>
                    <div class="tips-wrap" :if="@pointObj.ccSituationWeight.show">
                        <span :class="['zhkp_tip']">
                            <i class="fa fa-exclamation-circle">&nbsp;{{@pointObj.ccSituationWeight.msg}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="margin-bottom: 20px;">
                    抽查通过率 = 抽查中未扣分的业务数 / 总的抽查业务数
                </div>
                <div class="title-wrap">
                    <p>抽查通过率（%）</p>
                    <p>得分</p>
                </div>
                <ms-rate-input :widget="{value: @ccSituation, onChange: @cmMatchRateInputChange ,num:7, maxPoint: @ccSituationMaxPoint, sign: 'cmMatchRate'}"></ms-rate-input>
            </div>
        </div>
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">抽查情况统计</h3>
                <div class="weight-wrap">
                    <span>权重</span>
                    <input type="text" :class="[@pointObj.ccSituationWeight.show ? 'input_error' : '']" :blur="@ccSituationMaxPoint = @ccSituationWeight"
                        data-duplex-changed="@weightChange('ccSituationWeight')" ms-duplex="@ccSituationWeight" class="form-control">
                    <span>分</span>
                    <div class="tips-wrap" :if="@pointObj.ccSituationWeight.show">
                        <span :class="['zhkp_tip']">
                            <i class="fa fa-exclamation-circle">&nbsp;{{@pointObj.ccSituationWeight.msg}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="margin-bottom: 20px;">
                    部门抽查率 = 抽查视频总时长 / 已关联视频总时长 * 100%
                    <br/> 人员抽查率 = 人员被抽查视频总时长 / 人员已关联视频总时长 * 100%
                </div>
                <div class="title-wrap">
                    <p>时长抽查率（%）</p>
                    <p>得分</p>
                </div>
                <ms-rate-input :widget="{value: @ccSituation, onChange: @cmMatchRateInputChange ,num:7, maxPoint: @ccSituationMaxPoint, sign: 'cmMatchRate'}"></ms-rate-input>
            </div>
        </div> -->
        <div class="qzpz-btn">
            <a class="common_btn" :click="@saveBtn">保存</a>
            <a class="common_btn" :click="@back">返回</a>
        </div>
        <div class="qzpz_fresh_tips_vm">
            <ms-dialog :widget="{$innerVm: 'qzpz_fresh_tips', okText: '确认', cancelText: '取消', className: 'qzpz_fresh_tips_class', show: @qzpz_fresh_tips_show, onCancel: @cancel, onOk:@onOk, isMove:true, width:300, height:175, move_return:@move_return}">
                <div slot="body" ms-skip>
                    <span :css="{'color': '#536b82'}" ms-text="@dialog_txt"></span>
                </div>
            </ms-dialog>
        </div>
    </div>
</template>