.sgclkp-container-ck .inline-component {
    display: inline-block;
    margin-right: 27px;
}

.top-form-inline {
    margin: 10px 0px 10px 0px;
}

.top-form-inline input {
    margin-right: 15px;
    margin-left: 5px;
}

.top-form-inline span {
    font-size: 14px;
    color: #536b82;
}

.sgclkp-container-ck .jbxx-inline>span,
.ajgl-ck-footer .cjxx-line>span {
    width: 25%;
    margin-right: 10px;
}

.sgclkp-container-ck .commonSpan {
    display: inline-block;
    /* margin-left: -75px;
    padding-left: 75px; */
    /* width: 100%; */
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin-right: 13px;
    margin-top: -5px;
}

.sgclkp-container-ck {
    display: block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 186px;
    right: 0px;
    top: 67px;
    height: 91%;
    min-height: 765px;
    min-width: 1186px;
    padding-right: 8px;
}

.sgclkp-container-ck .eva-comments {
    margin-top: -5px;
    overflow: auto;
    height: 111px;
    width: 100%;
    margin-bottom: 10px;
}

.sgclkp-container-ck .top-form-inline .form-control {
    width: 180px;
    margin-left: 5px;
    height: 28px;
    line-height: 1.028571;
}

.sgclkp-container-ck .commitComment {
    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: #0078d7;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
    margin-left: -165px;
    display: inline-block;
    /* left: 68%; */
}

.sgclkp-container-ck .selectCheck {
    margin-left: 41%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: absolute;
    margin-top: 80px;
    color: #536b82;
}

.sgclkp-container-ck .top-form-inline .has-feedback label {
    font-size: 14px;
    font-weight: 200;
    margin-left: 13px;
    color: #536b82;
    width: 70px;
    text-align: right;
}

.sgclkp-container-ck .top-form-inline .has-feedback {
    width: 285px;
}

.inline-component .has-feedback {
    vertical-align: baseline !important;
}

.sgclkp-container-ck .timeCover {
    margin-left: 5px;
    position: relative;
    margin-left: -18px;
}

.sgclkp-container-ck .timeCover .has-feedback:first-child {
    margin-left: 8px;
}

.sgclkp-container-ck .timeCover .has-feedback {
    width: 270px !important;
}

.sgclkp-container-ck .timeCover .ane-datepicker-input {
    margin-right: 0px;
}

.sary {
    margin-left: 13px;
}

.ajkp_search_btn {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fd8702;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    position: relative;
    float: right;
    margin-top: -38px;
    margin-right: 28px;
}

.ajkp_search_btn:hover,
.jqgl_search_btn:hover {
    background-color: #db7400;
}

.ajgl-table table thead tr th {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 1px solid #DFE6EC;
    border-left: 1px solid #DFE6EC;
}

#aqglTable {
    position: absolute;
    /* width: 100%; */
    top: 181px;
    bottom: 40px;
    /* height: 100%; */
    right: 8px;
    left: 0px;
}

.ajgl-table table {
    border: 1px solid #DFE6EC;
}

.ajgl-table table tbody tr td {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #DFE6EC;
    border-left: 1px solid #DFE6EC;
}

/* .inline-component .checkbox-group .ane-radio-inner-ie {
    width: 29px;
    height: 31px;
}

.inline-component .checkbox-group .ane-radio-inner-ie span {
    top: -21px;
    margin-left: 6px;
} */

.inline-detePick {
    display: inline-block;
}

.inline-component .ane-datepicker:first-child {
    margin-left: 12px;
}

.between-date {
    margin-left: 7px;
}

.ajql-container {
    height: 600px;
}

.inline-radio-group {
    width: 290px;
    margin-right: -41px !important;
}

.inline-radio-group .radio {
    width: 90px;
}

.ajgl-table .pull-right,
.ajgl-table .clearfix {
    display: block;
}

.sgclkp-container-ck .bjsj_aj_kp {
    font-size: 14px;
    color: #536b82;
    font-weight: bold;
    width: 70px;
    text-align: right;
    display: inline-block;
    margin-left: 13px;
}

.ajbottomForm {
    position: relative;
    height: 28px;
}

.ajbottomForm>.has-feedback+.has-feedback {
    position: absolute;
    left: 279px;
    left: 281px\0;
}

.ajbottomForm>.inline-component {
    position: absolute;
    left: 643px;
    left: 647px\0;
}

.ajglmt {
    position: absolute;
    left: 582px;
    top: 5px;
}

.ajgl-table .clearfix,
.ajgl-table .pull-right {
    display: none;
}

.top-form {
    padding: 1px;
    background: #f3f5f7;
    border: 1px #e4e4e4;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ajgl-table .table-saika thead tr {
    height: 32px;
}

.ajgl-table .table-saika .fixed-table-saika-thead .table>thead tr th {
    line-height: 34px;
    border: 1px solid #a5b4bd;
    font-size: 14px;
}

.ajgl-table .table-saika .table>tbody>tr>td {
    font-size: 14px;
    color: #536b82;
    border: 1px solid #e0e7ec;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ajgl-table .table-saika .table>tbody>tr {
    height: 34px;
}

.ajgl-table table tbody tr:hover {
    /* background-color: #F4F5F7; */
    background-color: #e8eff5;
}

.ajgl-table .table-saika .fixed-table-saika-tbody {
    position: absolute;
    width: 100%;
    top: 36px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
}

.ajtb .fixed-table-saika-tbody .table-bordered thead tr th {
    border: none !important;
}

.top-form .ane-select-arrow,
.top-form .ane-tree-select-arrow {
    position: absolute;
    top: 5px;
}

.tjglClass .modal-header {
    height: 50px;
}

.ck-head {
    vertical-align: top;
    margin-top: 13px;
}

.ajgl-time-null {
    position: relative;
    height: 11px;
}

.ajgl-time-null .yhgl-yhtc-prompt {
    position: position;
    display: inline-block;
    top: 0px;
}

.ajgl-time-null .jqgl-prompt-st {
    left: 648px;
}

.ajgl-time-null .jqgl-prompt-et {
    left: 918px;
}

.scrollInfo {
    color: #536b82;
}

.tjglClass .modal-header h4 {
    font-size: 16px;
}

.gljq_ajkp {
    width: 100%;
    /* height: 83px; */
    background-color: #f2f2f2;
    /* margin-top: 4px; */
}

.sgclkp-container-ck .gljq_inline {
    display: inline-block;
    width: 43%;
    /* margin: 5px 5px; */
    color: #536b82;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
    line-height: 35px;
    min-width: 240px;
}

.gljq_inline .ane-select {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 30px
}

.all-info {
    background: #0078d7;
    float: right;
    width: 50px;
    text-align: center;
    color: white;
    /* cursor: pointer; */
    position: absolute;
    right: 32px;
    top: 103px;
    height: 30px;
    line-height: 30px;
}

.all-info:hover {
    background: #0057a1;
}

.showInfoClass .modal-header {
    background-color: #096ec6;
    color: white;
}

.showInfoClass .btn-primary {
    display: none;
}

.showInfoClass .modal-footer button {
    border-radius: 0px;
    width: 120px;
    height: 30px;
}

.showInfoClass .modal-footer {
    text-align: center;
}

.showInfoClass .modal-footer .btn {
    background-color: #0078d7;
    color: white;
    line-height: 14px;
}

.showInfoClass .modal-footer .btn:hover {
    background: #0057a1;
}

.showInfoClass .modal-body {
    padding-left: 35px;
}

.ajgl-showinfo {
    width: 980px !important;
}

.allinfo-dialog span {
    display: inline-block;
    width: 300px;
    margin-right: 5px;
    /* cursor: pointer; */
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.allinfo-dialog>div {
    margin: 20px 0px;
    color: #536b82;
}

.padSpan {
    padding-left: 28px;
}

.sgclkp-container-ck .ajgl-ck-mid .glmt-cj-content {
    height: 418px;
}

.sgclkp-container-ck .ajbh_close_kp {
    left: 517px;
    top: -37px;
}

.sgclkp-container-ck .ajmc_close_kp {
    left: 802px;
    top: -37px;
}

.sgclkp-container-ck .jqbh_close {
    left: 1087px;
    top: -37px;
}

.sgclkp-container-ck .sary_close_kp {
    /*left: 517px;
    top: -37px;*/
    left: 230px;
    top: -78px;
}

.sgclkp-container-ck .sary_close_kp_leader {
    left: 517px;
    top: -37px;
}

.ajkp_search_police {
    top: 36px;
}

.sgclkp-container-ck .jy_close_kp {
    left: 801px;
    top: -37px;
}

.popover-title {
    display: none;
}

.title-content {
    color: #536b82;
}

.sgclkp-container-ck ::-ms-clear {
    display: none;
}

/*cjx新增样式*/

.ajkpEnd_time {
    margin-left: 14px;
}

.sgclkp-container-ck .ajgl-time-null {
    height: 0px;
}

.sgclkp-container-ck .table-saika-index,
.sgclkp-container-ck .table-saika-space {
    width: 54px;
}

.sgclkp-container-ck .table-saika-sldwmc-kp,
.sgclkp-container-ck .table-saika-jyjh-kp,
.sgclkp-container-ck .table-saika-ajbh-kp,
.sgclkp-container-ck .table-saika-jqbh-kp,
.sgclkp-container-ck .table-saika-ajlb-kp,
.sgclkp-container-ck .table-saika-sary-kp,
.sgclkp-container-ck .table-saika-afsj-kp,
.sgclkp-container-ck .table-saika-ajmc-kp {
    width: 125px;
}

.sgclkp-container-ck .table-saika-sldwmc-kp .table-cont,
.sgclkp-container-ck .table-saika-jyjh-kp .table-cont,
.sgclkp-container-ck .table-saika-ajbh-kp .table-cont,
.sgclkp-container-ck .table-saika-ajlb-kp .table-cont,
.sgclkp-container-ck .table-saika-jqbh-kp .table-cont,
.sgclkp-container-ck .table-saika-sary-kp .table-cont,
.sgclkp-container-ck .table-saika-afsj-kp .table-cont,
.sgclkp-container-ck .table-saika-ajmc-kp .table-cont {
    width: 120px;
}

/* 
.iebugFix {
    position: inherit !important;
    margin-left: -285px !important;
    left: 282px !important;
} */

.ajkp-tabCont {
    position: absolute;
    bottom: 37px;
    top: 180px;
    right: 8px;
    left: 0px;
}

.arrayData_ajkp_xq {
    height: 40px;
    overflow: auto !important;
    margin-left: 70px;
    margin-top: -20px;
}

.sgclkp-container-ck .evaListBox .jbxx-inline span {
    float: left;
    text-align: left;
    margin-right: 0px;
    width: 60% !important;
    min-width: auto;
}

.sgclkp-container-ck .evaListBox {
    height: 65px;
    /* margin-bottom: 10px; */
}

.sgclkp-container-ck .alreadyComment {
    color: #536b82;
    overflow: auto;
    height: 40px;
    width: 60%;
    margin-left: 65px;
    margin-top: -20px;
}

.sgclkp-container-ck .jbxx .jbxx-inline>span {
    text-overflow: ellipsis !important;
}

.sgclkp-container-ck .sgclkp-span {
    display: inline-block;
    width: 80%;
    height: 44px;
    line-height: 44px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sgclkp-container-ck .jqgl-ck-footer,
.sgclkp-container-ck .ajgl-ck-footer {
    height: 100%;
    position: relative;
    background-color: #f2f2f2;
    left: 0px;
}

.sgclkp-container-ck .jbxx,
.sgclkp-container-ck .cjxx {
    position: inherit;
    border-top: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 5px 1px 17px;
    right: 8px;
    left: 0px;
}