<template>
    <div class="zfsypsjglpt_yspk_zfypsjj_detail">
        <div class="zfyps_xq">
            <div class="item_info">
                <!-- <span class="fileName" :attr="{title: @media_info.fileName}">正在查看：{{@media_info.fileName}}</span>
                <span class="orgName" :attr="{title: @media_info.orgName}">执勤部门：{{@media_info.orgName}}</span>
                <span class="name_id" :attr="{title: @media_info.name_id}">拍摄民警：{{@media_info.name_id}}</span> -->
                <span :attr="{title: @media_info.showTitle}">{{@media_info.showTitle}}</span>

                <a class="common_fun_btn return_btn" :click="@returnBtn">返回</a>
            </div>
            <div class="item_content">
                <div class="web_player" id="web_player">
                    <div class="zfyps_timeout" :if="@show_timeout">
                        <span>文件已过期</span>
                    </div>
                    <div class="zfyps_video" :if="@show_GMPlayer">
                        <!-- <ms-video :widget="{src: @play_url, special_id:'zfyps', media_type:@media_type}"></ms-video> -->
                        <ms-player :widget="{src: @play_url, special_id:'zfyps', media_type:@media_type, player_width:@web_width, player_height:@web_height, player_left:@web_left, player_top:@web_top, play_status:@play_status, is_play:@is_play, dialog_status:@dialog_status}"></ms-player>
                    </div>
                    <div class="media_img" :if="@show_img">
                        <!-- <img :attr="{src: @play_url}" :if="@media_no_img" /> -->
                        <div class="media_img_show" :if="@media_no_img">
                            <ms-pic-player :widget="{src: @play_url, playerID:'zfyps', preview_w:'450', preview_h:'250'}"></ms-pic-player>
                        </div>
                        <div class="media_no_img" :if="!@media_no_img">
                            <img src="/static/image/zfsypsjglpt/pic_img.png" />
                            <span>抱歉，由于网络、数据等原因，图片暂时无法查看</span>
                        </div>
                    </div>
                    <div class="media_other" :if="@show_other">
                        <img src="/static/image/zfsypsjglpt/other_img.png" class="gm_other_img">
                        <span>无法查看该类型文件，请下载到本地查看</span>
                    </div>
                    <a class="common_fun_btn download_btn" :class="[@unClick_media ? 'disabled' : '']" :click="@download" :if="@opt_detail.authority.DOWNLOAD">下载</a>
                </div>
                <div class="relation_info" :controller="relation_info_jj">
                    <span class="relation_title">关联标注</span>
                    <div class="toggle_btn">
                        <a class="common_fun_btn" :class="[@rel_tag ? '' : 'rel_tag']" :if="@opt_detail.authority.GLXX" :click="@rel_btn">关联信息</a>
                        <a class="common_fun_btn" :class="[@rel_tag ? 'rel_tag' : '', @unClick_media ? 'disabled' : '']" :if="@opt_detail.authority.BZXX"
                            :click="@tag_btn">标注信息</a>
                    </div>

                    <ul class="relation_list relation_list_ul" :if="@opt_detail.authority.GLXX && @rel_toggle">
                        <li ms-for="el in @three_data">
                            <label :click="@relation_list_click(@el.index)">
                                <div class="checkbox_img_class">
                                    <ms-checkbox :widget="{checked: @checkedKey_arr.indexOf(el.key) != -1, onChange: function(){@checkbox_img_click(arguments[0].target.checked, el)}}"></ms-checkbox>
                                </div>
                                <span class="label_text" :attr="{'data-toggle':'tooltip'}">{{@el.glbt}}</span>
                                <i class="fa fa-angle-down lable_icon"></i>
                            </label>
                            <div class="relation_li_border">
                                <div class="relation_li_left">
                                    <label>执勤民警：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.zqmj}}</label>
                                    </div>
                                    <br>
                                    <label>车牌号码：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.hphm}}</label>
                                    </div>
                                    <br>
                                    <label>违法地点：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.wfdz}}</label>
                                    </div>
                                    <br>
                                    <label>关联类别：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.gllb}}</label>
                                    </div>
                                </div>
                                <div class="relation_li_right">
                                    <label class="right_label">{{@el.wfbhzd}}</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.wfbh}}</label>
                                    </div>
                                    <br>
                                    <label class="right_label">号牌种类：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.hpzl}}</label>
                                    </div>
                                    <br>
                                    <label class="right_label">违法时间：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.wfsj}}</label>
                                    </div>
                                    <br>
                                    <label class="right_label">违法行为：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.wfxw}}</label>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li ms-for="el in @one_data">
                            <label :click="@relation_list_click(@el.index)">
                                <div class="checkbox_img_class">
                                    <ms-checkbox :widget="{checked: @checkedKey_arr.indexOf(el.key) != -1, onChange: function(){@checkbox_img_click(arguments[0].target.checked, el)}}"></ms-checkbox>
                                </div>
                                <span class="label_text" :attr="{'data-toggle':'tooltip'}">{{@el.glbt}}</span>
                                <i class="fa fa-angle-down lable_icon"></i>
                            </label>
                            <div class="relation_li_border">
                                <div class="relation_li_left relation_li_large">
                                    <label class="relation_li_label">处理民警：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.clmj}}</label>
                                    </div>
                                    <br>
                                    <label class="relation_li_label">事故发生时间：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.sgfssj}}</label>
                                    </div>
                                    <br>
                                    <label class="relation_li_label">事故地点：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.sgdd}}</label>
                                    </div>
                                    <br>
                                    <label class="relation_li_label">备注：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.bz}}</label>
                                    </div>
                                </div>
                                <div class="relation_li_right">
                                    <label>执勤部门：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.zqbm}}</label>
                                    </div>
                                    <br>
                                    <label>处理时间：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.clsj}}</label>
                                    </div>
                                    <br>
                                    <label>事故编号：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.sgbh}}</label>
                                    </div>
                                    <br>
                                    <label>关联类别：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.gllb}}</label>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li ms-for="el in @aj_data">
                            <label :click="@relation_list_click(@el.index)">
                                <div class="checkbox_img_class">
                                    <ms-checkbox :widget="{checked: @checkedKey_arr.indexOf(el.key) != -1, onChange: function(){@checkbox_img_click(arguments[0].target.checked, el)}}"></ms-checkbox>
                                </div>
                                <span class="label_text" :attr="{'data-toggle':'tooltip'}">{{@el.glbt}}</span>
                                <i class="fa fa-angle-down lable_icon"></i>
                            </label>
                            <div class="relation_li_border aj_relation">
                                <div class="relation_li_left">
                                    <label>案件编号：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.ajbh}}</label>
                                    </div>
                                    <br>
                                    <label>涉案人员：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.rymc}}</label>
                                    </div>
                                    <br>
                                    <label>案件类别：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.ajlb}}</label>
                                    </div>
                                    <!-- <label>关联类别：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.gllb}}</label>
                                    </div> -->
                                </div>
                                <div class="relation_li_right">
                                    <label style="width:66px; text-align:right;">案发时间：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.afsj}}</label>
                                    </div>
                                    <br>
                                    <label style="width:66px; text-align:right;">姓名/警号：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.name_id}}</label>
                                    </div>
                                    <br>
                                    <label style="width:66px; text-align:right;">受理单位：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.sldw}}</label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li ms-for="el in @jq_data">
                            <label :click="@relation_list_click(@el.index)">
                                <div class="checkbox_img_class">
                                    <ms-checkbox :widget="{checked: @checkedKey_arr.indexOf(el.key) != -1, onChange: function(){@checkbox_img_click(arguments[0].target.checked, el)}}"></ms-checkbox>
                                </div>
                                <span class="label_text" :attr="{'data-toggle':'tooltip'}">{{@el.glbt}}</span>
                                <i class="fa fa-angle-down lable_icon"></i>
                            </label>
                            <div class="relation_li_border">
                                <div class="relation_li_left">
                                    <label>警情编号：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.aqbh}}</label>
                                    </div>
                                    <br>
                                    <label style="width:60px; text-align:right;">报警人：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.bjrxm}}</label>
                                    </div>
                                    <br>
                                    <label>警情类别：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.aqlb}}</label>
                                    </div>
                                    <br>
                                    <label>处警单位：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.cjdw}}</label>
                                    </div>
                                </div>
                                <div class="relation_li_right">
                                    <label>报警时间：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.bjsj}}</label>
                                    </div>
                                    <br>
                                    <label>报警电话：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.bjdh}}</label>
                                    </div>
                                    <br>
                                    <label>事发地点：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.sfdd}}</label>
                                    </div>
                                    <br>
                                    <label>关联类别：</label>
                                    <div class="list_li_content">
                                        <label class="list_content" :attr="{'data-toggle':'tooltip'}">{{@el.gllb}}</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="relation_list no_flag" :if="@opt_detail.authority.GLXX && @no_rel_tag">
                        暂无关联信息
                    </div>

                    <div class="list_loading_class" :if="@list_loading">
                        <img src="/static/image/tyywglpt/loading.gif"> 数据加载中...
                    </div>

                    <div class="relation_list_sum" :if="!@tag_toggle">
                        <span :if="@opt_detail.authority.GLXX && @rel_toggle">共有 {{@relation_list_sum}} 条关联信息</span>
                        <a class="common_fun_btn delete_rel" :class="[@checkedKey_arr.length > 0 ? '' : 'disabled']" :click="@delete_rel" :if="@opt_detail.authority.SCGL">删除关联</a>
                        <a class="common_fun_btn add_rel" :click="@add_rel" :if="@opt_detail.authority.TJGL">添加关联</a>
                    </div>

                    <div class="relation_list relation_tag" :if="@opt_detail.authority.BZXX && @tag_toggle">
                        <div class="dataFormBox dataFormBox_tag" :controller="tag_type_jj">
                            <span>标注类型：</span>
                            <input type="text" ms-duplex="@tag_label" :class="['formInput', 'form-control', (@edit_save ? 'zfyps_item_show' : 'zfyps_item_hide')]"
                                :attr="{title: @tag_label, disabled: 'disabled'}">
                            <ms-select :widget="{col: 'tag_type_jj', options:@tag_options, value: @tag_type_jj, onChange: @onChangeT}" :class="['formInput', (@edit_save ? 'zfyps_item_hide' : 'zfyps_item_show')]"></ms-select>
                        </div>
                        <div class="dataFormBox dataFormBox_width">
                            <span>采集地点：</span>
                            <div class="locality_panel" :class="[@collection_site_disabled ? 'locality_panel_disabled':'']">
                                <input type="text" ms-duplex="@collection_site" :class="['form-control-input', 'collection_site']" :attr="@collection_site_disabled ? {title: @collection_site, disabled: 'disabled'} : {title: @collection_site}"
                                    :focus="@input_focus('locality')" :blur="@input_blur('locality')" :keyup="@input_area">
                                <span class="fa fa-close zfyps_right_close close_locality" :mousedown="@close_click('locality')" :if="@zfyps_close_locality"></span>
                            </div>
                        </div>
                        <div class="mark_info">
                            <span>备注：</span>
                            <textarea ms-duplex="@zfyps_area" class="zfyps_area" :keyup="@input_area" :attr="@zfyps_area_disabled ? {title: @zfyps_area, disabled: 'disabled'} : {title: @zfyps_area}"></textarea>
                        </div>
                        <a class="common_fun_btn save_btn" :click="@edit_btn" :if="@edit_save">编辑</a>
                        <a class="common_fun_btn save_btn" :click="@save_btn" :if="!@edit_save" :class="[@save_disabled? '':'disabled']">保存</a>
                    </div>
                </div>
                <div class="media_info">
                    <div class="media_title">
                        <span>媒体信息</span>
                    </div>
                    <div class="media_content" id="media_content">
                        <div class="panel_info">
                            <label class="label_title">拍摄时间：</label>
                            <div class="label_div_content">
                                <label class="label_content" :attr="{'data-toggle':'tooltip'}">{{@media_info.startTime}}</label>
                            </div>
                            <label class="label_title">关联媒体：</label>
                            <div class="label_div_content">
                                <label class="label_content" :attr="{'data-toggle':'tooltip'}">{{@media_info.key_media}}</label>
                            </div>
                        </div>
                        <div class="panel_info">
                            <label class="label_title">岗位名称：</label>
                            <div class="label_div_content">
                                <label class="label_content" :attr="{'data-toggle':'tooltip'}">{{@media_info.jobType}}</label>
                            </div>
                            <label class="label_title">存储位置：</label>
                            <div class="label_div_content">
                                <label class="label_content" :attr="{'data-toggle':'tooltip'}">{{@media_info.saveSite}}</label>
                            </div>
                        </div>

                        <div class="panel_info" :controller="change_time_jj">
                            <label class="label_title">导入时间：</label>
                            <div class="label_div_content">
                                <label class="label_content" :attr="{'data-toggle':'tooltip'}">{{@media_info.importTime}}</label>
                            </div>
                            <div>
                                <label style="float: left;" class="label_title">存储天数：</label>
                                <label style="float: left;" :if="@modify_toggle">{{@media_info.saveTime}}</label>
                                <ms-select :widget="{col: 'con', options:@time_type_options, value: @time_type, onChange: @onChangeT}" :class="['selectInput', (@modify_toggle ? 'zfyps_item_hide':'zfyps_item_show')]"></ms-select>
                            </div>
                        </div>
                        <div class="panel_info">
                            <label class="label_title">拍摄民警：</label>
                            <div class="label_div_content">
                                <label class="label_content" :attr="{'data-toggle':'tooltip'}">{{@media_info.name_id}}</label>
                            </div>
                            <a class="common_fun_btn media_btn" :if="!@mediaBtn" :click="confirmBtn">确定</a>
                            <a class="common_fun_btn media_btn" :if="@opt_detail.authority.CHECK_GG" :class="[@mediaBtn ? 'zfyps_item_show':'zfyps_item_hide', @unClick_media ? 'disabled' : '']"
                                :click="modifyBtn">更改</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--提示弹窗-->
        <div class="zfyps_detail_tips_dialog">
            <ms-dialog :widget="{$innerVm: 'zfyps_detail_tips_dialog', okText: '确认', cancelText: @cancelText, className: 'zfyps_dialog_common', show: @zfyps_dialog_show, onCancel: @dialogCancel, onOk:@dialogOk, isMove:true, width:@zfyps_dialog_width, height:@zfyps_dialog_height, move_return:@move_return}">
                <div slot="body" ms-skip>
                    <!-- <iframe id="iframe_zfyps" src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:-53px;left:0px;width:100%; height:218px;z-index:-1; filter:alpha(opacity=0);"></iframe> -->
                    <span :class="[@txt_rows ? 'rows_most' : 'rows_single']">{{@dialog_txt}}</span>
                </div>
            </ms-dialog>
        </div>

        <!--提示弹窗-->
        <div class="zfyps_detail_add_dialog">
            <ms-dialog :widget="{$innerVm: 'zfyps_detail_add_dialog', okText: '确认', cancelText: '取消', className: 'zfyps_dialog_common add_rel_dialog', show: @add_rel_dialog, onCancel: @add_dialogCancel, onOk:@add_dialogOk, isMove:true, width:@zfyps_dialog_width, height:@zfyps_dialog_height, move_return:@move_return}">
                <div slot="body" ms-skip>
                    <div class="search_box">
                        <!-- <div class="search_box" :if="@opt_detail.authority.SEARCH"> -->
                        <div class="hBox">
                            <div class="dataFormBox dataTreeBox">
                                <span>执勤部门：</span>
                                <div class="dep_tree" :controller="zfysyp_add_rel_tree">
                                    <ms-tree-selecting :widget="{tree: @yspk_data, showSearch: true, wrapId: 'zfyps-tree-select', getSelected: @getSelected, selectedKey: @tree_key ? @tree_key : '', selectedTitle: @tree_title ? @tree_title : '', onChange: @select_change, extraExpandHandle: @extraExpandHandle}"></ms-tree-selecting>
                                </div>
                            </div>

                            <div class="dataRadioBox" :controller="zfyps_detail_time_range">
                                <span class="span_large">{{@time_txt}}</span>
                                <ms-select :widget="{col: 'con', options:@time_range_options, value: @time_range, onChange: @onChangeTR}" :class="['formInput']"></ms-select>

                                <div class="dataTimeBox" :if="@select_time">
                                    <!-- <span class="dataTimeBox_span">开始时间：</span> -->
                                    <div class="zfyps-timePanel" :controller="zfyps_detail_startTime">
                                        <ms-datepicker :widget="{onChange:@handlerChange, placeholder:'请选择开始时间', value:@zfyps_detail_startTime, showTime: false, endDate:@endDate}"></ms-datepicker>
                                        <!-- <div class="zfyps_tip_box zfyps_start_time_tip">
                                            <span :class="['zfyps_tip']" :css="{display:@start_null}">
                                                <i class="fa fa-exclamation-circle">&nbsp;开始时间不能为空</i>
                                            </span>
                                        </div> -->
                                    </div>
                                    <!-- <span class="dataTimeBox_span" style="margin-left: 55px;">结束时间：</span> -->
                                    <span style="float:left; height:28px; line-height:28px;">-</span>
                                    <div class="zfyps-timePanel" :controller="zfyps_detail_endTime">
                                        <ms-datepicker :widget="{onChange:@handlerChange, placeholder:'请选择结束时间', value:@zfyps_detail_endTime, showTime: false, endDate:@endDate}"></ms-datepicker>
                                        <!-- <div class="zfyps_tip_box zfyps_end_time_tip">
                                            <span :class="['zfyps_tip']" :css="{display:@end_null}">
                                                <i class="fa fa-exclamation-circle">&nbsp;结束时间不能为空</i>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hBox">
                            <div class="dataFormBox" :controller="dialog_zflx_type">
                                <span>执法类型：</span>
                                <ms-select :widget="{col: 'con', options:@zf_type_options, value: @zf_type, onChange: @onChangeT}" :class="['formInput']"></ms-select>
                            </div>
                            <div class="dataFormBox">
                                <span class="span_large">姓名/警号：</span>
                                <div class="add_dialog_input_panel">
                                    <input type="text" ms-duplex="@police_check" class="form-control-input policeId" :keyup="@name_input_enter" :attr="{title: @police_check}"
                                        :focus="@input_focus('policeId')" :blur="@input_blur('policeId')">
                                    <span class="fa fa-close zfyps_right_close" :mousedown="@close_click('policeId')" :if="@zfyps_close_policeId"></span>
                                </div>
                                <!-- <div class="zfyps_tip_box">
                                    <span :class="['zfyps_tip']" :css="{display:@name_format}">
                                        <i class="fa fa-exclamation-circle">请输入正确的格式</i>
                                    </span>
                                </div> -->
                            </div>
                            <div class="dataFormBox">
                                <span style="width: 85px; text-align: right;">{{@handle_txt}}</span>
                                <div class="add_dialog_input_panel">
                                    <input type="text" ms-duplex="@handle_num" class="form-control-input handle_num" :keyup="@name_input_enter" :attr="{title: @handle_num}"
                                        :focus="@input_focus('handle_num')" :blur="@input_blur('handle_num')">
                                    <span class="fa fa-close zfyps_right_close" :mousedown="@close_click('handle_num')" :if="@zfyps_close_handleNum"></span>
                                </div>
                                <!-- <div class="zfyps_tip_box">
                                    <span :class="['zfyps_tip']" :css="{display:@name_format}">
                                        <i class="fa fa-exclamation-circle">请输入正确的格式</i>
                                    </span>
                                </div> -->
                            </div>
                            <a class="common_fun_btn" :click="@searchBtn">查询</a>
                        </div>
                    </div>

                    <div class="zfysyp_detail_table" :controller="zfysyp_detail_table">
                        <div :class="['zfyps_detail_tabCont']">
                            <div :controller="zfysyp_detail_table_in" :class="['table-index']" id="zfysyp_detail_table_in">
                                <div class="table-index-thead-fixed">
                                    <ul class="table-index-thead" :css="{paddingRight:@paddingRight}">
                                        <li data-order="1" class="col-5">
                                            <ms-checkbox :widget="{checked:@isAllChecked, onChange:@handleCheckAll}"></ms-checkbox>
                                        </li>
                                        <li data-order="2" class="col-5">序号</li>
                                        <li data-order="3" :class="[@table_list_3_class]">姓名/警号</li>
                                        <li data-order="4" :class="[@table_list_4_class]">{{@table_list_4}}</li>
                                        <li data-order="5" :class="[@table_list_5_class]">{{@table_list_5}}</li>
                                        <li data-order="6" :class="[@table_list_6_class]">{{@table_list_6}}</li>
                                        <li data-order="7" :class="[@table_list_7_class]">{{@table_list_7}}</li>
                                        <li data-order="8" :class="[@table_list_status_8 ? 'table_list_show' : 'table_list_hide', @table_list_8_class]">{{@table_list_8}}</li>
                                        <li data-order="9" :class="[@table_list_status_9 ? 'table_list_show' : 'table_list_hide', @table_list_9_class]">{{@table_list_9}}</li>
                                    </ul>
                                </div>

                                <ul class="table-index-tbody">
                                    <li class="list-null" :if="!@data.length && !@loading">暂无数据</li>
                                    <li :for="($index, record) in @data">
                                        <div class="tbody col-5 table-index-checkbox">
                                            <ms-checkbox :widget="{checked:@checked.indexOf(record[@key])!=-1, onChange:function(){@handleCheck(arguments[0].target.checked, record)}}"></ms-checkbox>
                                        </div>
                                        <div class="tbody col-5">
                                            <div class="table-cont">{{(@currentPage - 1) * @prePageSize + $index + 1}}</div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_3_class]">
                                            <div class="table-cont" :attr="record['name_id'] && (record['name_id'] != '-') ? {rel:'drevil',tdval:record['name_id']}:''">
                                                {{record['name_id']}}
                                            </div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_4_class]">
                                            <div class="table-cont" :attr="record['table_list_4_txt'] && (record['table_list_4_txt'] != '-') ? {rel:'drevil',tdval:record['table_list_4_txt']}:''">
                                                {{record['table_list_4_txt']}}
                                            </div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_5_class]">
                                            <div class="table-cont" :attr="record['table_list_5_txt'] && (record['table_list_5_txt'] != '-') ? {rel:'drevil',tdval:record['table_list_5_txt']}:''">
                                                {{record['table_list_5_txt']}}
                                            </div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_6_class]">
                                            <div class="table-cont" :attr="record['table_list_6_txt'] && (record['table_list_6_txt'] != '-') ? {rel:'drevil',tdval:record['table_list_6_txt']}:''">
                                                {{record['table_list_6_txt']}}
                                            </div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_7_class]">
                                            <div class="table-cont" :attr="record['table_list_7_txt'] && (record['table_list_7_txt'] != '-') ? {rel:'drevil',tdval:record['table_list_7_txt']}:''">
                                                {{record['table_list_7_txt']}}
                                            </div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_status_8 ? 'table_list_show' : 'table_list_hide', @table_list_8_class]">
                                            <div class="table-cont" :attr="record['table_list_8_txt'] && (record['table_list_8_txt'] != '-') ? {rel:'drevil',tdval:record['table_list_8_txt']}:''">
                                                {{record['table_list_8_txt']}}
                                            </div>
                                        </div>
                                        <div class="tbody" :class="[@table_list_status_9 ? 'table_list_show' : 'table_list_hide', @table_list_9_class]">
                                            <div class="table-cont" :attr="record['table_list_9_txt'] && (record['table_list_9_txt'] != '-') ? {rel:'drevil',tdval:record['table_list_9_txt']}:''">
                                                {{record['table_list_9_txt']}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="table-index-loading" :if="@loading">
                                    <span class="loadingSpan">结果加载中</span>
                                </div>
                                <!-- <div :if="!@loading && !@data.length" class="noData">暂无数据</div> -->
                            </div>
                        </div>
                        <div class="yspk_page">
                            <ms-pages :widget="{total:@table_pagination.total, pageSize:@table_pagination.pageSize, current:@table_pagination.current, onChange:@handlePageChange, getCurrent:@getCurrent, overLimit:@page_type}"></ms-pages>
                        </div>
                    </div>

                    <a class="common_fun_btn add_rel_btn" :click="@add_rel_btn" :class="[@selected_arr.length > 0 ? '' : 'disabled']">确定</a>
                </div>
            </ms-dialog>
        </div>
    </div>
</template>