<template>
    <div class="zfsypsjglpt_yspk_zfypsjj">
        <div class="search_box" :if="@opt_jj.authority.SEARCH">
            <div class="hBox" style="padding-top: 10px;">
                <div class="dataFormBox dataTreeBox">
                    <span>执勤部门：</span>
                    <!-- <span style="width: 95px; text-align: right">执勤部门：</span> -->
                    <div class="dep_tree" :controller="yspkjj_tree">
                        <!-- <ms-tree-select :widget="{treeData: @yspk_data, onChange: @select_change, value: @yspk_value, expandedKeys: @yspk_expandedKeys}"
                            :class="['formInput']"></ms-tree-select> -->
                        <ms-tree-selecting :widget="{tree: @yspk_data, showSearch: true, wrapId: 'zfyps-tree-select', getSelected: @getSelected, selectedKey: @tree_key ? @tree_key : '', selectedTitle: @tree_title ? @tree_title : '', onChange: @select_change, extraExpandHandle: @extraExpandHandle}"></ms-tree-selecting>
                        <!-- <xmp is="ms-tree-select" :widget="{treeData: @yspk_data, onChange: @select_change, value: @yspk_value, expandedKeys: @yspk_expandedKeys}"
                                :class="['formInput']"></xmp> -->
                    </div>
                    <div class="included_dep" :click="@included_dep_click">
                        <img :attr="{src:@included_dep_img}">包含子部门
                    </div>
                </div>
                <div class="dataFormBox" :controller="zfyps_man_type">
                    <span>人员类别：</span>
                    <ms-select :widget="{col: 'con', options:@man_type_options, value: @man_type, onChange: @onChangeT}" :class="['formInput']"></ms-select>
                </div>
                <div class="dataFormBox">
                    <span class="span_large">姓名/警号：</span>
                    <div class="zfyps_input_panel">
                        <input type="text" ms-duplex="@police_check" class="form-control-input policeId" :keyup="@name_input_enter" :attr="{title: @search_policeId_title}"
                            placeholder="支持姓名、警号查询" :focus="@input_focus('policeId')" :blur="@input_blur('policeId')">
                        <span class="fa fa-close zfyps_right_close" :mousedown="@close_click('policeId')" :if="@zfyps_close_policeId"></span>
                    </div>
                    <!-- <div class="zfyps_tip_box">
                        <span :class="['zfyps_tip']" :css="{display:@name_format}">
                            <i class="fa fa-exclamation-circle">请输入正确的格式</i>
                        </span>
                    </div> -->
                </div>
                <a class="common_search_btn" :if="@opt_jj.authority.SEARCH" :click="@searchBtn">查询</a>
            </div>
            <div class="hBox" style="padding-top: 6px;">
                <div class="dataRadioBox" :controller="zfypsjj_time_range">
                    <span>拍摄时间：</span>
                    <!-- <ms-select :widget="{col: 'con', options:@time_range_arr, value: @time_range_label, onChange: @onChangeL}" :class="['formInput','time_range_label']"></ms-select> -->
                    <ms-select :widget="{col: 'con', options:@time_range_options, value: @time_range, onChange: @onChangeTR}" :class="['formInput']"></ms-select>

                    <div class="dataTimeBox" :if="@select_time">
                        <!-- <span class="dataTimeBox_span">开始时间：</span> -->
                        <div class="zfyps-timePanel" :controller="zfysypjj_startTime">
                            <ms-datepicker :widget="{onChange:@handlerChange, placeholder:'请选择开始时间', value:@zfysypjj_startTime, showTime: false, endDate:@endDate}"></ms-datepicker>
                            <div class="zfyps_tip_box zfyps_start_time_tip">
                                <span :class="['zfyps_tip']" :css="{display:@start_null}">
                                    <i class="fa fa-exclamation-circle">&nbsp;开始时间不能为空</i>
                                </span>
                            </div>
                        </div>
                        <!-- <span class="dataTimeBox_span" style="margin-left: 55px;">结束时间：</span> -->
                        <span style="float:left; height:28px; line-height:28px;">-</span>
                        <div class="zfyps-timePanel" :controller="zfypsjj_endTime">
                            <ms-datepicker :widget="{onChange:@handlerChange, placeholder:'请选择结束时间', value:@zfypsjj_endTime, showTime: false, endDate:@endDate}"></ms-datepicker>
                            <div class="zfyps_tip_box zfyps_end_time_tip">
                                <span :class="['zfyps_tip']" :css="{display:@end_null}">
                                    <i class="fa fa-exclamation-circle">&nbsp;结束时间不能为空</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zfsypsjglpt_yspk_zfypsjj_table" :controller="zfsypsjglpt_yspk_zfypsjj_table">
            <div :class="['zfypsjj_tabCont']">
                <div :controller="zfysypjj_table" :class="['table-index']" id="zfysypjj_table">
                    <div class="table-index-thead-fixed">
                        <ul class="zfypsjj_table_parent" :css="{paddingRight:@paddingRight}">
                            <li parent="1" class="col-4">
                                <span style="visibility: hidden;">序号</span>
                            </li>
                            <li parent="2" class="col-5">
                                <span style="visibility: hidden;">操作</span>
                            </li>
                            <li parent="3" class="col-18">
                                <span style="visibility: hidden;">执勤部门</span>
                            </li>
                            <li parent="4" class="col-6">
                                <span style="visibility: hidden;">人员类别</span>
                            </li>
                            <li parent="5" class="col-13">
                                <span style="visibility: hidden;">姓名/警号</span>
                            </li>
                            <li parent="6" class="col-36">
                                <span>视频数</span>
                            </li>
                            <li parent="7" class="col-9">
                                <span style="visibility: hidden;">音频数</span>
                            </li>
                            <li parent="8" class="col-9">
                                <span style="visibility: hidden;">图片数</span>
                            </li>
                        </ul>
                        <ul class="table-index-thead zfypsjj_table_son" :css="{paddingRight:@paddingRight}">
                            <li data-order="1" son="1" class="col-4">
                                <span class="zfypsjj_table_son_span">序号</span>
                            </li>
                            <li data-order="2" son="2" class="col-5">
                                <span class="zfypsjj_table_son_span">操作</span>
                            </li>
                            <li data-order="3" son="3" class="col-18">
                                <span class="zfypsjj_table_son_span">执勤部门</span>
                            </li>
                            <li data-order="4" son="4" class="col-6">
                                <span class="zfypsjj_table_son_span">人员类别</span>
                            </li>
                            <li data-order="5" son="5" class="col-13">
                                <span class="zfypsjj_table_son_span">姓名/警号</span>
                            </li>
                            <li data-order="6" son="6" class="col-9 zfypsjj_table_down">总数</li>
                            <li data-order="7" son="6" class="col-9 zfypsjj_table_down">业务关联</li>
                            <li data-order="8" son="6" class="col-9 zfypsjj_table_down">执法记录仪标记</li>
                            <li data-order="9" son="6" class="col-9 zfypsjj_table_down">无标记</li>
                            <li data-order="10" son="7" class="col-9">
                                <span class="zfypsjj_table_son_span">音频数</span>
                            </li>
                            <li data-order="11" son="8" class="col-9">
                                <span class="zfypsjj_table_son_span">图片数</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="table-index-tbody">
                        <li class="list-null" :if="!@data.length">暂无数据</li>
                        <li :for="($index, record) in @data">
                            <!-- <div class="tbody col-5 table-index-checkbox">
                                <ms-checkbox :widget="{checked:@checked.indexOf(record[@key])!=-1, onChange:function(){@handleCheck(arguments[0].target.checked, record)}}"></ms-checkbox>
                            </div> -->
                            <div class="tbody col-4">
                                <div class="table-cont">{{(@currentPage - 1) * @prePageSize + $index + 1}}</div>
                            </div>
                            <div class="tbody col-5">
                                <div class="table-cont">
                                    <span>
                                        <a class="check_Btn" :click="@handle('check_click', 'space', record, $index)" :if="@opt_jj.authority.CHECK">查看</a>
                                        <span :if="@opt_jj.authority.OPT_SHOW">-</span>
                                    </span>
                                </div>
                            </div>
                            <div class="tbody col-18">
                                <div class="table-cont" :attr="record['orgName'] && (record['orgName'] != '-') ? {rel:'drevil',tdval:record['orgName']}:''">
                                    {{record['orgName']}}
                                </div>
                            </div>
                            <div class="tbody col-6">
                                <div class="table-cont" :attr="record['policeTypeName'] && (record['policeTypeName'] != '-') ? {rel:'drevil',tdval:record['policeTypeName']}:''">
                                    {{record['policeTypeName']}}
                                </div>
                            </div>
                            <div class="tbody col-13">
                                <div class="table-cont" :attr="record['name_id'] && (record['name_id'] != '-') ? {rel:'drevil',tdval:record['name_id']}:''">
                                    {{record['name_id']}}
                                </div>
                            </div>
                            <div class="tbody col-9">
                                <div class="table-cont" :attr="record['videoCount'] && (record['videoCount'] != '-') ? {rel:'drevil',tdval:record['videoCount']}:''">
                                    {{record['videoCount']}}
                                </div>
                            </div>
                            <div class="tbody col-9">
                                <div class="table-cont" :attr="record['videoMatchCount'] && (record['videoMatchCount'] != '-') ? {rel:'drevil',tdval:record['videoMatchCount']}:''">
                                    {{record['videoMatchCount']}}
                                </div>
                            </div>
                            <div class="tbody col-9">
                                <div class="table-cont" :attr="record['videoKeyCount'] && (record['videoKeyCount'] != '-') ? {rel:'drevil',tdval:record['videoKeyCount']}:''">
                                    {{record['videoKeyCount']}}
                                </div>
                            </div>
                            <div class="tbody col-9">
                                <div class="table-cont" :attr="record['videoNoMark'] && (record['videoNoMark'] != '-') ? {rel:'drevil',tdval:record['videoNoMark']}:''">
                                    {{record['videoNoMark']}}
                                </div>
                            </div>
                            <div class="tbody col-9">
                                <div class="table-cont" :attr="record['audioOnlyCount'] && (record['audioOnlyCount'] != '-') ? {rel:'drevil',tdval:record['audioOnlyCount']}:''">
                                    {{record['audioOnlyCount']}}
                                </div>
                            </div>
                            <div class="tbody col-9">
                                <div class="table-cont" :attr="record['picOnlyCount'] && (record['picOnlyCount'] != '-') ? {rel:'drevil',tdval:record['picOnlyCount']}:''">
                                    {{record['picOnlyCount']}}
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div class="table-index-loading" :if="@loading">
                        <span class="loadingSpan">结果加载中</span>
                    </div>
                    <!-- <div :if="!@loading && !@data.length" class="noData">暂无数据</div> -->
                </div>
            </div>
            <div class="yspk_page">
                <ms-pages :widget="{total:@table_pagination.total, pageSize:@table_pagination.pageSize, current:@table_pagination.current, onChange:@handlePageChange, getCurrent:@getCurrent, overLimit:@page_type}"></ms-pages>
            </div>
        </div>
    </div>
</template>