<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>执法视音频数据管理系统</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/node_modules/ane/dist/ane.css" rel="stylesheet" />
    <script src="/static/mod.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/polyfill/html5shiv.js"></script>
    <script src="/static/polyfill/respond.src.js"></script>
    <script type="text/javascript" src="/static/polyfill/html5.js"></script>
    <script type="text/javascript" src="/static/polyfill/excanvas.js"></script>
    <![endif]-->
</head>

<body :controller="zfsypsjglpt_vm" class="ms-controller">
    <ms-browser-upgrade-tips></ms-browser-upgrade-tips>
    <!-- header -->
    <div class="header">
        <i class="zfsypsjglpt_logo"></i>
        <span class="title">{{@titleName}}</span>
        <div class="setting" :controller="setting">
            <div class="setting_bar" ms-mouseenter="@showSet" ms-mouseleave="@hideSet" :visible="@toggle" style="display:none">
                <ul>
                    <li :click="@bindModify">
                        <i class="fa fa-key" aria-hidden="true" style="padding-right: 8px;"></i>修改密码</li>
                    <li :click="@bindLogout">
                        <i class="fa fa-cog" aria-hidden="true" style="padding-right: 8px;"></i>退出登录</li>
                </ul>
            </div>
            <span :click="toMain_index" class="header-home"></span>
            <!-- <span :click="help_click" class="header-help"></span> -->
            <span :click="setting_click" class="header-setting"></span>
        </div>
        <h5 class="currentUser">
            <span>
                <span class="info_title">用户：</span>
                <span class="textNoWrap" ms-attr="{title: @userName}">{{@userName}}</span>
                <span class="info_title">| 单位：</span>
                <span class="textNoWrap" ms-attr="{title: @orgName}">{{@orgName}}</span>
                <span class="role">
                    <span class="info_title">| 角色：</span>
                    <span class="textNoWrap" ms-attr="{title: @roleNames[0]}">{{@roleNames[0]}}</span>
                    <i ms-if="@roleShow" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i ms-if="@roleShow" class="fa fa-angle-up" aria-hidden="true"></i>
                    <div ms-if="@roleShow" class="userWrap">
                        <div class="triangle"></div>
                        <ul>
                            <li ms-for="item in @roleNames" ms-attr="{title: @item}">{{item}}</li>
                        </ul>
                    </div>
                </span>
            </span>
        </h5>
    </div>
    <!-- sidebar start-->
    <div id="sidebar">
        <div class="zfsypsjglpt-menu">
            <ms-menu :widget="{menu:@menu, openKeys:@openKeys, selectedKeys:@selectedKeys, onClick:@handleMenuClick, onOpenChange:@handleOpenChange}"></ms-menu>
        </div>
    </div>
    <div :visible="@flag_jtwfkp" id="jtwfkpMenu">
        <!-- <div :controller="jtwfkp_page_controller" class="jtwfkp-container-kp">
            <div class="jtwfkp_menuClass">
                <ms-menu :widget="{menu:@menu, openKeys:@openKeys, selectedKeys:@selectedKeys, onClick:@handleMenuClick, onOpenChange:@handleOpenChange}"></ms-menu>
            </div>
        </div> -->
    </div>
    <!-- sidebar end-->
    <!-- content start-->
    <div id="content">
        <div ms-html="@currentPage"></div>
    </div>
    <!-- content end-->
    <!-- <div id="footer" class="zfsyp_footer">
        {{@copyRight}}
        <br>
        {{@telephone}}
    </div> -->

    <!-- <div :controller="editPassword">
        <xmp :widget="{is:'ms-dialog', $innerVm:'editPwd', show:@show, width: 450, height: 350, onCancel:@editCancel, onOk:@editOk, okText:'提交', cancelText:'取消'}">
            <ms-form :widget="{$form:@$editPwdForm}" slot="body" ms-skip>
                <div id="changePwd">
                    <div class="ipt-class">
                        <label>原密码：</label>
                        <ms-input :widget="{value:@record.oldPwd, type: 'password', col: 'oldPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入旧密码'}}"></ms-input>
                    </div>
                    <div class="ipt-class">
                        <label>新密码：</label>
                        <ms-input :widget="{value:@record.newPwd, type: 'password', col: 'newPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入新密码'}}"></ms-input>
                    </div>
                    <div class="ipt-class">
                        <label>确认新密码：</label>
                        <ms-input :widget="{value:@record.repPwd, type: 'password', col: 'repPwd', onChange:@iputhandle, $rules: {required: true, message: '请重复新密码'}}"></ms-input>
                    </div>
                </div>
            </ms-form>
        </xmp>
    </div> -->

    <!-- 右上角弹窗组件 -->
    <ms-header-operation></ms-header-operation>

    <!-- <div :controller="logout_vm" class="logout_vm">
        <xmp :widget="{is: 'ms-dialog', $innerVm: 'logout', show: @show_logout, width: 450, height: 195, onCancel: @cancelLogout, onOk: @handleLogout, okText:'退出'}">
            <div slot="body" ms-skip>
                <h5 :css="{'font-size': '16px', 'color': '#536b82'}" ms-text="@logoutMsg"></h5>
            </div>
        </xmp>
    </div> -->
    <div :if="@show_player">
        <!-- <iframe id="gm_webplayer" src="/webplayer.html" width="100%" height="100%" scrolling="no" name="gm_name" marginheight="0"
            marginwidth="0" frameborder="0"></iframe> -->
        <iframe id="iframe_zfsyps" src="about:blank" marginheight="0" marginwidth="0" style="display:none; position:absolute; visibility:inherit; top:0;left:0;width:0; height:0;z-index:992;opacity:1;filter:alpha(opacity=0);background: #fff;"
            frameborder="0"></iframe>
    </div>

    <div :controller="help_vm">
        <xmp :widget="{is:'ms-dialog', $innerVm: 'help_inner_vm', show: @show, className:@extraClass, onCancel: @handleCancle, cancelText:@cancelText}">
            <div slot="body" ms-skip>
                <h5 :css="{'font-size': '16px'}" ms-text="@helpMsg"></h5>
            </div>
            <div slot="footer" class="modal-footer" ms-skip>
                <a class="btn btn-default" :click="@handleClose">关闭</a>
            </div>
        </xmp>
    </div>

    <script>
        require(['./zfsypsjglpt']);
    </script>
</body>

</html>