body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "microsoft yahei", sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

xmp {
    display: none;
}

.ms-controller,
xmp {
    visibility: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #333333;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    min-width: 1349px;
    direction: ltr;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@-ms-viewport {
    width: auto !important;
}

/* header start*/

.header {
    height: 66px;
    line-height: 66px;
    color: #ffffff;
    width: 100%;
    min-width: 1349px;
    background-color: #0078d7;
    z-index: 999;
    position: absolute;
    top: 0;
}

.header .zfsypsjglpt_logo {
    display: block;
    float: left;
    background: url(/static/image/index/logo.png?__sprite) no-repeat;
    width: 42px;
    height: 45px;
    margin-top: 8px;
    margin-left: 20px;
}

.header span.title {
    display: block;
    float: left;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    color: #ffffff;
    margin-left: 13px;
    font-weight: bold;
}

.setting span {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    width: 22px;
    height: 19px;
    margin-top: 22px;
    margin-right: 20px;
}

.setting .header-home {
    background: url(/static/image/index/home.png?__sprite) 0 0 no-repeat;
}

.setting .header-help {
    background: url(/static/image/index/help.png?__sprite) 0 0 no-repeat;
}

.setting .header-setting {
    background: url(/static/image/index/setting.png?__sprite) 0 0 no-repeat;
}

.setting-info {
    width: 110px;
    height: 100%;
    font-size: 12px;
    line-height: 63px;
    padding: 0 0 0 0px;
    float: right;
    color: #fff;
    position: relative;
    margin-right: 15px;
    background: url(/static/image/index/admin.png?__sprite) no-repeat left center;
}

.setting-info .hdrop {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    float: right;
    margin-left: 10px;
    margin-top: 21px;
    height: 20px;
    right: 0px;
    position: relative;
    border: none;
    background: url(/static/image/index/unify.png?__sprite) no-repeat;
}

.setting-info .hdrop:hover {
    background: url(/static/image/index/unify.png?__sprite) no-repeat #3b82b5;
}

.setting-info .rheader {
    float: right;
    margin-left: 5px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    height: 62px;
    position: relative;
}

.setting .exchange {
    padding: 0px;
    line-height: 63px;
    display: block;
    background: url(/static/image/index/exchange.png?__sprite) no-repeat;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    margin-top: 17px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    float: right;
}

.setting a {
    outline: none;
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    padding: 0px 15px;
    text-align: center;
}

.setting .exchange:hover {
    background: url(/static/image/index/exchange_sel.png?__sprite) no-repeat;
}

.setting_bar {
    position: absolute;
    z-index: 10;
    top: 65px;
    right: 10px;
    width: 120px;
    height: 90px;
    background-color: #0078d7;
}

.setting_bar>ul {
    position: relative;
    margin-top: 4px;
}

.setting_bar>ul>li {
    line-height: 40px;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    list-style: none;
    /* border-bottom: 1px solid #f4f5f7; */
}

.setting_bar>ul>li:hover {
    cursor: pointer;
    background-color: #01589f;
}

/* header end*/

/* sidebar start*/

#sidebar {
    width: 180px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 831px;
    padding-top: 66px;
    z-index: 99;
    background-color: #05599a;
}

#sidebar .zfsypsjglpt-menu {
    width: 180px;
    height: 100%;
    min-height: 765px;
}

#sidebar .zfsypsjglpt-menu>ul {
    border-right: 0px;
    background-color: #05599a;
}

#sidebar .zfsypsjglpt-menu .ane-menu {
    font-size: 16px;
    background-color: #05599a;
}

#sidebar .zfsypsjglpt-menu .ane-menu a {
    color: #ffffff;
}

#sidebar .zfsypsjglpt-menu>.ane-menu>li {
    /* height: 46px; */
    line-height: 46px;
}

#sidebar .zfsypsjglpt-menu>.ane-menu>.ane-menu-item {
    /* color: #000000; */
    height: 46px;
}

#sidebar .zfsypsjglpt-menu>.ane-menu>.ane-menu-item-selected {
    height: 46px;
    line-height: 46px;
}

#sidebar .zfsypsjglpt-menu .ane-menu-item-selected:after {
    border-right: 0;
}

#sidebar .zfsypsjglpt-menu .ane-menu-submenu .ane-menu-caret.fa-angle-down {
    background: url(/static/image/zfsypsjglpt/menu_close.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .ane-menu-submenu .ane-menu-caret.fa-angle-up {
    background: url(/static/image/zfsypsjglpt/menu_open.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .xtsy {
    background: url(/static/image/zfsypsjglpt/xtsy.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .yspk {
    background: url(/static/image/zfsypsjglpt/yspk.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .zfda {
    background: url(/static/image/zfsypsjglpt/zfda.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .tjfx {
    background: url(/static/image/zfsypsjglpt/tjfx.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .jdkp {
    background: url(/static/image/zfsypsjglpt/jdkp.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .rzgl {
    background: url(/static/image/zfsypsjglpt/rzgl.png?__sprite) no-repeat;
}

#sidebar .zfsypsjglpt-menu .ane-menu-submenu>a>i:first-child,
#sidebar .zfsypsjglpt-menu .ane-menu-item>a>i:first-child {
    margin-right: 0;
    float: left;
    width: 37px;
    height: 46px;
}

#sidebar .zfsypsjglpt-menu .ane-menu-submenu>a i.ane-menu-caret.fa {
    width: 9px;
    height: 40px;
}

#sidebar .zfsypsjglpt-menu .ane-menu-submenu>a i.ane-menu-caret.fa-angle-down:before,
#sidebar .zfsypsjglpt-menu .ane-menu-submenu>a i.ane-menu-caret.fa-angle-up:before {
    content: "";
}

#sidebar .zfsypsjglpt-menu .ane-menu a {
    padding-left: 0 !important;
}

#sidebar .zfsypsjglpt-menu .ane-menu-item-selected {
    background-color: #2391e5 !important;
}

#sidebar .zfsypsjglpt-menu .ane-menu li .ane-menu a {
    margin-left: 5px;
    padding-left: 32px !important;
    font-size: 14px;
    max-width: 175px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* sidebar end*/

/* content start */

#content {
    margin-left: 180px;
    padding: 74px 8px 0px 8px;
    /* height: 814px; */
}

/* content end */

/* ane start */

.ane-tree-select-dropdown {
    width: 260px !important;
    /* height: 180px !important; */
    /* overflow-y: auto !important; */
}

.ane-tree-select-dropdown .ztree {
    height: 300px;
}

/* ane end */

/* 弹窗右上角关闭图标样式  start*/

.close {
    color: #fff;
    opacity: 1;
}

.setting {
    width: 100px;
    height: 65px;
    float: right;
    line-height: 65px;
    text-align: right;
}

.setting-info {
    width: 110px;
    height: 100%;
    font-size: 12px;
    line-height: 63px;
    padding: 0 0 0 0px;
    float: right;
    color: #fff;
    position: relative;
    margin-right: 15px;
    background: url(/static/image/index/admin.png?__sprite) no-repeat left center;
}

.textNoWrap {
    max-width: 86px;
    height: 66px;
    line-height: 66px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    Word-break: break-all;
    text-align: left;
}

.info_title {
    float: left;
    margin-left: 4px;
    height: 66px;
    line-height: 66px;
}

.currentUser {
    float: right;
    color: #fff;
    height: 66px;
    line-height: 66px;
    margin: 0px;
    position: relative;
}

.userWrap {
    position: absolute;
    z-index: -10;
    top: 50px;
    right: -80px;
    width: 120px;
    background-color: #ffffff;
    border: 1px solid #d4d7d9;
    display: none;
}

.userWrap>ul {
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
}

.userWrap>ul>li {
    line-height: 24px;
    width: 100%;
    min-height: 24px;
    color: #536b82;
    text-align: center;
    list-style: none;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    Word-break: break-all;
}

.userWrap>ul>li:hover {
    cursor: pointer;
    color: #076FCB;
    background-color: #dddddd;
}

.role {
    display: inline-block;
    height: 66px;
    line-height: 66px;
}

.role>i.fa-angle-up {
    display: none;
}

.role>i.fa-angle-down {
    display: inline-block;
    margin-left: 4px;
}

.role:hover>i.fa-angle-up,
.role:hover>.userWrap {
    display: inline-block;
    margin-left: 4px;
}

.role:hover>i.fa-angle-down {
    display: none;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 25px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.setting_bar {
    position: absolute;
    z-index: 10;
    top: 65px;
    right: 8px;
    width: 120px;
    height: 90px;
    background-color: #0078d7;
}

.setting_bar>ul {
    position: relative;
    margin-top: 4px;
}

.setting_bar>ul>li {
    line-height: 40px;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    list-style: none;
    /* border-bottom: 1px solid #f4f5f7; */
}

.setting_bar>ul>li:first-child {
    /* border-top: 1px solid #f4f5f7; */
}

.setting_bar>ul>li:hover {
    cursor: pointer;
    background-color: #01589f;
}

.setting-info .hdrop {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    float: right;
    margin-left: 10px;
    margin-top: 21px;
    height: 20px;
    right: 0px;
    position: relative;
    border: none;
    background: url(/static/image/index/unify.png?__sprite) no-repeat;
}

.setting-info .hdrop:hover {
    background: url(/static/image/index/unify.png?__sprite) no-repeat #3b82b5;
}

.setting-info .rheader {
    float: right;
    margin-left: 5px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    height: 62px;
    position: relative;
}

.setting .exchange {
    padding: 0px;
    line-height: 63px;
    display: block;
    background: url(/static/image/index/exchange.png?__sprite) no-repeat;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    margin-top: 17px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    float: right;
}

.setting a {
    outline: none;
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    padding: 0px 15px;
    text-align: center;
}

.setting .exchange:hover {
    background: url(/static/image/index/exchange_sel.png?__sprite) no-repeat;
}

/* 弹窗右上角关闭图标样式  end*/

.zfsyp_footer {
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    color: #666;
    z-index: 9999;
}

#gm_webplayer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 9999; */
}

.jtwfkp-container-kp {
    display: block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 186px;
    right: 8px;
    top: 75px;
    height: 91%;
    min-height: 765px;
    min-width: 1162px;
}

.jtwfkp-container-kp .jtwfkp_menuClass {
    position: absolute;
    width: 100%;
    background: #0078d7;
}

.jtwfkp-container-kp .ane-menu {
    width: 100%;
}

#jtwfkpMenu .ane-menu-item-selected {
    background-color: #2391e5 !important;
}

.jtwfkp-container-kp .ane-menu-item {
    float: left;
    width: 150px;
    /* background-color: #337ab7;     */
}

.jtwfkp-container-kp .ane-menu-item a {
    color: white;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-inline .form-control-static {
    display: inline-block;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
    width: auto;
}

.form-inline .input-group>.form-control {
    width: 100%;
}

.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .radio label,
.form-inline .checkbox label {
    padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
    top: 0;
}