.sszhxt-gjgl-gjcx-map {
    width: 0;
    height: 0;
    overflow: hidden;
}
.sszhxt-gjgl-gjcx-sosBtn{
    bottom: 1px;
    top: auto;
    left: 270px;
}
.sszhxt-gjgl-gjcx-sos-info{
    left: 270px;
    bottom: 30px;
}
/*------------------------ 左侧搜索栏开始----------------------------- */

.sszhxt-layout {
    position: relative;
    margin: 0;
    padding: 0 2px;
    z-index: 0;
    height: 100%;
    color: #333;
}

.sszhxt-layout .left.left-layout {
    width: 260px;
    background: #F4F5F7;
    /* overflow-y: auto; */
    height: 100%;
    float: left;
}

.sszhxt-layout .right.right-layout {
    background: #fff;
    min-width: 1040px;
    margin-left: 262px;
}

.sszhxt-search-box .tree-select-wrap .tree-panel {
    width: 175px;
}

.sszhxt-search-box {
    position: relative;
    padding: 9px;
    background: #f3f5f7;
    border: 1px solid #e4e4e4;
}

.sszhxt-search-box .form-inline {
    position: relative;
    top: 5px;
}

.sszhxt-search-box .form-inline .form-item {
    /* width: 255px; */
    display: inline-block;
    margin-bottom: 10px;
    /* margin-right: 20px; */
}

.sszhxt-search-box .form-item label {
    width: 65px;
    /*该宽度适用于五个字的以下label，特殊情况请在自己的页面内覆盖*/
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    font-family: "Microsoft YaHei", serif;
    color: #536b82;
    font-weight: bold;
}

.sszhxt-search-box .form-item .close-clear {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 15px;
    color: #536b82;
    display: none;
}

.sszhxt-search-box .form-item .form-control {
    display: inline-block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    min-height: 30px;
    color: #536b82;
    padding: 0 12px;
}

.sszhxt-search-box .ane-select-selected {
    /*为了在ie中垂直居中*/
    padding: 0;
    top: -1px;
}

.sszhxt-search-box .ane-select-arrow,
.sszhxt-search-box .ane-tree-select-arrow {
    top: 4px;
}

.sszhxt-search-box .form-inline .ane-datepicker {
    width: 170px;
    display: inline-block;
}

.sszhxt-search-box .btn-query {
    width: 240px;
    /* height: 30px; */
    color: #fff;
    background: #fd8702;
}

.sszhxt-search-box .btn-query:hover {
    background: #db7400;
}

.sxzhxt-gjgl .form-group.has-feedback {
    width: 100%;
}

/*------------------------ 左侧搜索栏结束----------------------------- */

/*表格*/

.sxzhxt-gjgl .tyywglpt-list-panel {
    top: 43px;
    bottom: 76px;
    right: 2px;
}

.sxzhxt-gjgl .com-pages {
    bottom: 16px;
}

.sxzhxt-gjgl .look {
    color: #0419dc;
    cursor: pointer;
}

.sxzhxt-gjgl .waitDeal {
    color: rgb(255, 0, 0);
}

/* .sxzhxt-gjgl  .gjglDetail{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index:999;
} */

.sxzhxt-gjgl .URGENT, .sxzhxt-gjgl .IMPORTANT, .sxzhxt-gjgl .GENERAL, .sxzhxt-gjgl .PROMPT {
    display: inline-block;
    margin-left: 5px;
    padding: 0px 5px;
    color: #fff;
    border-radius: 4px;
    line-height: 25px;
}
.sxzhxt-gjgl .URGENT {
    background: red;
}
.sxzhxt-gjgl .IMPORTANT{
    background: orange;
}
.sxzhxt-gjgl .GENERAL{
    background: #00cc33;
}
.sxzhxt-gjgl .PROMPT{
    background: #3399ff;
}

.sxzhxt-gjgl .ane-datepicker input{
    padding: 0 5px !important;
}