
<template>
    <div class="row myrow">
        <!--<input type="text" :keydown="@showmap($event)" style="z-index: 9999">-->
        <!--<input type="text" :keydown="@hidemap($event)" style="z-index: 9999">-->
        <div style="width: 100%;height: 100%;padding: 0 2px;">
            <div class="sszh-left">
                <!--<ms-poll-sidebar :widget="{owner:'mapConduct',onCheck:@handleTreeCheck,extraProcessWhenExpand:@extraProcessWhenExpand,extraProcessWhenPersonChange:@extraProcessWhenPersonChange,handleDeviceClick:@handleDeviceClick,handlePersonDeviceClick:@handlePersonDeviceClick}">-->
                <!--</ms-poll-sidebar>-->
                <ms-sszh-sidebar :widget="{owner:'mapConduct',onCheck:@handleTreeCheck,extraProcessWhenExpand:@extraProcessWhenExpand,extraProcessWhenPersonChange:@extraProcessWhenPersonChange,extraHandleWhenCheckOrg:@extraHandleWhenCheckOrg,returnTreeObj:@returnTreeObj}">
                </ms-sszh-sidebar>
            </div>
            <div class="sszhrightcontainer ">
                <div class="sszh-map" :controller="sszhmap">
                    <!--mapinfowindow这样写是为了能在iframe中读到avalon.vmodels-->
                    <div style="display: none" :controller="mapinfowindow"></div>
                    <!--<div class="sszhmapsearch">-->
                        <!--<input type="text" class="form-control" :class="[@placeholderstatue ==0?'placeholderinput':'']" id="mapsearch" :duplex="@mapsearchvalue" :keyup="@handleQuickSearch" :focus="@focusinput" :blur="@restoretip">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn" :click="@mapsearch">-->
                                <!--<i class="fa fa-search fa-lg"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                        <!--<i class="fa fa-times mapclose" :visible="@showmapclose" :click="@emptyinput"></i>-->
                    <!--</div>-->
                    <!--地图左侧工具栏-->
                    <div class="sszhmaptool" :if="toolUse">
                        <div class="sszhmaptoolhead" :click="@showcitylist" style="width: 50px">
                            <span :click="@citylocate">{{@showcityName}}</span>
                            <i class="fa fa-lg fa-angle-down"></i>
                        </div>
                        <span style="padding: 0 15px;">|</span>
                        <div class="sszhmaptoolhead" :click="@showtool" style="width: 80px;">
                            <label></label>
                            <span>工具</span>
                            <i class="fa fa-lg fa-angle-down" ></i>
                        </div>
                        <div class="sszhmaptoolcontent">
                            <div class="mapcljl">
                                <label></label>
                                <span :click="@mearsurelength" style="font-size: 12px">测量距离</span>
                            </div>
                        </div>
                    </div>
                    <!--全国城市列表-->
                    <!--<xmp :widget="{is:'common-sszh-mapcity'}"></xmp>-->
                    <!--地图-->
                    <!--<div id="sszhallmap"></div>-->
                    <!--语音对讲-->
                    <div :controller="sszhyyth" :visible="@sszhyytoggle">
                        <div class="sszhyyth" id="sszhyyth" style="left: 50px;top: 100px;z-index:9996">
                            <p class="sszhyythtitle" id="sszhyythtitle" :mousedown="@move($event)">
                                <span>{{@sszhthjy}}</span>
                                <span class="fa fa-times sszhyythclose" :click="@closesszhhyyth"></span>
                                <span class="fa fa-minus sszhyythminimize" :click="@hidesszhyythaction"></span>
                            </p>
                            <div class="sszhyythcontent">
                                <div style="margin-right: 15px;text-align: right;">
                                    <label :class="[@signal<50?(@signal<15?'xhbad':'xhbetter'):'xhgood']"></label>
                                    <span :class="[@signal<50?(@signal<15?'sszhspxhwzbad':'sszhspxhwzbetter'):'sszhspxhwzgood']">{{xhword}}</span>
                                </div>
                                <div class="sszhyythimg">
                                    <img src="../../static/image/sszhxt-sszh/u301.png">
                                    <!--<xmp :widget="{is:'common-sszh-voiceTool',handleSoundLevel:@handleSoundLevel,index:@ocxindex}"></xmp>-->
                                    <p></p>
                                    <p>正在语音通话中</p>
                                    <p class="sszhyythtimecount">{{@sszhyythtime}}</p>
                                </div>
                                <!--<button class="btn" :click="@slience">静音</button>-->
                                <button class="btn btn-danger" :click="@closesszhhyyth">挂断</button>
                            </div>
                        </div>
                    </div>
                    <!--左侧视频语音缩小标记-->
                    <div class="sszhleftcontianer">
                        <div class="sszhyythmincontianer" :visible="@sszhthmintitletoggle">
                            <p :for="($index, item) in @sszhyyhtml" class="sszhthmintitle" >
                                <a :click="@expandsszhyy(item)" >{{item.showName}}</a>
                                <!--<a :click="@expandsszhsp(item)" :if="!item.username">{{'与'+ item.name+'视频通话中'}}</a>-->
                                <img :click="@locate(item)" src="../../static/image/sszhxt-sszh/u173.png" style="position:absolute;right:5px;cursor: pointer;padding-top: 2px">
                            </p>
                        </div>
                        <div class="sszhspthmincontianer">
                            <p :for="($index, item) in @devhtmllist" :visible="@item.show" class="sszhthmintitle" >
                                <a :click="@expandsszhsp(item)" >{{item.showName}}</a>
                                <!--<a :click="@expandsszhsp(item)" :if="!item.username">{{'与'+ item.name+'视频通话中'}}</a>-->
                                <img :click="@locate(item)" src="../../static/image/sszhxt-sszh/u173.png" style="position:absolute;right:5px;cursor: pointer;padding-top: 2px">
                            </p>
                        </div>
                    </div>
                    <!--录制视频-->
                    <div class="sszhlzsp" id="sszhlzsp" style="left: 400px;top: 150px;z-index:9997" :controller="sszhlzsp" :visible="@sszhlzsptoggle">
                        <p class="sszhlzsptitle" id="sszhlzsptitle"  :mousedown="@move($event)">
                            <span>设置录制时长</span>
                            <span class="fa fa-times sszhlzspesclose" :click="@sszhlzspcancel"></span>
                        </p>
                        <div class="sszhlzspcontent">
                            <div class="sszhlzsc">
                                <label>
                                    <input ms-duplex-checked="checkedone" value="1" type="radio" data-duplex-changed="@handleChange">15分钟
                                </label>
                                <label>
                                    <input ms-duplex-checked="checkedtwo" value="2" type="radio"  data-duplex-changed="@handleChange">30分钟
                                </label>
                                <label>
                                    <input ms-duplex-checked="checkedthere" value="3" type="radio"   data-duplex-changed="@handleChange">自定义
                                </label>

                                <div class="zdylzsc" :visible="@checkedthere">
                                    <input type="text" :duplex="@lzsch">
                                    <lable> 时 </lable>
                                    <input type="text" :duplex="@lzscm">
                                    <lable> 分 </lable>
                                    <input type="text" :duplex="@lzscs">
                                    <lable> 秒 </lable>
                                </div>
                            </div>
                            <div style="position: absolute;bottom: 10px;right: 50px">
                                <button class="btn btn-primary" :click="@sszhlzspsure">确定</button>
                                <button class="btn btn-danger" :click="@sszhlzspcancel">取消</button>
                            </div>

                        </div>
                    </div>
                    <!--消息下发 sbxxxf拼音全程设备消息下发-->
                    <div class="sbxxxf" :controller="sbxxxf" :visible="@showsbxxxf" style="left: 500px;top: 160px;z-index:9998">
                        <p class="sbxxxftitle" id="sbxxxftitle"  :mousedown="@move($event)">
                            <span>消息下发</span>
                            <span class="fa fa-times sbxxxfclose" :click="@closesbxxxf"></span>
                        </p>
                        <div class="sbxxxfcontent">
                            <label>消息内容:</label>
                            <textarea class="form-control" rows="3" :duplex="@messagecontent"></textarea>
                        </div>
                        <button class="btn btn-primary" :click="@sentmessage">确定</button>
                    </div>
                    <!--视频播放器-->
                    <div class="sszhdtspck" :controller="sszhdtspck">
                        <div class="sszhspth" style="left: 50px;top: 100px;z-index: -1;width:1px;height: 1px;position: absolute;">
                        <!--<div class="sszhspth"  style="z-index: 222;position: absolute;">-->

                            <div class="sszhspthtitle" :mousedown="@move($event)">
                                <span>{{name}}</span>
                                <span class="fa fa-times sszhspthclose" :click="@closesszhspth"></span>
                                <span class="fa fa-minus sszhspthminimize" :click="@hidesszhspth"></span>
                            </div>
                            <div class="sszhocxcontainer">
                                <div class="sshzhspthocx" style="position: relative;">
                                    <embed  :if="!@isie"  id="npGSVideoPlugin"  type="application/npGSVideoPlugin-plugin" name="npGSVideoPlugin"  width="690px" height="400px" style="position: absolute;width: 690px;height: 400px;z-index: 0;">

                                    <!--<object :if="!@isie" id="regOcxDiv1" CLSID="{455791d4-4095-4f70-b2b3-f5c424f25ad9}"  TYPE="application/x-itst-activex" Event_OcxEventProxy="_onOcxEventProxy" width="690px" height="400px"></object>-->
                                    <object :if="@isie" id="npGSVideoPlugin" classid="clsid:455791d4-4095-4f70-b2b3-f5c424f25ad9" width="690px" height="400px"></object>
                                    <!--<iframe name="mapIframe" id="" frameborder="0" style="width: 690px;height: 400px;position: absolute;top:0;z-index: 1;"></iframe>-->

                                </div>
                                <div class="sszhspthfoot" style="position: absolute;top: 445px;">
                                    <p class="sszhspthtimecount">{{@sszhspthtime}}</p>
                                    <p>
                                        <label :class="[@signal<50?(@signal<15?'xhbad':'xhbetter'):'xhgood']"></label>
                                        <span :class="[@signal<50?(@signal<15?'sszhspxhwzbad':'sszhspxhwzbetter'):'sszhspxhwzgood']">{{xhword}}</span>
                                    </p>
                                    <p class="jyp">
                                        <!--<label class="jy"></label>-->
                                        <label style="width: 20px;"></label>
                                        <label style="position: relative;top:-22px;left: -21px;display: inline-block;">
                                            <xmp :widget="{is:'common-sszh-voiceTool',soundLevel:80,handleSoundLevel:@handleSoundLevel,index:@ocxindex}"></xmp>
                                        </label>
                                        <span style="padding-left: 5px" >{{word}}</span>
                                    </p>
                                    <!--<p :if="@ifallowtalk" class="djp" :click="@starttalk">-->
                                        <!--<label :class="[@sszhsptalkcontrol ? 'yydjtalk':'yydjstop']"></label>-->
                                        <!--<span style="padding-left: 5px">{{sszhsptalkword}}</span>-->
                                    <!--</p>-->
                                    <p class="jtp" :click="@printscreen">
                                        <label></label>
                                        <span style="padding-left: 5px">截图</span>
                                    </p>
                                    <p class="qpp" :click="@maxView">
                                        <label></label>
                                        <span style="padding-left: 5px" >全屏</span>
                                    </p>
                                    <p style="margin-left: 80px">
                                        <button class="btn btn-danger" :click="@closesszhspth">挂断</button>
                                    </p>
                                </div>
                            </div>
                            <div class="sszhocxTools" :if="isShowTools" style="float: right;">
                                <div class="sszhocxToolshead">
                                    <p>设备名称：{{deviceName}}</p>
                                    <p>设备类型：{{deviceType}}</p>
                                </div>
                                <ul>
                                    <li :for="(index, item) in gbcodeArr" class="tongdaoli" :attr="{title: item.name}">
                                        <input type="radio" name="radio1" :attr="{value: item.gbcode}" :duplex="@checkItem"  data-duplex-changed="@checkIndexFn($event,item)">
                                        <label class="tongdaoLiNocheckImg" :class="[@checkItem == item.gbcode && 'tongdaoLicheckImg']"></label>
                                        <span>{{item.name}}</span>
                                    </li>
                                </ul>
                                <div class="sszhToolsContainer" :visible="@showToolBtn">
                                    <div class="toolsLeft">
                                        <div class="toolLeftMiddleImg">
                                            <span class="toolLeftMiddleImgReback" title="还原预置点" :click="@ResetPreset"></span>
                                        </div>
                                        <span class="toolsLeftimg fa fa-lg fa-caret-left" :click="@moveleft"></span>
                                        <span class="toolsTopimg fa fa-lg fa-caret-up" :click="@moveup"></span>
                                        <span class="toolsRightimg fa fa-lg fa-caret-right" :click="@moveright"></span>
                                        <span class="toolsBottomimg fa fa-lg fa-caret-down" :click="@movedown"></span>
                                    </div>
                                    <div class="toolsMiddle">
                                        <p class="toolsMiddleP1">
                                            <span class="toolsMiddleSpanOne spanone" title="焦距变小" :click="@zoom_out"></span>
                                            <span class="spantwo" title="焦距变大" :click="@zoom_in"></span>
                                        </p>
                                        <p class="toolsMiddleP2">
                                            <span class="toolsMiddleSpanOne spanthree" title="焦距变远" :click="@far_away"></span>
                                            <span class="spanfour" title="焦距变近" :click="far_close"></span>
                                        </p>
                                        <p class="toolsMiddleP3">
                                            <span class="toolsMiddleSpanOne spanfive" title="光圈变小" :click="reduce_aperture"></span>
                                            <span class="spansix" title="光圈变大" :click="increase_aperture"></span>
                                        </p>
                                    </div>
                                    <div class="toolsRight" title="自转" :click="rotation">

                                    </div>
                                    <div class="toolsFoot" :mouseleave="@moveUpImg($event)" :mousemove="@moveImg($event)" :mouseup="@moveUpImg($event)">
                                        <div class="toolsFootBg"></div>
                                        <label class="toolsFoolMoveImg" :css="{'left': @imgMoveX}" :mousedown="@moveDownImg($event)"  ></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--右下角告警-->
                    <!--<div class="sszhgjxx">-->
                        <!--<p class="gjxxtitle">-->
                            <!--<span>告警信息</span>-->
                            <!--<img style="width: 20px;height:20px;vertical-align: text-top;" src="../../static/image/sszhxt-sszh/u263.gif">-->
                            <!--<span class="fa fa-angle-down fa-2x gjxxdown" :click="@togglehide"></span>-->
                        <!--</p>-->
                        <!--<div class="gjxxcontianerhead">-->
                            <!--<span style="width: 65px">告警类型</span>-->
                            <!--<span style="width: 65px">处理状态</span>-->
                            <!--<span style="width: 90px;">配发消息</span>-->
                            <!--<span style="width: 80px;">国标编号</span>-->
                            <!--<span style="width: 120px">告警经/纬度</span>-->
                        <!--</div>-->
                        <!--<div class="gjxxcontianer" :controller="sszhgjxxManage">-->
                            <!--<div class="gjxxcontianerblock" :class= "[item.state == 1? 'weichakanspan':'yichakanspan']" :for="($index, item) in @gjxxlist">-->
                                <!--<span style="width: 65px">{{item.type}}</span>-->
                                <!--<span :click="@gotogj(item)" :class= "[item.state == 1? 'gjxxcontianerblockspanred':'']" style="width: 65px">{{item.state | filterByState}}</span>-->
                                <!--<span style="width: 90px;word-break: break-all;">{{item.person}}</span>-->
                                <!--<span style="width: 80px;word-break: break-all;">{{item.gbcode}}</span>-->
                                <!--<span style="width: 120px;word-break: break-all;">-->
                                    <!--<font style="display: inline-block">{{item.longitude}}</font>-->
                                    <!--<font>{{item.latitude}}</font>-->
                                <!--</span>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--</div>-->
                    <!--<button class="btn btn-primary sszhgj" :click="@toggleshow">告警信息 <i style="vertical-align: initial;" class="fa fa-lg fa-angle-up"></i></button>-->
                </div>

            </div>
        </div>
        <ms-download-tip :widget="{show:@downloadTipShow,getShowStatus:@getShowStatus}">
            <div>
                <p>{{@tipText}}<br/><span :if="@showtip">您未安装该插件，是否下载？</span></p>
                <p class="tip-text"><i class="fa fa-info-circle"></i>安装完成后请重启浏览器</p>
            </div>
        </ms-download-tip>
        <!--给没有定位的设备使用-->
        <div class="sszhdeviceInfo" :controller="sszhdeviceInfo" :visible="@visible">
            <p style=" border-bottom: 1px solid;background: rgb(7, 124, 225);color: #ffffff;padding: 5px 20px;">无定位信息
                <span class="fa fa-close" :click="@hideInfo" style="float: right;vertical-align: middle;line-height: 20px;cursor: pointer;"></span>
            </p>
            <p :if="@mytype== 0 && !@source && @username">警员姓名/警号: {{@username + '(' + @usercode + ')'}}</p>
            <p :if="@source || !@username">设备名称：{{@devName}}</p>
            <p :if="@mytype!= 0 || @source">设备类型：{{@type}}</p>
            <p :if="@mytype== 0 && !@source">国标编号: {{@gbcode}}</p>
            <p :if="@mytype!= 0 || @source">设备型号：{{@devmodel}}</p>
            <p style="position: relative" :if="@mytype== 0 && !@source">剩余电量:
                <span style="display:inline-block;width: 34px;height: 28px;background:url(/static/image/sszhxt-sszh/battery.png) no-repeat scroll;vertical-align: middle;"></span>
                <span :css="{width:@width}" :class="[@battery > 45 ? 'green' : (@battery <=25? 'red':'orange')]" style="height: 16px;position:  relative;left: -32px;vertical-align:top;top:6px;display: inline-block;"></span>
                <span style="position:  absolute;left: 90px;top:4px;font-size: 12px;color: #333;">{{@battery}}</span>
            </p>
            <p :if="!@source && @mytype== 0">存储容量:
                <span style="display: inline-block;border-radius: 4px;width: 180px;height: 17px;background: #cccccc;font-size: 12px;margin-right: 5px;">
                    <span :css="{width:@usedWidth}" style="display:inline-block;border-radius: 4px;height: 17px;vertical-align:top;background:red;"></span>
                    <span :css="{left:@spanTwowidth}"style="color:#ffffff;position: absolute;vertical-align: top;">{{@capacityUsed + 'GB'}}</span>
                </span>
                <span>{{ @capacityTotal + 'GB'}}</span>
            </p>
           <p :if="@isAllowRecord && !@source && @mytype== 0">
               录像:
               <button id="onspan"  class="btn" :class="[@videoStatus ==0?'white':'green']" :attr="{disabled : @disabled}" :click="@record" style="color: #ffffff;padding: 0px 5px;border-radius: 0;">ON</button>
               <button  class="btn" :click="@record" :class="[@videoStatus ==1?'white':'green']"  :attr="{disabled : @disabled}" id="offspan" style="color: #999999;padding: 0px 5px;border-radius: 0;">OFF</button>

           </p>
            <p>
                <button :click="@vedioplay" :attr="{disabled : @disabled}" class="btn btn-primary  btn-sm" style="margin-right: 5px;background: rgb(7, 124, 225);">视频呼叫</button>
                <button :if="@isAllowSpeak && !@source && @mytype== 0" :attr="{disabled : @disabled}" :click="@startTalk" class="btn btn-primary  btn-sm" style="margin-right: 5px;background: rgb(7, 124, 225);">语音呼叫</button>
                <button :if="@isAllowPhotograph && !@source && @mytype== 0" :click="@photograph" :attr="{disabled : @disabled}" class="btn btn-primary  btn-sm" style="margin-right: 5px;background: rgb(7, 124, 225);">远程拍照</button>
                <button :if="@isAllowLock && !@source && @mytype== 0" :click="@lock" class="btcd n btn-primary  btn-sm" style="margin-right: 5px;background: rgb(7, 124, 225);">{{@lockword}}</button>
            </p>
        </div>
    </div>
</template>

