/* iframe 地图定位 */

.sszhxt-gjcx-map {
    position: absolute;
    top: 66px;
    left: 262px;
    right: 2px;
    bottom: 4px;
}
.sszhxt-gjcx-sosBtn{
    bottom: 0px;
    right: 0px;
    top: auto;
    left: auto;
}
.sszhxt-gjcx-sos-info{
    left: auto;
    right: 0px;
    bottom: 33px;
}
.sxzhxt-gjcx {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 0 2px;
    overflow: hidden;
}

.sxzhxt-gjcx .sildeNav {
    width: 260px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #f8f8f8;
    border: 1px solid #ccc;
}

.sxzhxt-gjcx .infoText {
    text-align: center;
    border-bottom: 1px solid #cccccc;
    display: flex;
}

.sxzhxt-gjcx .infoText .active {
    border-bottom: 3px solid #0078d7;
    color: #0078d7;
}

.sxzhxt-gjcx .infoText .left,
.sxzhxt-gjcx .infoText .right {
    float: left;
    flex: 1;
    width: 50%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background: #EFF4F8;
}

.sxzhxt-gjcx .gjcx-search {
    padding: 5px;
    /*text-align: center*/
}

.sxzhxt-gjcx .gjcx-search .control-label {
    /* padding-left: 0;
    padding-right: 0;
    padding-top: 6px; */
    width: 65px;
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
    font-family: "Microsoft YaHei", serif;
    color: #536b82;
    font-weight: bold;
}

.sxzhxt-gjcx .gjcx-search .close-clear {
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 16px;
    color: #536b82;
    display: none;
    cursor: pointer;
}

.sxzhxt-gjcx .gjcx-search .time {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
}

.ant-layout-aside {
    position: relative;
    min-height: 100%;
}

.ant-layout-aside .ant-layout-sider {
    width: 260px;
    background: #f8f8f8;
    position: absolute;
    /* overflow: auto; */
    padding-bottom: 24px;
    height: 100%;
    z-index: 999;
}

.ant-layout-aside .ant-layout-sider .list-null {
    width: 100%;
    text-align: center;
    font-family: "Microsoft YaHei", serif;
    color: #536b82;
}

.ant-layout-aside .ant-layout-sider .tree-select-wrap .tree-select-selected {
    top: 5px;
}

.ant-layout-aside .ant-layout-sider .tree-select-wrap .fa-caret-down {
    top: 5px;
}

.ant-layout-aside .ant-layout-sider>.ant-menu {
    margin-bottom: 20px;
}

.ant-layout-aside .ant-layout-header {
    background: #fff;
    height: 64px;
    border-bottom: 1px solid #e9e9e9;
}

.ant-layout-aside .ant-layout-breadcrumb {
    margin: 7px 0 -17px 24px;
}

.ant-layout-aside .ant-layout-main {
    margin-left: 261px;
}

.ant-layout-aside .ant-layout-container {
    margin: 0;
}

.ant-layout-aside .ant-layout-content {
    background: #fff;
    padding: 0;
}

.ant-layout-aside .ant-layout-footer {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 14px;
    color: #999;
    background: #fff;
    border-top: 1px solid #e9e9e9;
    width: 100%;
}

.gjcx .gjcx-search form {
    margin-left: -5px;
}

.gjcx .gjcx-search .ane-datepicker .form-control {
    line-height: 1;
}

.gjcx .gjcx-search .has-feedback .form-control {
    height: 28px;
    font-size: 14px;
    width: 180px;
}

.gjcx .gjcx-search .has-icon-input-wrap {
    display: inline-block;
    padding-left: 12px;
    padding-right: 20px;
    border: 1px solid #d1d0d0;
    border-radius: 2px;
    line-height: 26px;
    vertical-align: middle;
    background: #fff;
}

.gjcx .gjcx-search .has-icon-input-wrap input.form-control {
    border: none;
    width: 146px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    vertical-align: top;
}

.gjcx .gjcx-search .form-group {
    width: 250px;
    margin-bottom: 10px;
    font-size: 14px;
}

.gjcx .btn.form-search {
    width: 246px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
    background: #fd8702;
}

.gjcx .btn.form-search:hover {
    background: #db7400;
}

.gjcx .gjcx-searchresult {
    width: 250px;
    position: absolute;
    bottom: 80px;
    top: 193px;
    overflow: auto;
    margin: 0 8px;
}

.gjcx .gjcx-searchresult .gjcx-searchresult-item {
    font-size: 14px;
    border: 1px solid #cccccc;
    padding: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.gjcx .gjcx-searchresult-item span {
    display: inline-block;
    vertical-align: middle;
    color: #536b82;
}
.gjcx .gjcx-searchresult-item .spanacitve{
    color: #FFF;
}
.gjcx .gjcx-searchresult-item span.body {
    width: 146px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.gjcx .gjcx-searchresult .gjcx-searchresult-item.active,
.gjcx .gjcx-searchresult .gjcx-searchresult-item:hover {
    color: #fff;
    background: #096EC6;
}

.gjcx .gjcx-searchresult .gjcx-searchresult-item:hover span {
    color: #fff;
}

.gjcx .sildeNav-bar {
    border-top: 1px solid #cccccc;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 20px;
}

.gjcx .tabbar.disable a {
    color: #999;
}

.gjcx .tabbar {
    z-index: 500;
    width: 96px;
    height: 52px;
    margin: auto;
    color: #096EC6;
}

.gjcx .tabbar a {
    color: #096EC6;
    width: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    height: 52px;
    margin-right: 12px;
}