<template>
    <div class="sxzhxt-gjcx gjcx" id="sxzhxt-gjcx">
        <div class="ant-layout-aside">
            <div class="ant-layout-sider">
                <div class="sildeNav">
                    <div class="infoText">
                        <div :class="['left',activeToggle==0 ? 'active' : '']" :click="select('shebei')">
                            设备
                        </div>
                        <div :class="['right',activeToggle==1 ? 'active' : '']" :click="select('renyuan')">
                            人员
                        </div>
                    </div>
                    <div class="gjcx-search">
                        <xmp is="ms-form" :widget="{$form:@$form,type:'search',inline:true}">
                            <!-- <div class="form-group has-feedback" style="vertical-align: top;">
                                <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部门：</label>
                                <ms-tree-select :widget="{treeData: @treeData,multiple:false,onChange:treeChange}"></ms-tree> -->
                            <ms-form-item :widget="{label:'部门:'}" :class="'form-item form-org'">
                                <ms-tree-selecting :widget="{tree:@orgData, showSearch:true,selectedKey:@orgId,selectedTitle:@selectedTitle, wrapId: 'tree-select-gjcx',getSelected:@getSelected,onChange:@handleTreeChange,extraExpandHandle:@extraExpandHandle}"></ms-tree-selecting>
                            </ms-form-item>
                            <!-- </div> -->
                            <div class="form-group has-feedback" style="vertical-align: top;">
                                <label class="control-label">{{@shebei?'设备:':'人员:'}}</label>
                                <div class="has-icon-input-wrap">
                                    <input type="input" class="form-control key" placeholder="输入设备名称/国标编号" :duplex="@key" :focus="@handleInputFocus" :blur="@handleInputBlur" :keyup="@handleQuickSearch">
                                    <i class="fa fa-close close-clear" :mousedown="@handleCloseClear"></i>
                                </div>
                            </div>
                            <ms-form-item :widget="{label:'查询日期:'}">
                                <ms-datepicker :widget="{
                                    placeholder:'',
                                    showTime: false,
                                    value:@searchdataTime,
                                    onChange:datatimechange
                                }" :css="{width: '180px'}"></ms-datepicker>
                            </ms-form-item>
                        </xmp>
                        <button type="button" class="btn btn-sm form-search" :click="@search()">查询</button>
                    </div>
                    <div :visible="noData" class="list-null">暂无数据</div>
                    <ul class="gjcx-searchresult" :if="selectType2=='shebei'">
                        <li class="gjcx-searchresult-item" :for="($index,item) in @searchData" :click="@itemClick($index)" :class="[ item.active ? 'active' : '','gjcx-searchresult-item']">
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">设备名称：</span>
                                <span class="body" :class="[item.active && 'spanacitve']" :attr="{title:item.deviceName} | fillterEmptyObj">{{item.deviceName | fillterEmpty}}</span>
                            </div>
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">
                                    国标编号：
                                </span>
                                <span class="body" :class="[item.active && 'spanacitve']" :attr="{title:item.deviceId} | fillterEmptyObj">{{item.deviceId}}</span>
                            </div>
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">在线时长：</span>
                                <span class="body" :class="[item.active && 'spanacitve']" :attr="{title:item.onlineDuration} | formatOnlineTimeObj">{{item.onlineDuration | formatOnlineTime}}</span>
                            </div>
                            <!--<div>-->
                                <!--<span class="title">开始地址：</span>-->
                                <!--<span class="body" :attr="{title:item.address} | fillterEmptyObj">{{item.address | fillterEmpty}}</span>-->
                            <!--</div>-->
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">开始时间：</span>
                                <span class="body" :class="[item.active && 'spanacitve']" :attr="{title:item.createTime} | formatDateObj">{{item.createTime | date("yyyy-MM-dd HH: mm:ss")}}
                                </span>
                            </div>
                        </li>
                    </ul>
                    <ul class="gjcx-searchresult" :if="selectType2=='renyuan'">
                        <li :for="($index,item) in @searchData" :click="@itemClick($index)" :class="[ item.active ? 'active' : '','gjcx-searchresult-item']">
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">警员姓名：</span>
                                <span class="body" :class="[item.active && 'spanacitve']" :attr="{title:item.userName} | fillterEmptyObj">{{item.userName | fillterEmpty}}</span>
                            </div>
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">
                                    警员警号：
                                </span>
                                <span class="body"  :class="[item.active && 'spanacitve']" :attr="{title:item.userCode} | fillterEmptyObj">{{item.userCode}}</span>
                            </div>
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">在线时长：</span>
                                <span class="body"  :class="[item.active && 'spanacitve']" :attr="{title:item.onlineDuration} | formatOnlineTimeObj">{{item.onlineDuration | formatOnlineTime}}</span>
                            </div>
                            <!--<div>-->
                                <!--<span class="title">开始地址：</span>-->
                                <!--<span class="body" :attr="{title:item.address} | fillterEmptyObj">{{item.address | fillterEmpty}}</span>-->
                            <!--</div>-->
                            <div>
                                <span class="title" :class="[item.active && 'spanacitve']">开始时间：</span>
                                <span class="body" :class="[item.active && 'spanacitve']" :attr="{title:item.createTime} | formatDateObj">{{item.createTime | date("yyyy-MM-dd HH: mm:ss")}}
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="sildeNav-bar">
                        <div class="tabbar" :class="[@btnDisabled ? 'disable' : '']">
                            <a href="javascript:;" :visible="showPlayBtn" :click="@playBtnClick()">
                                <i class="fa fa-play"></i>
                                <p class="tabbar-label">播放</p>
                            </a>
                            <a href="javascript:;" :visible="!showPlayBtn" :click="@playBtnClick()">
                                <i class="fa fa-stop"></i>
                                <p class="tabbar-label">暂停</p>
                            </a>
                            <a href="javascript:;" :click="@speedUpClick()">
                                <i class="fa">{{speed}}X</i>
                                <p class="tabbar-label">加速</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ant-layout-main">
                <div class="ant-layout-container">
                    <div class="ant-layout-content">
                        <div id="gjcx-map" :css="{height:@mapHeight}">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>