.spjk {
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* min-height: 600px; */
    padding: 0 2px;
}

.spjk .spjk-main-container {
    padding: 8px 0 8px 8px;
    height: 100%;
    /* padding-top: 74px;
    margin-top: -66px; */
    /* min-height: 600px; */
    margin-left: 260px;
}

.spjk .main-title {
    height: 40px;
    margin-bottom: 8px;
    line-height: 40px;
    background: #eff4f8;
    color: #0078d7;
}

.spjk .main-title h3 {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0;
    text-indent: 1em;
}

.spjk .main-title .ocx-tool-bar {
    float: right;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
}

.spjk .main-title .ocx-tool-bar li {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 0 5px;
    position: relative;
}

.spjk .main-title .sound {
    background: url(/static/image/sszhxt/sound.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split1 {
    background: url(/static/image/sszhxt/split1.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split4 {
    background: url(/static/image/sszhxt/split4.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split6 {
    background: url(/static/image/sszhxt/split6.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split9 {
    background: url(/static/image/sszhxt/split9.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split {
    background: url(/static/image/sszhxt/split.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .full {
    background: url(/static/image/sszhxt/full.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .close-current {
    background: url(/static/image/sszhxt/close.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .closeall {
    background: url(/static/image/sszhxt/closeall.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .sound:hover {
    background: url(/static/image/sszhxt/soundhover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split1:hover {
    background: url(/static/image/sszhxt/split1hover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split4:hover {
    background: url(/static/image/sszhxt/split4hover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split6:hover {
    background: url(/static/image/sszhxt/split6hover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split9:hover {
    background: url(/static/image/sszhxt/split9hover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .split:hover {
    background: url(/static/image/sszhxt/splithover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .full:hover {
    background: url(/static/image/sszhxt/fullhover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .close-current:hover {
    background: url(/static/image/sszhxt/closehover.png?__sprite) 0 0 no-repeat;
}

.spjk .main-title .closeall:hover {
    background: url(/static/image/sszhxt/closeallhover.png?__sprite) 0 0 no-repeat;
}

.spjk .video-list {
    height: 95%;
    /* min-height: 560px; */
    overflow: auto;
    background: #000;
    /* background: url(/static/image/sszhxt/ocx.png?__sprite) -70px -110px repeat; */
}

.spjk .spjk-modal-split {
    text-align: center;
}

.spjk .spjk-modal-split .form-item {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    vertical-align: top;
}

.spjk .spjk-modal-split .form-item label {
    vertical-align: top;
}

.spjk .sound {
    position: relative;
}

.spjk .sound-bar-wrap {
    position: absolute;
    top: -10px;
    left: -5px;
    width: 32px;
    height: 140px;
    padding-top: 38px;
    z-index: 10;
}

.spjk .sound-bar-wrap .sound {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    left: 5px;
}

.spjk .sound-bar {
    position: relative;
    height: 100%;
    padding: 10px 0 20px;
    font-size: 12px;
    text-align: center;
    color: #536b82;
    background: #fff;
    border: 1px solid #dfe4e7;
    border-radius: 3px;
    z-index: 10;
}

.spjk .sound-bar .triangle {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border-color: transparent;
}

.spjk .sound-bar .outer-triangle {
    top: -12px;
    margin-left: -6px;
    border-width: 6px;
    border-bottom-color: #dfe4e7;
}

.spjk .sound-bar .inner-triangle {
    top: -10px;
    margin-left: -5px;
    border-width: 5px;
    border-bottom-color: #fff;
}

.spjk .sound-level-wrap {
    position: relative;
    width: 8px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background: #eff4f8;
}

.spjk .sound-level {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #33cc00;
    border-radius: 10px;
}

.spjk .sound-bar .sound-num {
    position: absolute;
    width: 100%;
    height: 18px;
    line-height: 18px;
    left: 0;
    bottom: 0;
    font-size: 10px;
    text-align: center;
}

/* 弹窗里的下拉框 */

.modal-select-dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

.modal-select-dropdown .modal-selected {
    cursor: pointer;
    padding-right: 6px;
}

.modal-select-dropdown .modal-selected:before {
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.modal-select-dropdown .modal-select-options {
    position: absolute;
    left: 0;
    top: 22px;
    width: 48px;
    color: #536b82;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    z-index: 1005;
}

.modal-select-dropdown .modal-select-options li {
    cursor: pointer;
    padding: 2px 5px;
}

.modal-select-dropdown .modal-select-options li:hover {
    background: #e0e7ec;
}

.modal-select-dropdown .modal-select-options li.active {
    background: #eee;
    color: #536b82;
    font-weight: 700;
}

.sszhxt-spjk-map {
    width: 0;
    height: 0;
    overflow: hidden;
}

.sszhxt-spjk-sosBtn,
.sszhxt-spjk-sos-info {
    right: 300px;
    left: auto;
    z-index: 1000;
}

.sszhxt-spjk-sos-info .sos-info-menu {
    position: relative;
    z-index: 1000;
    border-top: 1px solid #E4E4E4;
}