<template>
    <div class="sxzhxt-gjgl sszhxt-layout" :keyup="@handleEnter">
        <!-- 左侧搜索内容 begin -->
        <div class="left left-layout border sszhxt-search-box">
            <xmp is="ms-form" :widget="{$form:@$searchForm,type:'search',inline:true}">
                <ms-form-item :widget="{label: '告警类型:'}" :class="['form-item']">
                    <ms-select :widget="{col:'sosType', value:[@json.sosType], onChange:@handleAlarmTypeChange}">
                        <ms-select-option :widget="{value:'DEVICE_SOS'}">设备告警</ms-select-option>
                        <ms-select-option :widget="{value:'STATUS_SOS'}">状态告警</ms-select-option>
                        <ms-select-option :widget="{value:'BUSINESS_SOS'}">业务告警</ms-select-option>
                    </ms-select>
                </ms-form-item>
                <div :visible="@json.sosType =='DEVICE_SOS'">
                    <ms-form-item  :widget="{label: '告警源:'}" :class="['form-item']">
                        <ms-select :widget="{col:'sourceType', value:[@json.DEVICE_SOSType],onChange:@handleSourceTypeChange}">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'DEVICE_ELECTRIC_CAPACITANCE'}">电量不足</ms-select-option>
                            <ms-select-option :widget="{value:'DEVICE_STORAGE_CAPACITANCE'}">存储不足</ms-select-option>
                        </ms-select>
                    </ms-form-item>
                </div>
                <div :visible="@json.sosType =='STATUS_SOS'">
                    <ms-form-item   :widget="{label: '告警源:'}" :class="['form-item']">
                        <ms-select :widget="{col:'sourceType', value:[@json.STATUS_SOSType],onChange:@handleSourceTypeChange}">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'DEVICE_ONLINE'}">设备上线</ms-select-option>
                            <ms-select-option :widget="{value:'DEVICE_OFFLINE'}">设备下线</ms-select-option>
                        </ms-select>
                    </ms-form-item>
                </div>
                <div :visible="@json.sosType =='BUSINESS_SOS'">
                    <ms-form-item   :widget="{label: '告警源:'}" :class="['form-item']">
                        <ms-select :widget="{col:'sourceType', value:[@json.BUSINESS_SOSType],onChange:@handleSourceTypeChange}">
                            <ms-select-option :widget="{value:'DEVICE_SOS'}">sos告警</ms-select-option>
                        </ms-select>
                    </ms-form-item>
                </div>
                <!--<div>-->
                    <!--<ms-form-item   :widget="{label: '告警级别:'}" :class="['form-item']">-->
                        <!--<ms-select :widget="{col:'sosLevel', value:[@json.sosLevel],onChange:@handleAlarmLevelChange}">-->
                            <!--<ms-select-option :widget="{value:'5'}">不限</ms-select-option>-->
                            <!--<ms-select-option :widget="{value:'0'}">紧急</ms-select-option>-->
                            <!--<ms-select-option :widget="{value:'1'}">重要</ms-select-option>-->
                            <!--<ms-select-option :widget="{value:'2'}">一般</ms-select-option>-->
                            <!--<ms-select-option :widget="{value:'3'}">提示</ms-select-option>-->
                        <!--</ms-select>-->
                    <!--</ms-form-item>-->
                <!--</div>-->
                <div :visible="@json.sosType =='BUSINESS_SOS'">
                    <ms-form-item   :widget="{label: '处理状态:'}" :class="['form-item']">
                        <ms-select :widget="{col:'status', value:[@json.status],onChange:@handleStatusChange}">
                            <ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>
                            <ms-select-option :widget="{value:'HANDLED'}">已处理</ms-select-option>
                            <ms-select-option :widget="{value:'WAITING'}">待处理</ms-select-option>
                            <ms-select-option :widget="{value:'OVERDUE'}">逾期未处理</ms-select-option>
                        </ms-select>
                    </ms-form-item>
                </div>
                <ms-form-item :widget="{label: '所属部门:'}" :class="'form-item'">
                    <ms-tree-selecting :widget="{tree:@orgData, showSearch:true,selectedKey:@orgId,selectedTitle:@selectedTitle, wrapId: 'tree-select-wrap-gjgl', getSelected:@getSelected,onChange:@handleTreeChange,extraExpandHandle:@extraExpandHandle}"></ms-tree-selecting>
                </ms-form-item>

                <ms-form-item :widget="{label:'警员警号:'}" :class="'form-item'">
                    <ms-input :widget="{col:'userCode',onChange:@handleUsercodeChange,value:@json.userCode}" :focus="@handleInputFocus" :blur="@handleInputBlur" :keyup="@handleQuickSearch"></ms-input>
                    <i class="fa fa-close close-clear" :mousedown="@handleCloseClear"></i>
                </ms-form-item>

                <ms-form-item :widget="{label: '开始时间:'}" :class="'form-item'">
                    <ms-datepicker :widget="{
                        placeholder:'请选择开始时间',col:'beginTime',value: @beginTime,direction:'down',showTime: true,onChange:@handleBeginTimeChange
                    }"></ms-datepicker>
                </ms-form-item>

                <ms-form-item :widget="{label: '结束时间:'}" :class="'form-item'">
                    <ms-datepicker :widget="{
                        placeholder:'请选择结束时间',col:'endTime',value: @endTime,direction:'down',showTime: true,onChange:@handleEndTimeChange
                    }"></ms-datepicker>
                </ms-form-item>


                <!--<ms-form-item :widget="{label: '告警状态:'}" :class="['form-item']">-->
                    <!--<ms-select :widget="{col:'handleStatus', value:[@json.handleStatus],onChange:@handleStatusChange}">-->
                        <!--<ms-select-option :widget="{value:'ALL'}">不限</ms-select-option>-->
                        <!--<ms-select-option :widget="{value:'HANDLED'}">已处理</ms-select-option>-->
                        <!--<ms-select-option :widget="{value:'WAITING'}">待处理</ms-select-option>-->
                        <!--<ms-select-option :widget="{value:'OVERDUE'}">逾期未处理</ms-select-option>-->
                    <!--</ms-select>-->
                <!--</ms-form-item>-->

                <button type="button" class="btn btn-query" :click="@querySearch">查询</button>
            </xmp>
        </div>
        <!-- 左侧搜索内容 end -->

        <!-- 右侧表格主体内容 begin -->
        <!-- 表格数据begin -->
        <div class="right right-layout tyywglpt-list-panel">
            <div :if="@isChangeTable" style="height: 100%;">
                <div class="tyywglpt-list-header-wrap">
                    <ul class="tyywglpt-list-header">
                        <li class="col-5 first-item">序号</li>
                        <li class="col-8">操作</li>
                        <li class="col-11">所属部门</li>
                        <li class="col-10">警员/警号</li>
                        <li class="col-12">国标编号</li>
                        <li class="col-23">告警经/纬度</li>
                        <li class="col-14">告警时间</li>
                        <li class="col-7">告警源</li>
                        <li class="col-5">告警级别</li>
                        <li class="col-5 last-item">处理状态</li>
                    </ul>
                </div>
                <ul class="tyywglpt-list-content">
                    <li :if="@loading" class="list-loading">
                        <span>结果加载中</span>
                    </li>
                    <li :if="@list.length == 0" class="list-null">暂无数据</li>
                    <li :for="($index, item) in @list">
                        <div class="col-5 first-item">{{((@current - 1) * @json.pageSize) + $index+1}}</div>
                        <div class="col-8"><span class="look" :click="@gjgllook($index)">查看</span></div>
                        <div class="col-11" :attr="{'origin-title':item.orgName,'data-toggle': 'popover'}">{{item.orgName}}</div>
                        <div class="col-10" :attr="{'data-toggle':'popover','origin-title':(item.userName + '(' + @item.userCode + ')') || ''}">{{(@item.userName || '-') + '(' + (@item.userCode || '-') + ')'}}</div>
                        <div class="col-12" :attr="{'data-toggle':'popover','origin-title':item.deviceId || ''}">{{@item.deviceId}}</div>
                        <div class="col-23" :attr="{'data-toggle':'popover','origin-title':(@item.latitude || '-') + '/' + (@item.latitude || '-') || ''}">{{((@item.longitude || '-') + '/' + (@item.latitude || '-')) }}</div>
                        <div class="col-14" :attr="{'origin-title':item.time,'data-toggle': 'popover' }">{{@item.time}}</div>
                        <div class="col-7" :attr="{'origin-title':item.sosSource} | changeData('sosSource')">{{@item.sosSource | changeData('sosSource')}}</div>
                        <div class="col-5" :attr="{'origin-title':item.sosLevel} | changeData('sosLevel')">
                            <span :class="[@item.sosLevel==0 ? 'URGENT':(@item.sosLevel==1?'IMPORTANT':(@item.sosLevel==2?'GENERAL':'PROMPT'))]">{{@item.sosLevel | changeData('sosLevel') }}</span>
                        </div>
                        <div class="col-5" :attr="{'origin-title':item.status} | changeData('status')" :class="[item.status == 'WAITING' ? 'waitDeal' : '']">{{item.status | changeData('status')}}</div>
                    </li>
                </ul>
            </div>
            <div :if="!@isChangeTable" style="height: 100%;">
                <div class="tyywglpt-list-header-wrap">
                    <ul class="tyywglpt-list-header">
                        <li class="col-5 first-item">序号</li>
                        <li class="col-20">所属部门</li>
                        <li class="col-15">警员/警号</li>
                        <li class="col-20">国标编号</li>
                        <li class="col-10">告警源</li>
                        <li class="col-10">处理级别</li>
                        <li class="col-20 last-item">告警时间</li>
                    </ul>
                </div>
                <ul class="tyywglpt-list-content">
                    <li :if="@loading" class="list-loading">
                        <span>结果加载中</span>
                    </li>
                    <li :if="@list.length == 0" class="list-null">暂无数据</li>
                    <li :for="($index, item) in @list">
                        <div class="col-5 first-item">{{((@current - 1) * @json.pageSize) + $index+1}}</div>
                        <div class="col-20" :attr="{'origin-title':item.orgName,'data-toggle': 'popover'}">{{item.orgName}}</div>
                        <div class="col-15" :attr="{'data-toggle':'popover','origin-title':(item.userName + '(' + @item.userCode + ')') || ''}">{{(@item.userName || '-') + '(' + (@item.userCode || '-') + ')'}}</div>
                        <div class="col-20" :attr="{'data-toggle':'popover','origin-title':item.deviceId || ''}">{{@item.deviceId}}</div>
                        <div class="col-10" :attr="{'origin-title':item.sosSource} | changeData('sosSource')">{{@item.sosSource | changeData('sosSource')}}</div>
                        <div class="col-10" :attr="{'origin-title':item.sosLevel} | changeData('sosLevel')">
                            <span :class="[@item.sosLevel==0 ? 'URGENT':(@item.sosLevel==1?'IMPORTANT':(@item.sosLevel==2?'GENERAL':'PROMPT'))]">{{@item.sosLevel |changeData('sosLevel') }}</span>
                        </div>
                        <div class="col-20" :attr="{'origin-title':item.time,'data-toggle': 'popover' }">{{@item.time}}</div>
                        <!--<div class="col-10" :attr="{'origin-title':item.status} | changeData('status')" :class="[item.status == 'WAITING' ? 'waitDeal' : '']">{{item.status | changeData('status')}}</div>-->
                    </li>
                </ul>
            </div>

        </div>
        <!--<div :if="isDetailExist" ms-html="gjglDetail" class="gjglDetail"></div>-->
        <!-- 页码 -->
        <ms-pages :widget="{total:@total,onChange:@onChangePage,current:@current,getCurrent:@getCurrent}"></ms-pages>

    </div>
</template>