.myrow{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.sszh-left{
    float: left;
    width: 260px;
    height: 100%;
    border: 1px solid #ccc;
    background: #F8F8F8;
}
.sszhlefthead{
    background: #eff4f8;
}
.sszh-jy, .sszh-ry, .sszh-zj {
    padding: 5px 0;
    text-align: center;
    margin: 0 20px;
    font-weight: normal;
    cursor: pointer;
    width: 31px;
}
.sszh-jy:hover,.sszh-ry:hover,.sszh-zj:hover{
    color: #337ab7;
}
.sszhleftheadactive{
    color: #337ab7;
}
.sszh-left .input-group{
    padding: 0 5px;
}
.sszh-left .help-block{
    position: absolute;
    top: 30px;
    left: 15px;
    color: #a94442;
}
.sszhxtsearchLine{
    height: 1px;
    top: 30px;
    left: 0px;
    right: 0px;
    background: #d6dce1;
}

.sszh-left .input-group .input-group-btn button{
    padding: 6px 9px;
    color: #666;
}
.ztreecontianer{
    position: absolute;
    bottom: 15px;
    top: 135px;
    width: 260px;
    overflow: auto;
    padding-left: 10px;
}
.ztree .treezfy{
    /* text-align: center; */
    position: absolute;
    /* top: 50px; */
    left: 0px;
    right: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.ztree-sb{
    margin-top: 15px;
    overflow: auto;
}
.sszhzjry{
    margin-top: 10px;
}
.sszhzjry .zjrymessage{
    padding: 5px;
    font-size: 12px;
    color: #3c3c3c;
    vertical-align: top;
}
.sszhzjry .personimg{
    padding: 0 8px;
    margin-right: 2px;
    background: url(../../static/image/sszhxt/person.png) no-repeat scroll ;
    vertical-align:top;
}
.sszhzjry .deviceimg{
    padding: 0 8px;
    margin-right: 2px;
    background: url(../../static/image/sszhxt/device.png) no-repeat scroll ;
    vertical-align:top;
}
.sszh-left .ztree li span.button.ico_close {
    margin-right: 2px;
    background: url(../../static/image/sszhxt/org.png) no-repeat scroll ;
    vertical-align:top;

}

.sszh-left .ztree li span.button.ico_open {
    margin-right: 2px;
    background: url(../../static/image/sszhxt/org.png) no-repeat scroll ;
    vertical-align:top;

}

.sszh-left .ztree li span.button.ico_docu {
    margin-right: 2px;
    background: url(../../static/image/sszhxt/person.png) no-repeat scroll ;
    vertical-align:top;
}
.sszhrightcontainer{
    position: absolute;
    right: 0px;
    left: 280px;
    bottom: 0px;
    top: 66px;
}

.sszhrightcontainer .map-loading{
    width: 200px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -15px;
}
.sszh-map{
    position: relative;
    padding: 0;
    height: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-left: none;
}
.sszh-map .sszhmapsearch{
    position: absolute;
    top:10px;
    left: 70px;
    width: 380px;
    z-index: 996;
}
.sszhmapsearch .form-control{
    height: 40px;
    width: 340px;
}
.sszhmapsearch .input-group-btn{
    position: absolute;
    top:0px;
    left:337px;
}
.sszhmapsearch .placeholderinput{
    color:#ccc;
}
.sszhmapsearch .input-group-btn .btn{
    padding: 9px;
    background: #f3f6f9;
    border: 1px solid #ccc;
}
.sszhmapsearch .input-group-btn button{
    width: 40px;
}
.sszhmapsearch .input-group-btn .fa{
    color:#337ab7;
}
.sszh-map .sszhmaptool{
    position: absolute;
    top: 10px;
    left: 50px;
    background: #ffffff;
    /* border: 1px solid; */
    padding: 7px 5px 4px 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
.sszhmaptoolhead{
    display: inline-block;
}
.sszh-map .sszhmaptool .sszhmaptoolhead>label{
    background: url(../../static/image/sszhxt-sszh/u463.png) no-repeat scroll ;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.sszh-map .sszhmaptool .sszhmaptoolhead:hover,.sszhmaptoolcontent .mapcljl:hover{
    color:#337ab7;
}
.sszh-map .sszhmaptool .sszhmaptoolhead:hover>label{
    background: url(../../static/image/sszhxt-sszh/u469.png) no-repeat scroll ;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.sszh-map .sszhmaptool .sszhmaptoolhead span{
    font-size: 14px;
}
.sszh-map .sszhmaptool .sszhmaptoolhead span{
    margin-right: 10px;
}
.sszhmaptoolcontent{
    position: absolute;
    left: 90px;
    background: #ffffff;
    width: 110px;
}
.sszhmaptoolcontent .mapcljl{
    padding: 9px 5px;
    display: none;
}
.sszhmaptoolcontent .mapcljl>label{
    background: url(../../static/image/sszhxt-sszh/ceju.png) no-repeat scroll ;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.sszhmaptoolcontent .mapcljl:hover>label{
    background: url(../../static/image/sszhxt-sszh/cejuhover.png) no-repeat scroll ;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
#sszhallmap{
    margin:0;
    font-family:"微软雅黑";
    width: 100%;
    height:100%;
    overflow: hidden;
}
.sszhlzsp{
    position: absolute;
    width: 350px;
    height: 170px;
    left: 400px;
    top: 150px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.sbxxxf{
    position: absolute;
    width: 330px;
    height: 160px;
    left: 500px;
    top: 160px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.sszhyyth{
    position: absolute;
    width: 300px;
    height: 310px;
    left: 50px;
    top :100px;
    border: 1px solid #cccccc;
    background: #ffffff;

}
.sszhgjxx{
    display: none;
    position: absolute;
    width: 440px;
    height: 230px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #cccccc;
    background: #ffffff;
    z-index: 21;
}
.sszhgjxx p {
    margin:0;
}
.sszhyythminimize, .sszhyythclose, .sszhlzspclose,.sszhlzspesclose{
    float: right;
    padding:3px;
    cursor: pointer;
}
.sszhyythcontent{
    text-align: center;
}
.sszhyythcontent .btn, .sszhlzsp .btn{
    width: 135px;
    height: 35px;
    margin: 0px 5px;
}
.sszhlzsp .btn{
    width: 100px;
}
.sszhleftcontianer{
    position: absolute;
    left: 0px;
    bottom: 50px;
    z-index: 30;
}
.sszhyythmincontianer{
    position: absolute;
    top: -45px;
}
.sszhspthmincontianer{
    position: absolute;
    left: 0px;
    bottom: 50px;
    overflow: auto;
}
.sszhthmintitle{
    margin-bottom: 2px;
    padding: 5px 20px 5px 7px;
    width: 260px;
    font-size: 12px;
    background-color: #0078d7;
}
.sszhthmintitle a{
    cursor: pointer;
    color: #ffffff;
}
.sszhthmintitle a:hover{
    color: #242424;
}
.gjxxtitle, .sszhyythtitle, .sszhlzsptitle,.sbxxxftitle{
    padding: 5px;
    vertical-align: middle;
    font-size: 13px;
    color: #ffffff;
    background-color: #0078d7;
}
.sszhyythtitle, .sszhlzsptitle,.sbxxxftitle,.sszhspthtitle{
    cursor: move;
}
.sszhyythsignal, .sszhyythwz{
    position: absolute;
    top:40px;
    right: 30px;
    color: green;
    font-size: 20px;
}
.sszhyythwz{
    top: 33px;
    right: 5px;
    padding: 5px;
    font-size: 15px
}
.sszhyythimg{
    margin-top: 35px;
    text-align: center;
}
.sszhlzsc{
    margin: 20px 0px;
}
.sszhlzsc label{
    margin: 0 20px;
    font-weight: normal;
}
.zdylzsc{
    margin-top: 5px;
}
.zdylzsc input{
    width: 50px;
    padding: 1px;
    border: 1px solid #e0e0df;
}
.sbxxxf .sbxxxfcontent label{
    vertical-align: top;
    margin: 5px 13px;
    font-weight: normal;
    color: #333;
}
.sbxxxf .sbxxxfcontent textarea{
    display: inline-block;
    width: 230px;
    resize:none
}
.sbxxxf .btn{
    position: absolute;
    right: 15px;
    bottom: 3px;
    width: 80px;
    /* height: 30px; */
    padding: 4px;
}
.sszhlzspcontent{
    text-align: center;
}
.gjxxdown{
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
    color: #cccccc;
}
.gjxxdown:hover{
    color: #ffffff;
}
.gjxxcontianerhead{
    border-bottom: 1px solid #ccc;
}
.gjxxcontianerhead span,.gjxxcontianerblock span{
    display: inline-block;
    padding: 5px 2px;
    text-align: center;
    vertical-align: middle;
}
.gjxxcontianerhead span{
    color: #666666;
}
.gjxxcontianer .yichakanspan{
    font-size: 12px;
    color: #a2a2a2;
}
.gjxxcontianer{
    /*padding: 5px 15px;*/
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}
.gjxxcontianerblock{
    border-bottom: 1px solid #ccc;
}
.gjxxcontianerblock span{
    font-size: 12px;
    cursor: pointer;
}

.gjxxcontianer .weichakanspan{
    color: #3c3c3c;
}
.gjxxcontianerblockspanred{
    color: red !important;
}
.sszhgjxxshow{
    display: none;
}
.sszhgj{
    position: absolute;
    right: 0px;
    bottom: 1px;
    padding: 1px;
    z-index: 5;
    width: 82px;
    height: 25px;
    border-radius: 0;
    z-index: 31;
}
/*视频播放器*/
.sszh-ocx{
    padding: 1px;
    height: 100%;
}

.sszhdtspck{
    overflow: hidden;
    /*width: 1px;*/
    /*height: 1px;*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 320px;*/
    /*z-index: 9999;*/
}
.sszhspth{
    /*width: 700px;*/
    /*height: 500px;*/
    background: #ffffff;
}
.sszhspthtitle{
    background-color: #0078d7;
    padding: 5px;
    color: #ffffff;
}
.sszhspthtitle span:first-child{
    padding-left: 15px;
}
.sszhspthminimize, .sszhspthclose,.sbxxxfclose{
    float: right;
    padding:3px;
    cursor: pointer;
}
.sshzhspthocx{
    padding: 5px;
}
.sszhspthfoot{
    padding: 5px 10px 5px 25px;
}
.sszhspthfoot p{
    display: inline-block;
    margin-right: 20px;
    line-height: 31px;
    width: 55px;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
}
.sszhspthfoot .btn{
    width: 130px
}
.sszhrightcontainer .xhgood {
    width:13px;
    height:14px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../../static/image/sszhxt-sszh/signalgood.png") no-repeat scroll;
}
.sszhspxhwzgood{
    color: green;
}
.sszhrightcontainer .xhbetter {
    width:13px;
    height:8px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../../static/image/sszhxt-sszh/signalbetter.png") no-repeat scroll;
}
.sszhspxhwzbetter{
    color: #FF7E00;
}
.sszhrightcontainer .xhbad {
    width:13px;
    height:8px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../../static/image/sszhxt-sszh/signalbad.png") no-repeat scroll;
}
.sszhspxhwzbad{
    color: red;
}
.sszhspthfoot .jy{
    width:13px;
    height:18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u160.png") no-repeat scroll;
}
.jyp:hover,.djp:hover,.jtp:hover,.qpp:hover{
    color:#337ab7;
}
.jyp:hover>.jy{
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u165.png") no-repeat scroll;
}
.djp .yydjtalk{
    width:16px;
    height:18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u140.png") no-repeat scroll;
}
.djp .yydjstop{
    width:16px;
    height:18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u587.png") no-repeat scroll;
}
.djp:hover>label{
    width:16px;
    height:18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u140.png") no-repeat scroll;
}
.jtp>label{
    width:20px;
    height:18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u124.png") no-repeat scroll;
}
.jtp:hover>label{
    width:20px;
    height:18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u599.png") no-repeat scroll;
}
.qpp>label{
    width:20px;
    height:17px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u138.png") no-repeat scroll;
}
.qpp:hover>label{
    width:20px;
    height:17px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u604.png") no-repeat scroll;
}
.sszhocxcontainer,.sszhocxTools,.toolsLeft,.toolsMiddle,.toolsRight{
    display: inline-block;
}
.sszhocxcontainer{
    float: left;
}
.sszhocxTools{
   width: 300px;
    cursor: pointer;
}
.sszhocxTools .sszhocxToolshead{
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.sszhocxTools ul{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.sszhocxTools .tongdaoLiNocheckImg{
    background: url("../../static/image/sszhxt-sszh/u1186.png");
    width: 26px;
    height: 26px;
    vertical-align: top;
}
.sszhocxTools .tongdaoLicheckImg{
    background: url("../../static/image/sszhxt-sszh/u1184.png");
    width: 26px;
    height: 26px;
    vertical-align: top;
}
.sszhocxTools .tongdaoli{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 130px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sszhocxTools .sszhToolsContainer{
    padding: 10px;
}
.sszhocxTools .toolsLeft{
    background: url("../../static/image/sszhxt-sszh/u1057.png") no-repeat;
    width: 96px;
    height: 96px;
    position: relative;
}
.sszhocxTools .toolLeftMiddleImg{
    background: url("../../static/image/sszhxt-sszh/u1059.png") no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 26px;
    left: 26px;
}
.sszhocxTools .toolLeftMiddleImgReback{
    background: url("../../static/image/sszhxt-sszh/reback.png") no-repeat;
    width:14px;
    height:14px;
    position: absolute;
    top:15px;
    left: 15px;
}
.sszhocxTools .toolLeftMiddleImgReback:hover{
    background: url("../../static/image/sszhxt-sszh/reback_hover.png") no-repeat;
}
.sszhocxTools .toolsLeftimg,.sszhocxTools .toolsTopimg,.sszhocxTools .toolsRightimg,.sszhocxTools .toolsBottomimg{
    width: 14px;
    height: 10px;
}
.sszhocxTools .toolsLeftimg:hover,.sszhocxTools .toolsTopimg:hover,.sszhocxTools .toolsRightimg:hover,.sszhocxTools .toolsBottomimg:hover{
    color: #ccc;
}
.sszhocxTools .toolsLeftimg{
    position: absolute;
    top:43px;
    left: 10px;
}
.sszhocxTools .toolsTopimg{
    position: absolute;
    top:10px;
    left: 42px;
}
.sszhocxTools .toolsRightimg{
    position: absolute;
    top:43px;
    right: 4px;
}
.sszhocxTools .toolsBottomimg{
    position: absolute;
    bottom:10px;
    left: 43px;
}
.sszhocxTools .toolsMiddle{
    width: 110px;
    height: 90px;
    margin-left: 5px;
}
.sszhocxTools .toolsMiddle p{
    margin: 0;
    position: relative;
}
.sszhocxTools .toolsMiddleP1, .sszhocxTools .toolsMiddleP2{
    border-bottom: 1px solid #ccc;
    height: 30px;
}

.toolsMiddle .spanone{
     background: url("../../static/image/sszhxt-sszh/1 (1).png") no-repeat;
     width: 54px;
     height: 30px;
     position: absolute;
 }
.toolsMiddle .spanone:hover {
    background: url("../../static/image/sszhxt-sszh/1 (2).png") no-repeat;
}
.toolsMiddle .spantwo{
    background: url("../../static/image/sszhxt-sszh/2 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
    left: 55px;
}
.toolsMiddle .spantwo:hover{
    background: url("../../static/image/sszhxt-sszh/2 (2).png") no-repeat;
}
.toolsMiddle .spanthree{
    background: url("../../static/image/sszhxt-sszh/3 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
}
.toolsMiddle .spanthree:hover {
    background: url("../../static/image/sszhxt-sszh/3 (2).png") no-repeat;
}
.toolsMiddle .spanfour{
    background: url("../../static/image/sszhxt-sszh/4 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
    left: 55px;
}
.toolsMiddle .spanfour:hover {
    background: url("../../static/image/sszhxt-sszh/4 (2).png") no-repeat;
}

.toolsMiddle .spanfive{
    background: url("../../static/image/sszhxt-sszh/5 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
}
.toolsMiddle .spanfive:hover {
    background: url("../../static/image/sszhxt-sszh/5 (2).png") no-repeat;
}
.toolsMiddle .spansix{
    background: url("../../static/image/sszhxt-sszh/6 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
    left: 55px;
}
.toolsMiddle .spansix:hover {
    background: url("../../static/image/sszhxt-sszh/6 (2).png") no-repeat;
}
.sszhocxTools .toolsRight{
    width: 54px;
    height: 88px;
    margin-left: 10px;
    background: url("../../static/image/sszhxt-sszh/moveyourself (1).png");
}
.sszhocxTools .toolsRight:hover{
    background: url("../../static/image/sszhxt-sszh/moveyourself (2).png");
}
.sszhocxTools .toolsFoot{
    position: relative;
    width: 250px;
    height: 25px;
    margin-top: 20px;
}
.sszhocxTools .toolsFootBg{
    position: relative;
    width: 250px;
    height: 10px;
    background: url("../../static/image/sszhxt-sszh/movebg.png");
    margin-top: 20px;
}
.sszhocxTools .toolsFoolMoveImg{
    position: absolute;
    left: 2px;
    top:5px;
    cursor: pointer;
    background: url("../../static/image/sszhxt-sszh/move.png") no-repeat;
    width: 10px;
    height: 15px;
}
.sszhgjWindow{
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
}
/*设备信息弹框*/
#sszhallmap .esriPopup .titlePane{
    background: rgb(7, 124, 225);
    line-height: 25px;
}
#sszhallmap .esriPopupWrapper .sizer .title{
    font-size: 14px;
    padding: 4px;
}
#sszhallmap .esriPopupWrapper .sizer .maximize{
    display: none;
}
#sszhallmap .esriPopupWrapper .sizer .close{
    top:7px;
    right: 5px;
}
#sszhallmap .esriPopupWrapper .sizer .actionsPane .actionList{
    display: none;
}
.sszhxt-sszh-map{
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    bottom: 5px;
    top: 67px;
    left: 265px;
    right: 0px;
    z-index: 0;
    /* margin-top: -71px; */
    /* padding-top: 71px; */
     /*margin-left: -280px;*/
     /*padding-left: 280px;*/
    padding-right: 2px;
    /*z-index: 10;*/
}
.sszh-map .sszhmapsearch .mapclose{
    position: absolute;
    left: 320px;
    top: 12px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}
.sszhxt-sszh-sosBtn{
    bottom: 0px;
    right: 0px;
    top: auto;
    left: auto;
}
.sszhxt-sszh-sos-info{
    left: auto;
    right: 0px;
    bottom: 33px;
}
.sszhdeviceInfo .green{
     background: green;
 }
.sszhdeviceInfo .white{
    background: #cccccc;
}
.sszhdeviceInfo .red{
    background: red;
}
.sszhdeviceInfo .orange{
    background: orange;
}
.sszhdeviceInfo{
    width: 330px;
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 99;
    background: #ffffff;
    border: 1px solid #ccc;
}
.sszhdeviceInfo p{
    padding:0px 20px;
    word-break: break-all;
}