<template>
    <div class="sszhxt-gjgl-gjsz">
        <h4>设备类告警</h4>
        <div class="gjszInlne-block-container">
            <div  class="radio-inline">
                <span class="gjszInlne-block">设备电量</span>
                <div class="radio-inline" style="width: 600px;">
                    <label class="radio-inline radio-inline-span">优先级:</label>
                    <label class="radio-inline ">
                        <input type="radio" name="radio1" value='0' :duplex="@deviceBattery">
                        <span class="URGENT">紧急</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio1" value="1" :duplex="@deviceBattery">
                        <span class="IMPORTANT">重要</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio1" value="2" :duplex="@deviceBattery">
                        <span class="GENERAL">一般</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio1" value="3" :duplex="@deviceBattery">
                        <span class="PROMPT">提示</span>
                    </label>
                </div>
            </div>
            <div>
                <div class="radio-inline">
                    <span class="gjszInlne-block">设备存储容量</span>
                    <div class="radio-inline" style="width: 600px;">
                        <label class="radio-inline radio-inline-span">优先级:</label>
                        <label class="radio-inline">
                            <input type="radio" name="radio2" value='0' :duplex="@deviceStorage">
                            <span class="URGENT">紧急</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio2" value="1" :duplex="@deviceStorage">
                            <span class="IMPORTANT">重要</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio2" value="2" :duplex="@deviceStorage">
                            <span class="GENERAL">一般</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio2" value="3" :duplex="@deviceStorage">
                            <span class="PROMPT">提示</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h4>状态类告警</h4>
        <div class="gjszInlne-block-container">
            <div  class="radio-inline">
                <span class="gjszInlne-block">设备上线</span>
                <div class="radio-inline" style="width: 600px;">
                    <label class="radio-inline radio-inline-span">优先级:</label>
                    <label class="radio-inline">
                        <input type="radio" name="radio3" value="0" :duplex="@deviceOnline">
                        <span class="URGENT">紧急</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio3"  value="1" :duplex="@deviceOnline">
                        <span class="IMPORTANT">重要</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio3" value="2" :duplex="@deviceOnline">
                        <span class="GENERAL">一般</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio3" value="3" :duplex="@deviceOnline">
                        <span class="PROMPT">提示</span>
                    </label>
                </div>
            </div>
            <div>
                <div class="radio-inline">
                    <span class="gjszInlne-block">设备下线</span>
                    <div class="radio-inline" style="width: 600px;">
                        <label class="radio-inline radio-inline-span">优先级:</label>
                        <label class="radio-inline">
                            <input type="radio" name="radio4" value="0"  :duplex="@deviceOutline">
                            <span class="URGENT">紧急</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio4"  value="1" :duplex="@deviceOutline">
                            <span class="IMPORTANT">重要</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio4" value="2" :duplex="@deviceOutline">
                            <span class="GENERAL">一般</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio4" value="3" :duplex="@deviceOutline">
                            <span class="PROMPT">提示</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h4>业务类告警</h4>
        <div class="gjszInlne-block-container">
            <div  class="radio-inline" >
                <span class="gjszInlne-block">SOS告警</span>
                <div class="radio-inline" style="width: 600px;">
                    <label class="radio-inline radio-inline-span">优先级:</label>
                    <label class="radio-inline">
                        <input type="radio" name="radio5" value="0" :duplex="@deviceSOS">
                        <span class="URGENT">紧急</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio5" value="1" :duplex="@deviceSOS">
                        <span class="IMPORTANT">重要</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio5" value="2" :duplex="@deviceSOS">
                        <span class="GENERAL">一般</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio5" value="3" :duplex="@deviceSOS">
                        <span class="PROMPT">提示</span>
                    </label>
                </div>
            </div>
            
        </div>
        <div class="buttonContainer">
            <button type="button" class="btn " :click="@save">保存</button>
            <button type="button" class="btn " :click="@reset">重置</button>
        </div>
    </div>
</template>