<!-- 实时指挥系统--视频监控 -->
<!-- caojiacong -->
<template>
    <div class="spjk" :controller="spjk-vm" :mouseup="@handleSoundMouseUp" :keydown="@exitFull">
        <ms-sszh-sidebar :widget="{owner:'sszhxt-spjk-polltree',onCheck:@handleTreeCheck,extraProcessWhenPersonChange:@extraProcessWhenPersonChange}">
        </ms-sszh-sidebar>
        <div class="spjk-main-container">
            <div class="main-title">
                <h3>监控画面</h3>
                <ul class="ocx-tool-bar">
                    <li>
                        <div class="sound-bar-wrap" :mouseleave="handleSoundMouseLeave">
                            <div class="sound" title="音量调节" :click="@handleSound"></div>
                            <div class="sound-bar" :visible="@soundShow" :on-mousewheel="handleSoundScroll" :mousemove="@handleSoundMouseMove|prevent">
                                <div class="triangle outer-triangle"></div>
                                <div class="triangle inner-triangle"></div>
                                <div class="sound-level-wrap" :mousedown="@handleSoundMouseDown|prevent">
                                    <span class="sound-level" :css="{'top':(100 - @soundLevel)+'%'}"></span>
                                </div>
                                <span class="sound-num">{{@soundLevel}}%</span>
                            </div>
                            <iframe :visible="@soundShow" src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
                        </div>
                    </li>
                    <li class="split1" title="1分屏" :click="@handleSplit1"></li>
                    <li class="split4" title="4分屏" :click="@handleSplit4"></li>
                    <li class="split6" title="6分屏" :click="@handleSplit6"></li>
                    <li class="split9" title="9分屏" :click="@handleSplit9"></li>
                    <li class="split" title="自定义分屏" :click="@handleSplit"></li>
                    <li class="full" title="全屏" :click="@handleFull"></li>
                    <li class="close-current" title="关闭所选" :click="@handleClose"></li>
                    <li class="closeall" title="关闭全部" :click="@handleCloseAll"></li>
                </ul>
            </div>
            <div class="video-list" :css="{height:@videoHeight}">
                <!--<object :if="!@isie" id="video-ocx" CLSID="{455791d4-4095-4f70-b2b3-f5c424f25ad9}" TYPE="application/x-itst-activex" Event_OcxEventProxy="_onOcxEventProxy"-->
                    <!--width="100%" height="100%"></object>-->
                <embed  :if="!@isie"  id="video-ocx"  type="application/npGSVideoPlugin-plugin" name="npGSVideoPlugin"  width="100%" height="100%">

                <object :if="@isie" id="video-ocx" classid="clsid:455791d4-4095-4f70-b2b3-f5c424f25ad9" width="100%" height="100%"></object>
                <!--<object id="video-ocx" classid="clsid:455791d4-4095-4f70-b2b3-f5c424f25ad9" width="100%" height="100%"></object>-->
            </div>
        </div>
        <iframe id='lala' src="about:blank" marginheight="0" marginwidth="0" style="display: none; position:absolute; visibility:inherit; top:257px;left:643px;width:360px; height:200px;z-index:992;opacity:1;filter:alpha(opacity=0);background: #fff;"
            frameborder="0"></iframe>
        <div :controller="spjk-split-vm" class="spjk-modal-split">
            <xmp :widget="{is:'common-ms-modal', title:'自定义分屏', btnalign:'center', modalSelector:'#spjk-modal-split', modalWidth:360, modalHeight: 100, show:@show, onOk:@handleOk, onCancel:@handleCancel,extramove:@extramove}">
                <div id="spjk-modal-split">
                    <div class="form-item">
                        <label>行：</label>
                        <ms-modal-select :widget="{show:@rowShow,getSelected:@getRowSelected}"></ms-modal-select>
                    </div>
                    <div class="form-item">
                        <label>列：</label>
                        <ms-modal-select :widget="{show:@columnShow,getSelected:@getColumnSelected}"></ms-modal-select>
                    </div>
                    <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
                </div>
            </xmp>
        </div>
        <ms-download-tip :widget="{show:@downloadTipShow,getShowStatus:getShowStatus}">
            <div>
                <p>{{@tipText}}
                    <br/><span :if="@showtip">您未安装该插件，是否下载？</span></p>
                <p class="tip-text">
                    <i class="fa fa-info-circle"></i>安装完成后请重启浏览器</p>
            </div>
        </ms-download-tip>
    </div>
</template>