.sszhxt-gjgl-gjdy-map{
    width: 0;
    height: 0;
    overflow: hidden;
}
.sszhxt-gjgl-gjdy-sosBtn{
    position: fixed;
    bottom: 0px;
    top: auto;
    right: 0px;
    left: auto;
}
.sszhxt-gjgl-gjdy-sos-info{
    position: fixed;
    bottom: 30px;
    right: 0px;
    left: auto;
}
.sszhxt-gjgl-gjdy{
    padding: 10px 0px;
    color: #597292;
    height: 100%;
    min-height: 700px;
}
.sszhxt-gjgl-gjdy h4{
    color:#0078D7;
    font-weight: bold;
    background-color: #eff4f8;
    padding: 10px 20px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}
.gjdyInlne-block-container .checkboxBlock{
    padding: 30px 20px 30px;
    border-bottom: 1px solid #ccc;
}
.gjdyInlne-block{
    display: block;
    width: 80px;
    vertical-align: top;
    font-size: 17px;
    margin-bottom: 5px;
}
.gjdyInlne-block-container{
    padding: 0px 20px 20px;
}
.gjdyInlne-block-container .checkbox-inline{
    margin-right: 40px;
    font-size: 14px;
    margin-bottom: 10px;
}
.gjdyInlne-block-container .URGENT, .gjdyInlne-block-container .IMPORTANT, .gjdyInlne-block-container .GENERAL, .gjdyInlne-block-container .PROMPT {
    display: inline-block;
    margin-left: 5px;
    padding: 0px 5px;
    color: #fff;
    border-radius: 4px;
}
.gjdyInlne-block-container .URGENT {
    background: red;
}
.gjdyInlne-block-container .IMPORTANT{
    background: orange;
}
.gjdyInlne-block-container .GENERAL{
    background: #00cc33;
}
.gjdyInlne-block-container .PROMPT{
    background: #3399ff;
}
.sszhxt-gjgl-gjdy .orgContainer{
    padding: 20px 40px;
    height: 90%;
}
.sszhxt-gjgl-gjdy .leftOrgcontainer{
    float: left;
    width: 400px;
    height: 100%;
    position: relative;
}
#tree-select-wrap-gjdy{
    width: 240px;
}
.leftOrgcontainerHead .tree-select-wrap .tree-select-selected{
    top:6px;
}
.sszhxt-gjgl-gjdy .leftOrgcontainerWarp {
    border: 1px solid #d1d0d0;
    /* height: 100%; */
    width: 400px;
    /* margin-top: -36px; */
    /* padding-top: 33px; */
    position: absolute;
    bottom: 0px;
    top: 40px;
}
.sszhxt-gjgl-gjdy .middleContainer{
    float: left;
    width: 30px;
    height: 380px;
    padding: 0 8px;
}
.sszhxt-gjgl-gjdy .rightOrgcontainer{
    float: left;
    width: 440px;
    height: 100%;
    border: 1px solid #d1d0d0;
    position: relative;
}
.sszhxt-gjgl-gjdy .buttonContainer{
    position: relative;
    left: 0;
    right:0;
    bottom: -20px;
    text-align: center;
}
.sszhxt-gjgl-gjdy .buttonContainer .btn{
    background-color: #0078d7;
    width: 120px;
    height: 30px;
    margin-right: 20px;
    padding: 0px;
    color: #ffffff;
}
.sszhxt-gjgl-gjdy .buttonContainer .btn:hover{
    background-color:  #0057a1;
}
.sszhxt-gjgl-gjdy .rightOrgcontainerWarp{
    overflow-y: scroll;
    padding: 5px 20px;
    position: absolute;
    width: 440px;
    bottom: 0px;
    top: 32px;
}
.sszhxt-gjgl-gjdy .block_inline{
    float: left;
    margin-left: 5px;
    border: 1px solid #ccc;
    height: 90%;
}
.sszhxt-gjgl-gjdy .block_inline_one{
    position: relative;
    width: 30%;
}
.sszhxt-gjgl-gjdy .block_inline_two{
    width: 69%;
}
.sszhxt-gjgl-gjdy .gjycheckall{
    position: absolute;
    bottom: 0px;
}
.sszhxt-gjgl-gjdy .dev{
    background: url(/static/image/sszhxt/device.png?__sprite) 0 2px no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.sszhxt-gjgl-gjdy .org{
    background: url(../../static/image/sszhxt/org.png) no-repeat scroll;
    width: 18px;
    height: 16px;
    vertical-align: bottom;
}