<template>
    <div class="sszhxt-gjgl-gjdy">
        <div class="block_inline block_inline_one">
            <h4>告警源选择</h4>
            <div class="gjdyInlne-block-container">
                <div class="checkboxBlock">
                    <span class="gjdyInlne-block">业务类</span>
                    <div class="checkbox-inline">
                        <input type="checkbox"  value='DEVICE_SOS' :duplex="@deviceSOS" data-duplex-changed="@handleCheckboxChange">
                        <span>SOS告警</span>
                        <span :class="@sosLevelClass">{{@jsonLevel.sosLevel | changeWord}}</span>
                    </div>
                </div>
                <div class="checkboxBlock">
                    <span class="gjdyInlne-block">状态类</span>
                    <div class="checkbox-inline">
                        <input type="checkbox"  value='DEVICE_ONLINE' :duplex="@deviceSOS" data-duplex-changed="@handleCheckboxChange">
                        <span>设备上线</span>
                        <span :class="@onLineLevelClass">{{@jsonLevel.onLineLevel | changeWord}}</span>
                    </div>
                    <br>
                    <div class="checkbox-inline">
                        <input type="checkbox"  value='DEVICE_OFFLINE' :duplex="@deviceSOS" data-duplex-changed="@handleCheckboxChange">
                        <span>设备下线</span>
                        <span :class="@offLineLevelClass">{{@jsonLevel.offLineLevel | changeWord}}</span>
                    </div>
                </div>
                <div class="checkboxBlock">
                    <span class="gjdyInlne-block">设备类</span>
                    <div class="checkbox-inline">
                        <input type="checkbox"  value='DEVICE_ELECTRIC_CAPACITANCE' :duplex="@deviceSOS" data-duplex-changed="@handleCheckboxChange">
                        <span>设备电量</span>
                        <span :class="@batteryLevelClass">{{@jsonLevel.batteryLevel | changeWord}}</span>
                    </div>
                    <br>
                    <div class="checkbox-inline">
                        <input type="checkbox"  value='DEVICE_STORAGE_CAPACITANCE' :duplex="@deviceSOS" data-duplex-changed="@handleCheckboxChange">
                        <span>存储容量</span>
                        <span :class="@storageLevelClass">{{@jsonLevel.storageLevel | changeWord}}</span>
                    </div>
                </div>
                <div class="gjycheckall checkbox-inline">
                    <input type="checkbox"  value='' :click="@gjycheckAll" ms-duplex-checked="@deviceSOS.length == 5" >
                    <span>全选</span>
                </div>
            </div>
        </div>
        <div class="block_inline block_inline_two">
            <h4>设备选择</h4>
            <div class="orgContainer">
                <div class="leftOrgcontainer">
                    <div class="leftOrgcontainerHead">
                        <span style="vertical-align: middle;font-size: 18px;line-height: 35px;margin-right: 15px;">部门</span>
                        <ms-tree-selecting :widget="{tree:@orgData, showSearch:true,getSelected:@getSelected, wrapId: 'tree-select-wrap-gjdy',extraExpandHandle:@extraExpandHandle}"></ms-tree-selecting>
                        <span style="float: right;vertical-align: middle;line-height: 35px;">
                        <input type="checkbox" value="contianChild" :duplex="@contianChild" data-duplex-changed="@handleOrgCheckboxChange">
                        包含子部门
                    </span>
                    </div>
                    <div class="leftOrgcontainerWarp">
                        <div style="height: 100%;overflow-y:scroll;">
                            <ul>
                                <li style="padding: 5px 15px 0px" :for="($index, item) in @deviceArr">
                                    <input type="checkbox"  ms-duplex-checked="item.checked" data-duplex-changed="@leftcheckOne">
                                    <label :class="[item.gbCode ? 'dev':'org']"></label>
                                    <span style="vertical-align: top;">{{item.username}}</span>
                                </li>
                                <li style="padding: 5px 15px 0px" :if="@deviceArr.length == 0 && @showTip">
                                    该部门无执法记录仪
                                </li>
                            </ul>
                        </div>
                        <div class="checkbox-inline" style="margin-left: 10px">
                            <input type="checkbox"  value='' :click="@leftcheckAll" ms-duplex-checked="@leftallchecked" >
                            <span>全选</span>
                        </div>
                    </div>
                </div>
                <div class="middleContainer">
                    <label :click="@hanleToright" class="fa fa-chevron-right fa-lg" style="margin-top: 150px;display: block;cursor: pointer;float: right;"></label>
                    <!--<label :click="@handleToLeft" class="fa fa-chevron-left fa-lg" style="margin-top: 30px;display: block;cursor: pointer;"></label>-->
                </div>
                <div class="rightOrgcontainer">
                    <p style="background-color: #f2f2f2;color:#333333;padding:5px 15px;border-bottom: 1px solid #d1d0d0;">已订阅的部门/设备</p>
                    <div class="rightOrgcontainerWarp">
                        <ul :for="($key, item) in @rightDevArr">
                            <a :if="@item.length !=0" style="cursor: pointer;color: #597292;">
                                <span class="fa fa-lg" style="cursor: pointer;" :click="@hideOrshowLi(item,$key)" :class="[item[0].visible? 'fa-caret-down':'fa-caret-up']"></span>
                                <label class="org"></label>
                                <span>{{item[0].orgName | InitValue}}</span>
                                <span class="fa fa-close" style="cursor: pointer;color: #C42E2E;float: right;" :click="@deleteOrgDevice(item,$key) |stop"></span>
                            </a>
                            <div :visible="item.length > 0 && item[0].gbCode">
                                <li style="padding: 2px 0px 0px 30px;line-height: 23px" :for="($index, value) in item" :visible="@value.visible">
                                    <label class="dev"></label>
                                    <span>{{value.username}}</span>
                                    <span class="fa fa-close" style="cursor: pointer;color: #C42E2E;float: right;" :click="@deleteDevice(value,$key,$index)"></span>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <!--<div class="checkbox-inline" style="margin-left: 10px">-->
                    <!--<input type="checkbox"  value='' :duplex="@rightcheckAll">-->
                    <!--<span>全选</span>-->
                    <!--</div>-->


                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="buttonContainer">
            <button type="button" class="btn " :click="@save">保存</button>
            <button type="button" class="btn " :click="@reset">重置</button>
        </div>
    </div>
</template>