<!-- 实时指挥系统--录像回放 -->
<!-- caojiacong -->
<template>
    <div class="lxhf" :controller="lxhf-vm">
        <div class="lxhf-side-bar">
            <ul class="side-bar-title" :click="@handleModeChange">
                <li :class="@sidebarMode == 0 && 'active'">设备</li>
                <li :class="@sidebarMode == 1 && 'active'">警员</li>
            </ul>
            <div class="side-bar-main">
                <div class="search-box">
                    <ms-form :widget="{$form:@$form,inline:true}">
                        <ms-form-item :widget="{label:'部门:'}" :class="'form-item'">
                            <ms-tree-selecting :widget="{tree:@orgData, showSearch:true, hasIframe:true, wrapId: 'lxhf-tree-select-1', getSelected:@getSelected, selectedKey:@dataJson ? @dataJson.orgId : '', selectedTitle:@dataJson ? @dataJson.orgName : '', onChange:@handleTreeChange, extraExpandHandle:@extraExpandHandle}"></ms-tree-selecting>
                        </ms-form-item>
                        <div :if="@sidebarMode == 0">
                            <ms-form-item :widget="{label:'设备:'}" :class="'form-item'">
                                <div class="has-icon-input-wrap">
                                    <input type="text" class="form-control key" placeholder="输入设备名称/国标编号" :duplex="@deviceKey" :keypress="@handlePress" :focus="@handleQueryFocus"
                                        :blur="@handleQueryBlur">
                                    <i class="fa fa-close" :visible="false" :mousedown="@handleQueryClear('deviceKey',$event)|prevent"></i>
                                </div>
                            </ms-form-item>
                        </div>
                        <div :if="@sidebarMode == 1">
                            <ms-form-item :widget="{label:'警员:'}" :class="'form-item'">
                                <div class="has-icon-input-wrap">
                                    <input type="text" class="form-control" placeholder="输入警员名称/警员警号" :duplex="@userKey" :keypress="@handlePress" :focus="@handleQueryFocus"
                                        :blur="@handleQueryBlur">
                                    <i class="fa fa-close" :visible="false" :mousedown="@handleQueryClear('userKey',$event)|prevent"></i>
                                </div>
                            </ms-form-item>
                        </div>
                        <ms-form-item :widget="{label:'查询日期:'}" :class="'form-item'" :click="handleDateClick">
                            <ms-datepicker :widget="{
                                            col:'day',
                                            placeholder:'请选择查询日期',
                                            value: @queryTime,
                                            width: '180px',
                                            display:'relative',
                                            className:'sszhxt_lxhf_datapicker'
                                        }"></ms-datepicker>
                        </ms-form-item>
                    </ms-form>
                    <button type="button" class="btn" :click="@handleQuery">查询</button>
                </div>
                <ul class="video-preview-list" :scroll="@handleListScroll">
                    <li :if="@isNull" class="list-null">暂无数据</li>
                    <li :if="@sidebarMode === 0" :for="($index,el) in @videoPreData" class="video-preview-item" :class="@activeVideo === $index && 'active-video'"
                        :click="@tabPoliceVideo(el,$event)">
                        <!-- <img src="#" alt="" class="video-thumbnail"> -->
                        <ul class="video-info">
                            <li :attr="{title:@el.deviceName || ''}">设备名称：{{@el.deviceName | fillterEmpty}}</li>
                            <li :attr="{title:@el.deviceId || ''}">国标编号：{{@el.deviceId | fillterEmpty}}</li>
                            <li :attr="{title:@el.formatStartTime || ''}">拍摄时间：{{@el.formatStartTime | fillterEmpty}}</li>
                            <li :attr="{title:@el.durationStr || ''}">视频时长：{{@el.durationStr | fillterEmpty}}</li>
                        </ul>
                    </li>
                    <li :if="@sidebarMode === 1" :for="($index,el) in @videoPreData" class="video-preview-item" :class="@activeVideo === $index && 'active-video'"
                        :click="@tabPoliceVideo(el,$event)">
                        <!-- <img src="#" alt="" class="video-thumbnail"> -->
                        <ul class="video-info">
                            <li :attr="{title:@el.userName || ''}">警员姓名：{{@el.userName | fillterEmpty}}</li>
                            <li :attr="{title:@el.userCode || ''}">警员警号：{{@el.userCode | fillterEmpty}}</li>
                            <li :attr="{title:@el.formatStartTime || ''}">拍摄时间：{{@el.formatStartTime | fillterEmpty}}</li>
                            <li :attr="{title:@el.durationStr || ''}">视频时长：{{@el.durationStr | fillterEmpty}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lxhf-main-container">
            <div class="graphic-container clearfix">
                <div class="lxhf-video" style="position:relative;">
                    <div class="video-ocx-wrap" :css="{height:@videoHeight}">
                        <!--<object :if="!@isie" id="video-ocx" CLSID="{455791d4-4095-4f70-b2b3-f5c424f25ad9}" TYPE="application/x-itst-activex" Event_OcxEventProxy="_onOcxEventProxy"-->
                            <!--width="100%" height="100%"></object>-->
                        <embed  :if="!@isie"  id="video-ocx"  type="application/npGSVideoPlugin-plugin" name="npGSVideoPlugin"  width="100%" height="100%">

                        <object :if="@isie" id="video-ocx" classid="clsid:455791d4-4095-4f70-b2b3-f5c424f25ad9" width="100%" height="100%"></object>
                        <!-- <object id="video-ocx" classid="clsid:455791d4-4095-4f70-b2b3-f5c424f25ad9" width="100%" height="100%"></object> -->
                    </div>
                    <div class="video-tool-wrap">
                        <ul class="video-tool-bar" :visible="@activeVideo !== ''">
                            <li class="video-speed">
                                <span>当前播放速率：{{@speed}}x</span>
                            </li>
                            <li>
                                <span class="fa fa-step-backward" title="单帧后退" :click="@handleStepPre"></span>
                            </li>
                            <li>
                                <span class="fa fa-fast-backward" title="慢放" :click="@handleSlower"></span>
                            </li>
                            <li>
                                <span class="fa" :class="@playing ? 'fa-pause' : 'fa-play'" :attr="{'title':@playing ? '暂停' : '播放'}" :click="@handlePlay"></span>
                            </li>
                            <li>
                                <span class="fa fa-stop" title="停止" :click="@handleStop"></span>
                            </li>
                            <li>
                                <span class="fa fa-fast-forward" title="快放" :click="@handleFaster"></span>
                            </li>
                            <li>
                                <span class="fa fa-step-forward" title="单帧前进" :click="@handleStepNext"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="lxhf-map" id="lxhf-map">
                    <div class="map-loading">
                        <span class="fa fa-spinner fa-pulse"></span>正在加载</div>
                </div> -->
            </div>
            <div class="label-container">
                <div class="label-title">标注信息</div>
                <div class="label-content">
                    <div class="label-form" :if="@isEdit">
                        <ms-form :widget="{$form:@$labelForm,inline:true}">
                            <ms-form-item :class="['form-item', (@labelTypeOptions.length === 0 && 'disabled'),!@validJson.labelType && 'has-error']">
                                <label>
                                    <i>* </i>标注类型:</label>
                                <ms-select :widget="{col:'labelType',options:@labelTypeOptions, value:[@labelTypeOptions.length > 0 ? @labelInfo.labelType : ''], displayValue:[@labelTypeOptions.length === 0 ? '暂无可选的标注类型' : '暂未选择，请选择'], onChange:@handleMarkTypeChnage}"></ms-select>
                                <div class="form-tip invalid-tip" :if="!@validJson.labelType">请选择标注类型</div>
                            </ms-form-item>
                            <ms-form-item :class="['form-item',!@validJson.location && 'has-error']">
                                <label>
                                    <i>* </i>采集地点:</label>
                                <div class="has-icon has-icon-input-wrap">
                                    <input type="text" class="form-control" :attr="{title:@labelInfo.location}" :duplex="@labelInfo.location" :focus="@handleFocus('location',$event)"
                                        :blur="@handleFormat('location',null,$event)">
                                    <i class="fa fa-close" :visible="false" :mousedown="@handleClear('location',$event)|prevent"></i>
                                </div>
                                <div class="form-tip invalid-tip" :if="!@validJson.location">请输入采集地点</div>
                            </ms-form-item>
                            <ms-form-item :class="['form-item',!@validJson.labelTime && 'has-error']">
                                <label>
                                    <i>* </i>采集时间:</label>
                                <ms-datepicker :widget="{
                                                        col:'labelTime',
                                                        placeholder:'请选择采集时间',
                                                        width:'260',
                                                        value: @labelInfo.labelTime,
                                                        direction:'up',
                                                        format:'YYYY-MM-DD HH:mm:ss',
                                                         showTime: true,
                                                        onChange: @handleLabelTimeChange
                                                    }"></ms-datepicker>
                                <div class="form-tip invalid-tip" :if="!@validJson.labelTime">请选择采集时间</div>
                            </ms-form-item>
                            <ms-form-item :class="['form-item','textarea-item',!@validJson.description && 'has-error']">
                                <label>
                                    <i>* </i>具体描述:</label>
                                <div class="has-icon">
                                    <textarea class="form-control" :attr="{title:@labelInfo.description}" :duplex="@labelInfo.description" :focus="@handleFocus('description',$event)"
                                        :blur="@handleFormat('description',@descriptionReg,$event)"></textarea>
                                    <i class="fa fa-close" :visible="false" :mousedown="@handleClear('description',$event)|prevent"></i>
                                </div>
                                <div class="form-tip invalid-tip" :if="!@validJson.description">请输入具体描述</div>
                            </ms-form-item>
                            <button type="button" class="btn" :click="@handleSaveMark">保存</button>
                        </ms-form>
                    </div>
                    <div class="label-infos" :if="!@isEdit && !@labelNull">
                        <div class="label-info-item">
                            <label>标注类型：</label>
                            <div class="label-item-detail">
                                <span :attr="{'origin-title':(@activeVideo !== '' ? @labelTypeName : ''),'data-toggle':'popover'}">{{(@activeVideo !== '' ? @labelTypeName : '-') | fillterEmpty}}</span>
                            </div>
                        </div>
                        <div class="label-info-item">
                            <label>采集地点：</label>
                            <div class="label-item-detail">
                                <span :attr="{'origin-title':@labelInfo.location || '','data-toggle':'popover'}">{{@labelInfo.location | fillterEmpty}}</span>
                            </div>
                        </div>
                        <div class="label-info-item">
                            <label>采集时间：</label>
                            <div class="label-item-detail">
                                <span :attr="{'origin-title':@labelInfo.labelTime || '','data-toggle':'popover'}">{{@labelInfo.labelTime | fillterEmpty}}</span>
                            </div>
                        </div>
                        <div class="label-info-item">
                            <label>具体描述：</label>
                            <div class="label-item-detail">
                                <span :attr="{'origin-title':@labelInfo.description || '','data-toggle':'popover'}">{{@labelInfo.description | fillterEmpty}}</span>
                            </div>
                        </div>
                        <button type="button" class="btn" :click="@handleEditMark" :visible="@activeVideo !== ''">编辑</button>
                    </div>
                    <div class="label-infos" :if="!@isEdit && @labelNull">
                        <p>暂无标注</p>
                        <button type="button" class="btn" :click="@handleEditMark">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <ms-download-tip :widget="{show:@downloadTipShow,getShowStatus:getShowStatus}">
            <div>
                <p>{{@tipText}}
                    <br/><span :if="@showtip">您未安装该插件，是否下载？</span></p>
                <p class="tip-text">
                    <i class="fa fa-info-circle"></i>安装完成后请重启浏览器</p>
            </div>
        </ms-download-tip>
    </div>
</template>