.tree-select-wrap{
    position: relative;
    display: inline-block;
    color: #536b82;
}
.tree-select-wrap .tree-select-selected{
    position: absolute;
    top: 0;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.tree-select-wrap .form-control.tree-select-form{
    padding: 0 12px;
}
.tree-select-wrap .tree-select-search{
   height: 98%;
}
.tree-select-wrap .tree-panel{
    position: absolute;
    width: 240px;
    height: 300px;
    z-index: 999;
    overflow: auto;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
}
.tree-select-wrap .ztree li a.curSelectedNode{
    color: #536b82;
    border: 1px #e0e7ec solid;
    background-color: #e0e7ec;
}
.tree-select-wrap .ztree span{
    font-size: 14px;
    color: #536b82;
}
.tree-select-wrap .fa{
    position: absolute;
    top: 7px;
    right: 9px;
    line-height: 20px;
}
.tree-select-wrap .no-match{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 999;
    color: #999;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
}
.tree-select-wrap .no-data{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: rgb(204, 204, 204);
    padding-left: 12px;
    cursor: not-allowed;
}
.tree-select-wrap .treeSearchResult li{
    padding: 5px 15px 0px;
    cursor: pointer;
}