.table-index{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #536b82;
}
.table-index ul{
    list-style: none;
}
.table-index ul label{
    margin-bottom: 0;
}

/* 头部样式 */
.table-index  .table-index-thead-fixed{
    overflow: hidden;
    white-space:nowrap;
    margin-top: -34px;
}
.table-index .table-index-thead{
    width: 100%;
    /* margin-top: -34px; */
    background: #e0e7ed;
    border: 1px solid #a5b4bd;
}
.table-index .table-index-thead li{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    background: #e0e7ec;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    border-left: 1px solid #a5b4bd;
    /* float: left; */
}
.table-index .table-index-thead li:first-child{
    border-left: none;
}

/* 内容样式 */
.table-index .table-index-tbody{
    height: 100%;
    min-height: 34px;
    overflow: auto;
    background: #f7f7f7;
    /* border: 1px solid #e0e7ec; */
    /* border-top: none;
    border-left: 0px;
    border-right: none; */
}
.table-index .table-index-tbody li{
    text-align: center;
    height: 34px;
    line-height: 34px;
    /* border-bottom: 1px solid #e0e7ec; */
}
.table-index .table-index-tbody li:hover{
    background-color: #E6E6E6;
}
.table-index .table-index-tbody li .hover-color{
    background-color: #E6E6E6;
}
.table-index .table-index-tbody li .tbody{
    display: inline-block;
    /* padding: 0 4px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #e0e7ec;
    border-bottom: 1px solid #e0e7ec;
}
.table-index .table-index-tbody li  div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-index .table-index-tbody li:first-child .tbody{
    height: 33px;
    line-height: 33px;
    vertical-align: top;
}
.table-index .table-index-tbody li .table-index-checkbox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.table-index .table-index-tbody li .table-index-checkbox div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* 加载样式 */
.table-index .table-index-loading{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: #F7F7F7;
    line-height: 34px;
    vertical-align: middle;
    background: #f7f7f7 url(/static/image/tyywglpt/loading.gif) center center no-repeat;
}
.table-index .loadingSpan{
    position: absolute;
    top: 52%;
    left: 48%;
    text-align: center;
    color: #536b82;
}
.table-index .noData{
    position: absolute;
    left: 49%;
    top: 8px;
    color: #536b82;
    font-size: 14px;
}
.table-index>ul{
    white-space: nowrap;
}
.table-index-thead{
    text-align: left;
}
.table-index-thead>li{
    text-align: center;
}
.table-index-tbody>li{
    text-align: center;
}
.table-index-tbody>li>div{
    text-align: center;
    min-width: 25px;
}
.table-index .table-cont{
    padding: 0 3px;
}
.table-index .table-index-tbody li{
    text-align: left;
}
.table-index-thead>li{
    border: 1px solid #a5b4bd;
    min-width: 25px;
}
.table-index .table-index-thead li+li{
    border-left: none;
}
.table-index .table-index-thead li:first-child{
    border-left: 1px solid #a5b4bd;
}
.table-index .table-index-thead{
    border: 0px;
}
.table-index-tbody li .tbody:last-child{
    /* border-right: 1px solid #e0e7ec; */
}
.table-index-tbody li .tbody:first-child{
    border-left: 1px solid #e0e7ec;
}
.table-index .table-index-tbody .list-null{
    text-align: center;
    border: 1px solid #e0e7ec;
    border-top: none;
}