<template>

    <div class="mapcity_popup_main" :visible="@showcontent">
        <div class="title">城市列表</div>
        <div class="content" style="height: 460px; overflow: hidden;">
            <div class="sel_city blueC">
                <div id="selCityTop" style="_width:100%;">
                    <div class="sel_city_default" id="set_default_city" style="display: block;" :controller="citycontroller">
                        <p id="CurCityInfo">
                            <span>当前城市：{{@nowcity}}</span><a class="def_city" style="display:inline;" href="javascript:void(0);"
                                                :click="@setdefaultcity"
                                                id="SetDefCity">设为默认城市</a>
                        </p>
                        <p class="default_info" id="DefCityInfo" :visible="@showdefaultcity">您默认的城市是：<a
                                href="javascript:void(0);"
                                :click="@citylocate">{{@defaultcity}}</a>
                            <span>[<a href="javascript:void(0);" :click="@deletedefaultcity">删除</a>]</span>
                        </p>
                    </div>
                    <div class="sel-city-hotcity" style="display:none;">
                        <a href="javascript:void(0)" class="search_nation">在全国范围内检索</a>
                    </div>
                    <div id="selCityHotCityId" class="sel-city-hotcity">
                        <a href="javascript:void(0)" name="全国"style="font-weight:bold;margin-right:5px">全国</a>
                        <a href="javascript:void(0)" citycode="131" name="北京"
                           style="margin-right:5px;*margin-right:1px;">北京</a>
                        <a href="javascript:void(0)" citycode="289" name="上海"
                           style="margin-right:5px;*margin-right:1px;">上海</a>
                        <a href="javascript:void(0)" citycode="257" name="广州"
                           style="margin-right:5px;*margin-right:1px;">广州</a>
                        <a href="javascript:void(0)" citycode="340" name="深圳"
                           style="margin-right:5px;*margin-right:1px;">深圳</a>
                        <a href="javascript:void(0)" citycode="75" name="成都"
                           style="margin-right:5px;*margin-right:1px;">成都</a>
                        <a href="javascript:void(0)" citycode="332" name="天津"
                           style="margin-right:5px;*margin-right:1px;">天津</a>
                        <a href="javascript:void(0)" citycode="315" name="南京"
                           style="margin-right:5px;*margin-right:1px;">南京</a>
                        <a href="javascript:void(0)" citycode="179" name="杭州"
                           style="margin-right:5px;*margin-right:1px;">杭州</a>
                        <a href="javascript:void(0)" citycode="218" name="武汉"
                           style="margin-right:5px;*margin-right:1px;">武汉</a>
                    </div>
                    <div class="sel-city-searchbar">
                        <div class="btnbar">
                            <span href="javascript:void(0)" :click="@showlistsf" tid="selCityProvince" id="selCityProvince" class="sel-city-btnl sel-city-btnl-sel" :class="[@toggle?'backgroundhuise':'']">按省份</span>
                            <span href="javascript:void(0)" :click="@showlistcs" tid="selCityCity" id="selCityCity" class="sel-city-btnr" :class="[!@toggle?'backgroundhuise':'']">按城市</span>
                        </div>
                        <input type="text" :keyup="@quicksearchcity" ms-duplex="@searchvalue" class="sel-city-searchinput" id="selCityCityWd"style="color: gray; width: 80px;"autocomplete="off">
                        <span :click="@searchcity" tid="selCitySubmit" id="selCitySubmit" class="sel-city-btn-submit">搜索</span>
                        <div id="selCityInfo" class="sel-city-tip" style="display: none;">请输入正确的城市名</div>
                    </div>
                    <div id="selCityLetterListId" class="sel-city-letterbar">
                        <div :visible="@toggle" id="sheng">
                            <a href="javascript:void(0)">A</a>
                            <a href="javascript:void(0)">F</a>
                            <a href="javascript:void(0)">G</a>
                            <a href="javascript:void(0)">H</a>
                            <a href="javascript:void(0)">J</a>
                            <a href="javascript:void(0)">L</a>
                            <a href="javascript:void(0)">N</a>
                            <a href="javascript:void(0)">Q</a>
                            <a href="javascript:void(0)">S</a>
                            <a href="javascript:void(0)">T</a>
                            <a href="javascript:void(0)">X</a>
                            <a href="javascript:void(0)">Y</a>
                            <a href="javascript:void(0)">Z</a>
                            <a href="javascript:void(0)">其它</a>
                        </div>
                        <div :visible="!@toggle" id="chengshi">
                            <a href="javascript:void(0)">A</a>
                            <a href="javascript:void(0)">B</a>
                            <a href="javascript:void(0)">C</a>
                            <a href="javascript:void(0)">D</a>
                            <a href="javascript:void(0)">E</a>
                            <a href="javascript:void(0)">F</a>
                            <a href="javascript:void(0)">G</a>
                            <a href="javascript:void(0)">H</a>
                            <a href="javascript:void(0)">J</a>
                            <a href="javascript:void(0)">K</a>
                            <a href="javascript:void(0)">L</a>
                            <a href="javascript:void(0)">M</a>
                            <a href="javascript:void(0)">N</a>
                            <a href="javascript:void(0)">P</a>
                            <a href="javascript:void(0)">Q</a>
                            <a href="javascript:void(0)">R</a>
                            <a href="javascript:void(0)">S</a>
                            <a href="javascript:void(0)">T</a>
                            <a href="javascript:void(0)">W</a>
                            <a href="javascript:void(0)">X</a>
                            <a href="javascript:void(0)">Y</a>
                            <a href="javascript:void(0)">Z</a>
                        </div>
                    </div>
                    <div style="border-top:1px solid #CCC;padding-bottom:10px;"></div>
                </div>
                <div id="selCityPlaceListId" class="selCityPlaceList" style=" height: 200px;">
                    <table style="border-collapse:collapse;border-spacing:0;" cellpadding="0" cellspacing="0" :if="@toggle">
                        <tbody>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>A</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)">安徽:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">合肥</a>
                                <a href="javascript:void(0)">安庆</a>
                                <a href="javascript:void(0)">蚌埠</a>
                                <a href="javascript:void(0)">亳州</a>
                                <a href="javascript:void(0)">巢湖</a>
                                <a href="javascript:void(0)">池州</a>
                                <a href="javascript:void(0)">滁州</a>
                                <a href="javascript:void(0)">阜阳</a>
                                <a href="javascript:void(0)">淮北</a>
                                <a href="javascript:void(0)">淮南</a>
                                <a href="javascript:void(0)">黄山</a>
                                <a href="javascript:void(0)">六安</a>
                                <a href="javascript:void(0)">马鞍山</a>
                                <a href="javascript:void(0)">宿州</a>
                                <a href="javascript:void(0)">铜陵</a>
                                <a href="javascript:void(0)">芜湖</a>
                                <a href="javascript:void(0)">宣城</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">A</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>F</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5785">福建:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">福州</a>
                                <a href="javascript:void(0)">龙岩</a>
                                <a href="javascript:void(0)">南平</a>
                                <a href="javascript:void(0)">宁德</a>
                                <a href="javascript:void(0)">莆田</a>
                                <a href="javascript:void(0)">泉州</a>
                                <a href="javascript:void(0)">三明</a>
                                <a href="javascript:void(0)">厦门</a>
                                <a href="javascript:void(0)">漳州</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">F</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>G</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5776">广东:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">广州</a>
                                <a href="javascript:void(0)">潮州</a>
                                <a href="javascript:void(0)">东莞</a>
                                <a href="javascript:void(0)">佛山</a>
                                <a href="javascript:void(0)">河源</a>
                                <a href="javascript:void(0)">惠州</a>
                                <a href="javascript:void(0)">江门</a>
                                <a href="javascript:void(0)">揭阳</a>
                                <a href="javascript:void(0)">茂名</a>
                                <a href="javascript:void(0)">梅州</a>
                                <a href="javascript:void(0)">清远</a>
                                <a href="javascript:void(0)">汕头</a>
                                <a href="javascript:void(0)">汕尾</a>
                                <a href="javascript:void(0)">韶关</a>
                                <a href="javascript:void(0)">深圳</a>
                                <a href="javascript:void(0)">阳江</a>
                                <a href="javascript:void(0)">云浮</a>
                                <a href="javascript:void(0)">湛江</a>
                                <a href="javascript:void(0)">肇庆</a>
                                <a href="javascript:void(0)">中山</a>
                                <a href="javascript:void(0)">珠海</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5786">广西:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">南宁</a>
                                <a href="javascript:void(0)">百色</a>
                                <a href="javascript:void(0)">北海</a>
                                <a href="javascript:void(0)">崇左</a>
                                <a href="javascript:void(0)">防城港</a>
                                <a href="javascript:void(0)">桂林</a>
                                <a href="javascript:void(0)">贵港</a>
                                <a href="javascript:void(0)">河池</a>
                                <a href="javascript:void(0)">贺州</a>
                                <a href="javascript:void(0)">来宾</a>
                                <a href="javascript:void(0)">柳州</a>
                                <a href="javascript:void(0)">钦州</a>
                                <a href="javascript:void(0)">梧州</a>
                                <a href="javascript:void(0)">玉林</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5793">贵州:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">贵阳</a>
                                <a href="javascript:void(0)">安顺</a>
                                <a href="javascript:void(0)">毕节市</a>
                                <a href="javascript:void(0)">六盘水</a>
                                <a href="javascript:void(0)">铜仁市</a>
                                <a href="javascript:void(0)">遵义</a>
                                <a href="javascript:void(0)" name="黔西南布依族苗族自治州">黔西南州</a>
                                <a href="javascript:void(0)" name="黔东南苗族侗族自治州">黔东南州</a>
                                <a href="javascript:void(0)" name="黔南布依族苗族自治州">黔南州</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5775">甘肃:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">兰州</a>
                                <a href="javascript:void(0)">白银</a>
                                <a href="javascript:void(0)">定西</a>
                                <a href="javascript:void(0)" name="甘南藏族自治州">甘南州</a>
                                <a href="javascript:void(0)">嘉峪关</a>
                                <a href="javascript:void(0)">金昌</a>
                                <a href="javascript:void(0)">酒泉</a>
                                <a href="javascript:void(0)" name="临夏回族自治州">临夏州</a>
                                <a href="javascript:void(0)">陇南</a>
                                <a href="javascript:void(0)">平凉</a>
                                <a href="javascript:void(0)">庆阳</a>
                                <a href="javascript:void(0)">天水</a>
                                <a href="javascript:void(0)">武威</a>
                                <a href="javascript:void(0)">张掖</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">G</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>H</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5790">海南:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">海口</a>
                                <a href="javascript:void(0)" name="白沙黎族自治县">白沙</a>
                                <a href="javascript:void(0)" name="保亭黎族苗族自治县">保亭</a>
                                <a href="javascript:void(0)" name="昌江黎族自治县">昌江</a>
                                <a href="javascript:void(0)">儋州</a>
                                <a href="javascript:void(0)">澄迈</a>
                                <a href="javascript:void(0)">东方</a>
                                <a href="javascript:void(0)">定安</a>
                                <a href="javascript:void(0)">琼海</a>
                                <a href="javascript:void(0)" name="琼中黎族苗族自治县">琼中</a>
                                <a href="javascript:void(0)" name="乐东黎族自治县">乐东</a>
                                <a href="javascript:void(0)">临高</a>
                                <a href="javascript:void(0)" name="陵水黎族自治县">陵水</a>
                                <a href="javascript:void(0)">三亚</a>
                                <a href="javascript:void(0)">屯昌</a>
                                <a href="javascript:void(0)">万宁</a>
                                <a href="javascript:void(0)">文昌</a>
                                <a href="javascript:void(0)">五指山</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5799">河南:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">郑州</a>
                                <a href="javascript:void(0)">安阳</a>
                                <a href="javascript:void(0)">鹤壁</a>
                                <a href="javascript:void(0)">焦作</a>
                                <a href="javascript:void(0)">开封</a>
                                <a href="javascript:void(0)">洛阳</a>
                                <a href="javascript:void(0)">漯河</a>
                                <a href="javascript:void(0)">南阳</a>
                                <a href="javascript:void(0)">平顶山</a>
                                <a href="javascript:void(0)">濮阳</a>
                                <a href="javascript:void(0)">三门峡</a>
                                <a href="javascript:void(0)">商丘</a>
                                <a href="javascript:void(0)">新乡</a>
                                <a href="javascript:void(0)">信阳</a>
                                <a href="javascript:void(0)">许昌</a>
                                <a href="javascript:void(0)">周口</a>
                                <a href="javascript:void(0)">驻马店</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5771">黑龙江:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">哈尔滨</a>
                                <a href="javascript:void(0)">大庆</a>
                                <a href="javascript:void(0)">大兴安岭地区</a>
                                <a href="javascript:void(0)">鹤岗</a>
                                <a href="javascript:void(0)">黑河</a>
                                <a href="javascript:void(0)">鸡西</a>
                                <a href="javascript:void(0)">佳木斯</a>
                                <a href="javascript:void(0)">牡丹江</a>
                                <a href="javascript:void(0)">七台河</a>
                                <a href="javascript:void(0)">齐齐哈尔</a>
                                <a href="javascript:void(0)">双鸭山</a>
                                <a href="javascript:void(0)">绥化</a>
                                <a href="javascript:void(0)">伊春</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5784">湖北:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">武汉</a>
                                <a href="javascript:void(0)">鄂州</a>
                                <a href="javascript:void(0)" name="恩施土家族苗族自治州">恩施</a>
                                <a href="javascript:void(0)">黄冈</a>
                                <a href="javascript:void(0)">黄石</a>
                                <a href="javascript:void(0)">荆门</a>
                                <a href="javascript:void(0)">荆州</a>
                                <a href="javascript:void(0)">潜江</a>
                                <a href="javascript:void(0)">神农架林区</a>
                                <a href="javascript:void(0)">十堰</a>
                                <a href="javascript:void(0)">随州</a>
                                <a href="javascript:void(0)">天门</a>
                                <a href="javascript:void(0)">仙桃</a>
                                <a href="javascript:void(0)">咸宁</a>
                                <a href="javascript:void(0)">襄阳</a>
                                <a href="javascript:void(0)">孝感</a>
                                <a href="javascript:void(0)">宜昌</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5795">湖南:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">长沙</a>
                                <a href="javascript:void(0)">常德</a>
                                <a href="javascript:void(0)">郴州</a>
                                <a href="javascript:void(0)">衡阳</a>
                                <a href="javascript:void(0)">怀化</a>
                                <a href="javascript:void(0)">娄底</a>
                                <a href="javascript:void(0)">邵阳</a>
                                <a href="javascript:void(0)">湘潭</a>
                                <a href="javascript:void(0)" name="湘西土家族苗族自治州">湘西州</a>
                                <a href="javascript:void(0)">益阳</a>
                                <a href="javascript:void(0)">永州</a>
                                <a href="javascript:void(0)">岳阳</a>
                                <a href="javascript:void(0)">张家界</a>
                                <a href="javascript:void(0)">株洲</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5794">河北:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">石家庄</a>
                                <a href="javascript:void(0)">保定</a>
                                <a href="javascript:void(0)">沧州</a>
                                <a href="javascript:void(0)">承德</a>
                                <a href="javascript:void(0)">邯郸</a>
                                <a href="javascript:void(0)">衡水</a>
                                <a href="javascript:void(0)">廊坊</a>
                                <a href="javascript:void(0)">秦皇岛</a>
                                <a href="javascript:void(0)">唐山</a>
                                <a href="javascript:void(0)">邢台</a>
                                <a href="javascript:void(0)">张家口</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">H</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>J</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5787">江苏:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">南京</a>
                                <a href="javascript:void(0)">常州</a>
                                <a href="javascript:void(0)">淮安</a>
                                <a href="javascript:void(0)">连云港</a>
                                <a href="javascript:void(0)">南通</a>
                                <a href="javascript:void(0)">苏州</a>
                                <a href="javascript:void(0)">宿迁</a>
                                <a href="javascript:void(0)">泰州</a>
                                <a href="javascript:void(0)">无锡</a>
                                <a href="javascript:void(0)">徐州</a>
                                <a href="javascript:void(0)">盐城</a>
                                <a href="javascript:void(0)">扬州</a>
                                <a href="javascript:void(0)">镇江</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5800">江西:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">南昌</a>
                                <a href="javascript:void(0)">抚州</a>
                                <a href="javascript:void(0)">赣州</a>
                                <a href="javascript:void(0)">吉安</a>
                                <a href="javascript:void(0)">景德镇</a>
                                <a href="javascript:void(0)">九江</a>
                                <a href="javascript:void(0)">萍乡</a>
                                <a href="javascript:void(0)">上饶</a>
                                <a href="javascript:void(0)">新余</a>
                                <a href="javascript:void(0)">宜春</a>
                                <a href="javascript:void(0)">鹰潭</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5778" name="吉林省">吉林:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">长春</a>
                                <a href="javascript:void(0)">白城</a>
                                <a href="javascript:void(0)">白山</a>
                                <a href="javascript:void(0)">吉林市</a>
                                <a href="javascript:void(0)">辽源</a>
                                <a href="javascript:void(0)">四平</a>
                                <a href="javascript:void(0)">松原</a>
                                <a href="javascript:void(0)">通化</a>
                                <a href="javascript:void(0)" name="延边朝鲜族自治州">延边</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">J</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>L</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5788">辽宁:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">沈阳</a>
                                <a href="javascript:void(0)">鞍山</a>
                                <a href="javascript:void(0)">本溪</a>
                                <a href="javascript:void(0)">朝阳</a>
                                <a href="javascript:void(0)">大连</a>
                                <a href="javascript:void(0)">丹东</a>
                                <a href="javascript:void(0)">抚顺</a>
                                <a href="javascript:void(0)">阜新</a>
                                <a href="javascript:void(0)">葫芦岛</a>
                                <a href="javascript:void(0)">锦州</a>
                                <a href="javascript:void(0)">辽阳</a>
                                <a href="javascript:void(0)">盘锦</a>
                                <a href="javascript:void(0)">铁岭</a>
                                <a href="javascript:void(0)">营口</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">L</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>N</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5789">宁夏:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">银川</a>
                                <a href="javascript:void(0)">固原</a>
                                <a href="javascript:void(0)">石嘴山</a>
                                <a href="javascript:void(0)">吴忠</a>
                                <a href="javascript:void(0)">中卫</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5791">内蒙古:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">呼和浩特</a>
                                <a href="javascript:void(0)">阿拉善盟</a>
                                <a href="javascript:void(0)">包头</a>
                                <a href="javascript:void(0)">巴彦淖尔</a>
                                <a href="javascript:void(0)">赤峰</a>
                                <a href="javascript:void(0)">鄂尔多斯</a>
                                <a href="javascript:void(0)">呼伦贝尔</a>
                                <a href="javascript:void(0)">通辽</a>
                                <a href="javascript:void(0)">乌海</a>
                                <a href="javascript:void(0)">乌兰察布</a>
                                <a href="javascript:void(0)">锡林郭勒盟</a>
                                <a href="javascript:void(0)">兴安盟</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">N</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>Q</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5780">青海:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">西宁</a>
                                <a href="javascript:void(0)" name="果洛藏族自治州">果洛州</a>
                                <a href="javascript:void(0)">海东市</a>
                                <a href="javascript:void(0)" name="海北藏族自治州">海北州</a>
                                <a href="javascript:void(0)" name="海南藏族自治州">海南州</a>
                                <a href="javascript:void(0)" name="海西蒙古族藏族自治州">海西州</a>
                                <a href="javascript:void(0)" name="黄南藏族自治州">黄南州</a>
                                <a href="javascript:void(0)" name="玉树藏族自治州">玉树州</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">Q</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>S</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5777">山东:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">济南</a>
                                <a href="javascript:void(0)">滨州</a>
                                <a href="javascript:void(0)">东营</a>
                                <a href="javascript:void(0)">德州</a>
                                <a href="javascript:void(0)">菏泽</a>
                                <a href="javascript:void(0)">济宁</a>
                                <a href="javascript:void(0)">莱芜</a>
                                <a href="javascript:void(0)">聊城</a>
                                <a href="javascript:void(0)">临沂</a>
                                <a href="javascript:void(0)">青岛</a>
                                <a href="javascript:void(0)">日照</a>
                                <a href="javascript:void(0)">泰安</a>
                                <a href="javascript:void(0)">威海</a>
                                <a href="javascript:void(0)">潍坊</a>
                                <a href="javascript:void(0)">烟台</a>
                                <a href="javascript:void(0)">枣庄</a>
                                <a href="javascript:void(0)">淄博</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5779">山西:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">太原</a>
                                <a href="javascript:void(0)">长治</a>
                                <a href="javascript:void(0)">大同</a>
                                <a href="javascript:void(0)">晋城</a>
                                <a href="javascript:void(0)">晋中</a>
                                <a href="javascript:void(0)">临汾</a>
                                <a href="javascript:void(0)">吕梁</a>
                                <a href="javascript:void(0)">朔州</a>
                                <a href="javascript:void(0)">忻州</a>
                                <a href="javascript:void(0)">阳泉</a>
                                <a href="javascript:void(0)">运城</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5796">陕西:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">西安</a>
                                <a href="javascript:void(0)">安康</a>
                                <a href="javascript:void(0)">宝鸡</a>
                                <a href="javascript:void(0)">汉中</a>
                                <a href="javascript:void(0)">商洛</a>
                                <a href="javascript:void(0)">铜川</a>
                                <a href="javascript:void(0)">渭南</a>
                                <a href="javascript:void(0)">咸阳</a>
                                <a href="javascript:void(0)">延安</a>
                                <a href="javascript:void(0)">榆林</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5801">四川:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">成都</a>
                                <a href="javascript:void(0)" name="阿坝藏族羌族自治州">阿坝州</a>
                                <a href="javascript:void(0)">巴中</a>
                                <a href="javascript:void(0)">达州</a>
                                <a href="javascript:void(0)">德阳</a>
                                <a href="javascript:void(0)" name="甘孜藏族自治州">甘孜州</a>
                                <a href="javascript:void(0)">广安</a>
                                <a href="javascript:void(0)">广元</a>
                                <a href="javascript:void(0)">乐山</a>
                                <a href="javascript:void(0)" name="凉山彝族自治州">凉山州</a>
                                <a href="javascript:void(0)">泸州</a>
                                <a href="javascript:void(0)">南充</a>
                                <a href="javascript:void(0)">眉山</a>
                                <a href="javascript:void(0)">绵阳</a>
                                <a href="javascript:void(0)">内江</a>
                                <a href="javascript:void(0)">攀枝花</a>
                                <a href="javascript:void(0)">遂宁</a>
                                <a href="javascript:void(0)">雅安</a>
                                <a href="javascript:void(0)">宜宾</a>
                                <a href="javascript:void(0)">资阳</a>
                                <a href="javascript:void(0)">自贡</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">S</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>T</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)">台湾:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">台北</a>
                                <a href="javascript:void(0)">高雄</a>
                                <a href="javascript:void(0)">台中</a>
                                <a href="javascript:void(0)">台南</a>
                                <a href="javascript:void(0)">新北</a>
                                <a href="javascript:void(0)">基隆</a>
                                <a href="javascript:void(0)">新竹</a>
                                <a href="javascript:void(0)">嘉义</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">T</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>X</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5782">西藏:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">拉萨</a>
                                <a href="javascript:void(0)">阿里地区</a>
                                <a href="javascript:void(0)">昌都市</a>
                                <a href="javascript:void(0)">林芝市</a>
                                <a href="javascript:void(0)">那曲地区</a>
                                <a href="javascript:void(0)">日喀则市</a>
                                <a href="javascript:void(0)">山南地区</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div></div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5781">新疆:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">乌鲁木齐</a>
                                <a href="javascript:void(0)">阿拉尔</a>
                                <a href="javascript:void(0)">阿克苏地区</a>
                                <a href="javascript:void(0)">阿勒泰地区</a>
                                <a href="javascript:void(0)" name="巴音郭楞蒙古自治州">巴音郭楞</a>
                                <a href="javascript:void(0)" name="博尔塔拉蒙古自治州">博尔塔拉州</a>
                                <a href="javascript:void(0)" name="昌吉回族自治州">昌吉州</a>
                                <a href="javascript:void(0)">哈密地区</a>
                                <a href="javascript:void(0)">和田地区</a>
                                <a href="javascript:void(0)">喀什地区</a>
                                <a href="javascript:void(0)">克拉玛依</a>
                                <a href="javascript:void(0)" name="克孜勒苏柯尔克孜自治州">克孜勒苏州</a>
                                <a href="javascript:void(0)">石河子</a>
                                <a href="javascript:void(0)">塔城地区</a>
                                <a href="javascript:void(0)">图木舒克</a>
                                <a href="javascript:void(0)">吐鲁番地区</a>
                                <a href="javascript:void(0)">五家渠</a>
                                <a href="javascript:void(0)" name="伊犁哈萨克自治州">伊犁州</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">X</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>Y</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5797">云南:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">昆明</a>
                                <a href="javascript:void(0)">保山</a>
                                <a href="javascript:void(0)" name="楚雄彝族自治州">楚雄州</a>
                                <a href="javascript:void(0)" name="大理白族自治州">大理州</a>
                                <a href="javascript:void(0)" name="德宏傣族景颇族自治州">德宏州</a>
                                <a href="javascript:void(0)" name="迪庆藏族自治州">迪庆州</a>
                                <a href="javascript:void(0)" name="红河哈尼族彝族自治州">红河州</a>
                                <a href="javascript:void(0)">丽江</a>
                                <a href="javascript:void(0)">临沧</a>
                                <a href="javascript:void(0)" name="怒江傈僳族自治州">怒江州</a>
                                <a href="javascript:void(0)">普洱</a>
                                <a href="javascript:void(0)">曲靖</a>
                                <a href="javascript:void(0)">昭通</a>
                                <a href="javascript:void(0)" name="文山壮族苗族自治州">文山</a>
                                <a href="javascript:void(0)" name="西双版纳傣族自治州">西双版纳</a>
                                <a href="javascript:void(0)">玉溪</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">Y</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>Z</div>
                            </td>
                            <td class="sel-city-td-sf"><a href="javascript:void(0)" code="5798">浙江:</a></td>
                            <td class="sel-city-td-item"><a href="javascript:void(0)">杭州</a>
                                <a href="javascript:void(0)">湖州</a>
                                <a href="javascript:void(0)">嘉兴</a>
                                <a href="javascript:void(0)">金华</a>
                                <a href="javascript:void(0)">丽水</a>
                                <a href="javascript:void(0)">宁波</a>
                                <a href="javascript:void(0)">衢州</a>
                                <a href="javascript:void(0)">绍兴</a>
                                <a href="javascript:void(0)">台州</a>
                                <a href="javascript:void(0)">温州</a>
                                <a href="javascript:void(0)">舟山</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="sel-city-tr-splitline">其它</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="visibility:hidden;">other</div>
                            </td>
                            <td class="sel-city-td-other"><span>其它:</span></td>
                            <td><a href="javascript:void(0)">香港</a><a href="javascript:void(0)">澳门</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0" :if="!@toggle">
                        <tbody>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>A</div>
                            </td>
                            <td><a href="javascript:void(0)">阿拉尔</a>
                                <a href="javascript:void(0)">安顺</a>
                                <a href="javascript:void(0)">安庆</a>
                                <a href="javascript:void(0)">阿勒泰地区</a>
                                <a href="javascript:void(0)">阿克苏地区</a>
                                <a href="javascript:void(0)">鞍山</a>
                                <a href="javascript:void(0)">澳门</a>
                                <a href="javascript:void(0)">阿里地区</a>
                                <a href="javascript:void(0)">安康</a>
                                <a href="javascript:void(0)">安阳</a>
                                <a href="javascript:void(0)">阿拉善盟</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">A</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>B</div>
                            </td>
                            <td><a href="javascript:void(0)">巴中</a>
                                <a href="javascript:void(0)">白银</a>
                                <a href="javascript:void(0)">白城</a>
                                <a href="javascript:void(0)" name="博尔塔拉蒙古自治州">博尔塔拉州</a>
                                <a href="javascript:void(0)">本溪</a>
                                <a href="javascript:void(0)">北京</a>
                                <a href="javascript:void(0)">宝鸡</a>
                                <a href="javascript:void(0)" name="巴音郭楞蒙古自治州">巴音郭楞</a>
                                <a href="javascript:void(0)">百色</a>
                                <a href="javascript:void(0)">北海</a>
                                <a href="javascript:void(0)">巴彦淖尔</a>
                                <a href="javascript:void(0)">亳州</a>
                                <a href="javascript:void(0)">保山</a>
                                <a href="javascript:void(0)">蚌埠</a>
                                <a href="javascript:void(0)">白山</a>
                                <a href="javascript:void(0)">毕节市</a>
                                <a href="javascript:void(0)">滨州</a>
                                <a href="javascript:void(0)" name="白沙黎族自治县">白沙</a>
                                <a href="javascript:void(0)" name="保亭黎族苗族自治县">保亭</a>
                                <a href="javascript:void(0)">保定</a>
                                <a href="javascript:void(0)">包头</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">B</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>C</div>
                            </td>
                            <td><a href="javascript:void(0)">长治</a>
                                <a href="javascript:void(0)">郴州</a>
                                <a href="javascript:void(0)">常州</a>
                                <a href="javascript:void(0)">滁州</a>
                                <a href="javascript:void(0)">崇左</a>
                                <a href="javascript:void(0)">潮州</a>
                                <a href="javascript:void(0)">长春</a>
                                <a href="javascript:void(0)" name="楚雄彝族自治州">楚雄州</a>
                                <a href="javascript:void(0)">巢湖</a>
                                <a href="javascript:void(0)">常德</a>
                                <a href="javascript:void(0)">昌都市</a>
                                <a href="javascript:void(0)">重庆</a>
                                <a href="javascript:void(0)">承德</a>
                                <a href="javascript:void(0)">沧州</a>
                                <a href="javascript:void(0)">长沙</a>
                                <a href="javascript:void(0)">朝阳</a>
                                <a href="javascript:void(0)" name="昌吉回族自治州">昌吉州</a>
                                <a href="javascript:void(0)" name="昌江黎族自治县">昌江</a>
                                <a href="javascript:void(0)" name="阿坝藏族羌族自治州">阿坝州</a>
                                <a href="javascript:void(0)">澄迈</a>
                                <a href="javascript:void(0)">成都</a>
                                <a href="javascript:void(0)">池州</a>
                                <a href="javascript:void(0)">赤峰</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">C</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>D</div>
                            </td>
                            <td><a href="javascript:void(0)">大兴安岭地区</a>
                                <a href="javascript:void(0)">达州</a>
                                <a href="javascript:void(0)">儋州</a>
                                <a href="javascript:void(0)">东营</a>
                                <a href="javascript:void(0)">德州</a>
                                <a href="javascript:void(0)">大同</a>
                                <a href="javascript:void(0)" name="迪庆藏族自治州">迪庆州</a>
                                <a href="javascript:void(0)" name="德宏傣族景颇族自治州">德宏州</a>
                                <a href="javascript:void(0)">东方</a>
                                <a href="javascript:void(0)">丹东</a>
                                <a href="javascript:void(0)">大连</a>
                                <a href="javascript:void(0)">定安</a>
                                <a href="javascript:void(0)">德阳</a>
                                <a href="javascript:void(0)">大庆</a>
                                <a href="javascript:void(0)">东莞</a>
                                <a href="javascript:void(0)">定西</a>
                                <a href="javascript:void(0)" name="大理白族自治州">大理州</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">D</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>E</div>
                            </td>
                            <td><a href="javascript:void(0)">鄂尔多斯</a>
                                <a href="javascript:void(0)">鄂州</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">E</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>F</div>
                            </td>
                            <td><a href="javascript:void(0)">佛山</a>
                                <a href="javascript:void(0)">防城港</a>
                                <a href="javascript:void(0)">抚顺</a>
                                <a href="javascript:void(0)">阜新</a>
                                <a href="javascript:void(0)">福州</a>
                                <a href="javascript:void(0)">阜阳</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">F</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>G</div>
                            </td>
                            <td><a href="javascript:void(0)">高雄</a>
                                <a href="javascript:void(0)">桂林</a>
                                <a href="javascript:void(0)" name="果洛藏族自治州">果洛州</a>
                                <a href="javascript:void(0)">赣州</a>
                                <a href="javascript:void(0)">固原</a>
                                <a href="javascript:void(0)">广元</a>
                                <a href="javascript:void(0)">广安</a>
                                <a href="javascript:void(0)" name="甘孜藏族自治州">甘孜州</a>
                                <a href="javascript:void(0)">贵阳</a>
                                <a href="javascript:void(0)">广州</a>
                                <a href="javascript:void(0)" name="甘南藏族自治州">甘南州</a>
                                <a href="javascript:void(0)">贵港</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">G</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>H</div>
                            </td>
                            <td><a href="javascript:void(0)" name="黄南藏族自治州">黄南州</a>
                                <a href="javascript:void(0)">邯郸</a>
                                <a href="javascript:void(0)">衡水</a>
                                <a href="javascript:void(0)">海口</a>
                                <a href="javascript:void(0)">呼和浩特</a>
                                <a href="javascript:void(0)">葫芦岛</a>
                                <a href="javascript:void(0)">杭州</a>
                                <a href="javascript:void(0)" name="红河哈尼族彝族自治州">红河州</a>
                                <a href="javascript:void(0)">淮北</a>
                                <a href="javascript:void(0)">鹤壁</a>
                                <a href="javascript:void(0)">和田地区</a>
                                <a href="javascript:void(0)">河池</a>
                                <a href="javascript:void(0)">贺州</a>
                                <a href="javascript:void(0)">哈密地区</a>
                                <a href="javascript:void(0)" name="海西蒙古族藏族自治州">海西州</a>
                                <a href="javascript:void(0)" name="海南藏族自治州">海南州</a>
                                <a href="javascript:void(0)" name="海北藏族自治州">海北州</a>
                                <a href="javascript:void(0)">临高</a>
                                <a href="javascript:void(0)">河源</a>
                                <a href="javascript:void(0)">哈尔滨</a>
                                <a href="javascript:void(0)">惠州</a>
                                <a href="javascript:void(0)">呼伦贝尔</a>
                                <a href="javascript:void(0)">鹤岗</a>
                                <a href="javascript:void(0)">黑河</a>
                                <a href="javascript:void(0)">汉中</a>
                                <a href="javascript:void(0)">淮安</a>
                                <a href="javascript:void(0)">淮南</a>
                                <a href="javascript:void(0)">怀化</a>
                                <a href="javascript:void(0)">衡阳</a>
                                <a href="javascript:void(0)">菏泽</a>
                                <a href="javascript:void(0)">黄山</a>
                                <a href="javascript:void(0)">合肥</a>
                                <a href="javascript:void(0)">湖州</a>
                                <a href="javascript:void(0)">黄冈</a>
                                <a href="javascript:void(0)">黄石</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">H</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>J</div>
                            </td>
                            <td><a href="javascript:void(0)">景德镇</a>
                                <a href="javascript:void(0)">吉安</a>
                                <a href="javascript:void(0)">锦州</a>
                                <a href="javascript:void(0)">晋城</a>
                                <a href="javascript:void(0)">嘉义</a>
                                <a href="javascript:void(0)">嘉峪关</a>
                                <a href="javascript:void(0)">济宁</a>
                                <a href="javascript:void(0)">金昌</a>
                                <a href="javascript:void(0)">鸡西</a>
                                <a href="javascript:void(0)">佳木斯</a>
                                <a href="javascript:void(0)">焦作</a>
                                <a href="javascript:void(0)">江门</a>
                                <a href="javascript:void(0)">揭阳</a>
                                <a href="javascript:void(0)">酒泉</a>
                                <a href="javascript:void(0)">嘉兴</a>
                                <a href="javascript:void(0)">基隆</a>
                                <a href="javascript:void(0)">吉林市</a>
                                <a href="javascript:void(0)">金华</a>
                                <a href="javascript:void(0)">济南</a>
                                <a href="javascript:void(0)">晋中</a>
                                <a href="javascript:void(0)">九江</a>
                                <a href="javascript:void(0)">荆门</a>
                                <a href="javascript:void(0)">荆州</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">J</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>K</div>
                            </td>
                            <td><a href="javascript:void(0)">昆明</a>
                                <a href="javascript:void(0)" name="克孜勒苏柯尔克孜自治州">克孜勒苏州</a>
                                <a href="javascript:void(0)">克拉玛依</a>
                                <a href="javascript:void(0)">喀什地区</a>
                                <a href="javascript:void(0)">开封</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">K</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>L</div>
                            </td>
                            <td><a href="javascript:void(0)">六盘水</a>
                                <a href="javascript:void(0)">龙岩</a>
                                <a href="javascript:void(0)">临沧</a>
                                <a href="javascript:void(0)">丽江</a>
                                <a href="javascript:void(0)">丽水</a>
                                <a href="javascript:void(0)" name="临夏回族自治州">临夏州</a>
                                <a href="javascript:void(0)">陇南</a>
                                <a href="javascript:void(0)">娄底</a>
                                <a href="javascript:void(0)">林芝市</a>
                                <a href="javascript:void(0)">拉萨</a>
                                <a href="javascript:void(0)">泸州</a>
                                <a href="javascript:void(0)" name="凉山彝族自治州">凉山州</a>
                                <a href="javascript:void(0)">六安</a>
                                <a href="javascript:void(0)">乐山</a>
                                <a href="javascript:void(0)">吕梁</a>
                                <a href="javascript:void(0)">临汾</a>
                                <a href="javascript:void(0)">连云港</a>
                                <a href="javascript:void(0)">来宾</a>
                                <a href="javascript:void(0)">柳州</a>
                                <a href="javascript:void(0)">临沂</a>
                                <a href="javascript:void(0)">聊城</a>
                                <a href="javascript:void(0)">莱芜</a>
                                <a href="javascript:void(0)" name="乐东黎族自治县">乐东</a>
                                <a href="javascript:void(0)">廊坊</a>
                                <a href="javascript:void(0)">辽阳</a>
                                <a href="javascript:void(0)">兰州</a>
                                <a href="javascript:void(0)">洛阳</a>
                                <a href="javascript:void(0)">漯河</a>
                                <a href="javascript:void(0)">辽源</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">L</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>M</div>
                            </td>
                            <td><a href="javascript:void(0)">眉山</a>
                                <a href="javascript:void(0)">绵阳</a>
                                <a href="javascript:void(0)">茂名</a>
                                <a href="javascript:void(0)">马鞍山</a>
                                <a href="javascript:void(0)">梅州</a>
                                <a href="javascript:void(0)">牡丹江</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">M</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>N</div>
                            </td>
                            <td><a href="javascript:void(0)">南昌</a>
                                <a href="javascript:void(0)">南充</a>
                                <a href="javascript:void(0)" name="恩施土家族苗族自治州">恩施</a>
                                <a href="javascript:void(0)">南通</a>
                                <a href="javascript:void(0)">南平</a>
                                <a href="javascript:void(0)">南阳</a>
                                <a href="javascript:void(0)">宁波</a>
                                <a href="javascript:void(0)">宁德</a>
                                <a href="javascript:void(0)">内江</a>
                                <a href="javascript:void(0)">南宁</a>
                                <a href="javascript:void(0)">那曲地区</a>
                                <a href="javascript:void(0)" name="怒江傈僳族自治州">怒江州</a>
                                <a href="javascript:void(0)">南京</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">N</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>P</div>
                            </td>
                            <td><a href="javascript:void(0)">攀枝花</a>
                                <a href="javascript:void(0)">盘锦</a>
                                <a href="javascript:void(0)">萍乡</a>
                                <a href="javascript:void(0)">平顶山</a>
                                <a href="javascript:void(0)">平凉</a>
                                <a href="javascript:void(0)">莆田</a>
                                <a href="javascript:void(0)">濮阳</a>
                                <a href="javascript:void(0)">普洱</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">P</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>Q</div>
                            </td>
                            <td><a href="javascript:void(0)">七台河</a>
                                <a href="javascript:void(0)">庆阳</a>
                                <a href="javascript:void(0)">清远</a>
                                <a href="javascript:void(0)">衢州</a>
                                <a href="javascript:void(0)">泉州</a>
                                <a href="javascript:void(0)">潜江</a>
                                <a href="javascript:void(0)">秦皇岛</a>
                                <a href="javascript:void(0)">齐齐哈尔</a>
                                <a href="javascript:void(0)">曲靖</a>
                                <a href="javascript:void(0)">钦州</a>
                                <a href="javascript:void(0)">青岛</a>
                                <a href="javascript:void(0)" name="黔西南布依族苗族自治州">黔西南州</a>
                                <a href="javascript:void(0)" name="黔东南苗族侗族自治州">黔东南州</a>
                                <a href="javascript:void(0)" name="黔南布依族苗族自治州">黔南州</a>
                                <a href="javascript:void(0)">琼海</a>
                                <a href="javascript:void(0)" name="琼中黎族苗族自治县">琼中</a>
                                <a href="javascript:void(0)" name="陵水黎族自治县">陵水</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">Q</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>R</div>
                            </td>
                            <td><a href="javascript:void(0)">日照</a>
                                <a href="javascript:void(0)">日喀则市</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">R</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>S</div>
                            </td>
                            <td><a href="javascript:void(0)">石家庄</a>
                                <a href="javascript:void(0)">三门峡</a>
                                <a href="javascript:void(0)">随州</a>
                                <a href="javascript:void(0)">十堰</a>
                                <a href="javascript:void(0)">四平</a>
                                <a href="javascript:void(0)">宿迁</a>
                                <a href="javascript:void(0)">上饶</a>
                                <a href="javascript:void(0)">三明</a>
                                <a href="javascript:void(0)">神农架林区</a>
                                <a href="javascript:void(0)">上海</a>
                                <a href="javascript:void(0)">石河子</a>
                                <a href="javascript:void(0)">松原</a>
                                <a href="javascript:void(0)">苏州</a>
                                <a href="javascript:void(0)">朔州</a>
                                <a href="javascript:void(0)">绥化</a>
                                <a href="javascript:void(0)">商洛</a>
                                <a href="javascript:void(0)">双鸭山</a>
                                <a href="javascript:void(0)">沈阳</a>
                                <a href="javascript:void(0)">深圳</a>
                                <a href="javascript:void(0)">韶关</a>
                                <a href="javascript:void(0)">汕尾</a>
                                <a href="javascript:void(0)">汕头</a>
                                <a href="javascript:void(0)">山南地区</a>
                                <a href="javascript:void(0)">宿州</a>
                                <a href="javascript:void(0)">石嘴山</a>
                                <a href="javascript:void(0)">三亚</a>
                                <a href="javascript:void(0)">遂宁</a>
                                <a href="javascript:void(0)">绍兴</a>
                                <a href="javascript:void(0)">邵阳</a>
                                <a href="javascript:void(0)">商丘</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">S</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>T</div>
                            </td>
                            <td><a href="javascript:void(0)">唐山</a>
                                <a href="javascript:void(0)">铁岭</a>
                                <a href="javascript:void(0)">屯昌</a>
                                <a href="javascript:void(0)">台南</a>
                                <a href="javascript:void(0)">天水</a>
                                <a href="javascript:void(0)">台州</a>
                                <a href="javascript:void(0)">通化</a>
                                <a href="javascript:void(0)">铜川</a>
                                <a href="javascript:void(0)">通辽</a>
                                <a href="javascript:void(0)">太原</a>
                                <a href="javascript:void(0)">台北</a>
                                <a href="javascript:void(0)">塔城地区</a>
                                <a href="javascript:void(0)">图木舒克</a>
                                <a href="javascript:void(0)">吐鲁番地区</a>
                                <a href="javascript:void(0)">泰安</a>
                                <a href="javascript:void(0)">泰州</a>
                                <a href="javascript:void(0)">台中</a>
                                <a href="javascript:void(0)">天门</a>
                                <a href="javascript:void(0)">铜仁市</a>
                                <a href="javascript:void(0)">天津</a>
                                <a href="javascript:void(0)">铜陵</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">T</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>W</div>
                            </td>
                            <td><a href="javascript:void(0)">吴忠</a>
                                <a href="javascript:void(0)">威海</a>
                                <a href="javascript:void(0)">渭南</a>
                                <a href="javascript:void(0)">武汉</a>
                                <a href="javascript:void(0)">温州</a>
                                <a href="javascript:void(0)">梧州</a>
                                <a href="javascript:void(0)">潍坊</a>
                                <a href="javascript:void(0)">乌兰察布</a>
                                <a href="javascript:void(0)">乌海</a>
                                <a href="javascript:void(0)">五家渠</a>
                                <a href="javascript:void(0)">文昌</a>
                                <a href="javascript:void(0)">乌鲁木齐</a>
                                <a href="javascript:void(0)">抚州</a>
                                <a href="javascript:void(0)">无锡</a>
                                <a href="javascript:void(0)">武威</a>
                                <a href="javascript:void(0)">芜湖</a>
                                <a href="javascript:void(0)">五指山</a>
                                <a href="javascript:void(0)" name="文山壮族苗族自治州">文山</a>
                                <a href="javascript:void(0)">万宁</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">W</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>X</div>
                            </td>
                            <td><a href="javascript:void(0)">邢台</a>
                                <a href="javascript:void(0)">孝感</a>
                                <a href="javascript:void(0)">信阳</a>
                                <a href="javascript:void(0)">兴安盟</a>
                                <a href="javascript:void(0)">新竹</a>
                                <a href="javascript:void(0)" name="湘西土家族苗族自治州">湘西州</a>
                                <a href="javascript:void(0)">锡林郭勒盟</a>
                                <a href="javascript:void(0)">襄阳</a>
                                <a href="javascript:void(0)">咸宁</a>
                                <a href="javascript:void(0)">仙桃</a>
                                <a href="javascript:void(0)">厦门</a>
                                <a href="javascript:void(0)">徐州</a>
                                <a href="javascript:void(0)">咸阳</a>
                                <a href="javascript:void(0)">忻州</a>
                                <a href="javascript:void(0)">西安</a>
                                <a href="javascript:void(0)">海东市</a>
                                <a href="javascript:void(0)">西宁</a>
                                <a href="javascript:void(0)">新北</a>
                                <a href="javascript:void(0)">新乡</a>
                                <a href="javascript:void(0)">宣城</a>
                                <a href="javascript:void(0)">湘潭</a>
                                <a href="javascript:void(0)" name="西双版纳傣族自治州">西双版纳</a>
                                <a href="javascript:void(0)">新余</a>
                                <a href="javascript:void(0)">香港</a>
                                <a href="javascript:void(0)">许昌</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">X</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>Y</div>
                            </td>
                            <td><a href="javascript:void(0)">玉林</a>
                                <a href="javascript:void(0)">延安</a>
                                <a href="javascript:void(0)">榆林</a>
                                <a href="javascript:void(0)">宜春</a>
                                <a href="javascript:void(0)" name="伊犁哈萨克自治州">伊犁州</a>
                                <a href="javascript:void(0)" name="延边朝鲜族自治州">延边</a>
                                <a href="javascript:void(0)">云浮</a>
                                <a href="javascript:void(0)">阳江</a>
                                <a href="javascript:void(0)">鹰潭</a>
                                <a href="javascript:void(0)">永州</a>
                                <a href="javascript:void(0)">岳阳</a>
                                <a href="javascript:void(0)">营口</a>
                                <a href="javascript:void(0)">阳泉</a>
                                <a href="javascript:void(0)">运城</a>
                                <a href="javascript:void(0)">盐城</a>
                                <a href="javascript:void(0)" name="玉树藏族自治州">玉树州</a>
                                <a href="javascript:void(0)">银川</a>
                                <a href="javascript:void(0)">扬州</a>
                                <a href="javascript:void(0)">宜昌</a>
                                <a href="javascript:void(0)">伊春</a>
                                <a href="javascript:void(0)">玉溪</a>
                                <a href="javascript:void(0)">益阳</a>
                                <a href="javascript:void(0)">雅安</a>
                                <a href="javascript:void(0)">宜宾</a>
                                <a href="javascript:void(0)">烟台</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="sel-city-tr-splitline">Y</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="sel-city-td-letter">
                                <div>Z</div>
                            </td>
                            <td><a href="javascript:void(0)">昭通</a>
                                <a href="javascript:void(0)">张掖</a>
                                <a href="javascript:void(0)">自贡</a>
                                <a href="javascript:void(0)">资阳</a>
                                <a href="javascript:void(0)">湛江</a>
                                <a href="javascript:void(0)">肇庆</a>
                                <a href="javascript:void(0)">舟山</a>
                                <a href="javascript:void(0)">中山</a>
                                <a href="javascript:void(0)">珠海</a>
                                <a href="javascript:void(0)">淄博</a>
                                <a href="javascript:void(0)">漳州</a>
                                <a href="javascript:void(0)">遵义</a>
                                <a href="javascript:void(0)">中卫</a>
                                <a href="javascript:void(0)">张家口</a>
                                <a href="javascript:void(0)">郑州</a>
                                <a href="javascript:void(0)">周口</a>
                                <a href="javascript:void(0)">驻马店</a>
                                <a href="javascript:void(0)">镇江</a>
                                <a href="javascript:void(0)">株洲</a>
                                <a href="javascript:void(0)">张家界</a>
                                <a href="javascript:void(0)">枣庄</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button id="popup_close" class="fa fa-close" title="关闭" :click="@hidecontent"></button>
    </div>

</template>