<template>
    <div :controller="changePwd">
        <ms-dialog :widget="{$innerVm:'change_Pwd', isMove: true, show:@show, width: 450, height: 350, onCancel:@editCancel, okText:'提交', cancelText:'取消',move_return:@move_return_pwd}">
            <div slot="body" ms-skip>
                <div id="changePwd">
                    <div class="ipt-class">
                        <xmp :widget="{is:'ms-label-tips', label:'原密码:'}">
                            <ms-input-tips :widget="{value:@record.oldPwd, tips_prompt:true, tips_error: @oldPwd_tips_error, tips_html:@oldPwd_tips_text, type: 'password', col: 'oldPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入旧密码'}}"></ms-input-tips>
                        </xmp>
                    </div>
                    <div class="ipt-class">
                        <xmp :widget="{is:'ms-label-tips', label:'新密码:'}">
                            <ms-input-tips :widget="{value:@record.newPwd, tips_prompt:true, tips_error: @newPwd_tips_error, tips_html:@newPwd_tips_text, type: 'password', col: 'newPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入新密码'}}"></ms-input-tips>                    
                        </xmp>
                    </div>
                    <div class="ipt-class">
                        <xmp :widget="{is:'ms-label-tips', label:'确认新密码:'}">
                            <ms-input-tips :widget="{value:@record.repPwd, tips_prompt:true, tips_error: @repPwd_tips_error, tips_html:@repPwd_tips_text, type: 'password', col: 'repPwd', onChange:@iputhandle, $rules: {required: true, message: '请重复新密码'}}"></ms-input-tips>
                        </xmp>    
                    </div>   
                    <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>               
                </div>
            </div>
            <!-- 因为ocx会遮住弹框，要加上iframe才可以显示出来，所以重新定义底部 -->
            <div slot="footer" class="modal-footer" ms-skip>
                <a class="btn btn-default" :click="@editOk">提交</a>
                <a class="btn btn-default" :click="@editCancel">取消</a>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
        </ms-dialog>
    </div>
    <div :controller="logout_vm" class="logout_vm">
        <xmp :widget="{is: 'ms-dialog', $innerVm: 'logout', show: @show_logout, isMove: true, width: 450, height: 195, onCancel: @cancelLogout, okText:'退出',move_return:@move_return_logout}">
            <div slot="body" ms-skip>
                <h5 :css="{'font-size': '16px', 'color': '#536b82'}" ms-text="@logoutMsg"></h5>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
            <!-- 因为ocx会遮住弹框，要加上iframe才可以显示出来，所以重新定义底部 -->
            <div slot="footer" class="modal-footer" ms-skip>
                <a class="btn btn-default" :click="@handleLogout">退出</a>
                <a class="btn btn-default" :click="@cancelLogout">取消</a>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
        </xmp>
    </div>
</template>