#changePwd input {
    width: 250px;
    display: inline-block;
    padding-right: 25px;
}

#changePwd .has-feedback label~.form-control-feedback {
    top: 0px;
}

#changePwd .ipt-class {
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}

#changePwd .ane-input-tips {
    width: 250px;
    text-align: left;
}

#changePwd .ane-label-tips .ane-label-tips-label {
    display: inline-block;
    color: #536b82;
    font-weight: bold;
    width: 80px;
    text-align: right;
}

#changePwd .ane-label-tips {
    width: 418px;
    text-align: center;
}

#changePwd .fa-exclamation-circle:before {
    content: '';
}

#changePwd .pwd-tips {
    position: absolute;
    top: 40px;
    left: 133px;
}

#changePwd .warn {
    color: #d2403d;
    font-size: 12px;
}

.edit-pwd,
.logout_vm {
    width: 450px;
}

.edit-pwd .modal-header,
.logout_vm .modal-header,
.help-dialog .modal-header {
    background-color: #0078D7;
    color: #fff;
    cursor: move;
}

.edit-pwd .close,
.logout_vm .close,
.help-dialog .close {
    color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.edit-pwd .modal-body .form-group label {
    width: 80px;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
    display: inline-block;
    text-align: right;
}


/* .edit-pwd .modal-body .form-control {
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
} */

.edit-pwd .modal-body .form-inline {
    text-align: center;
}

.edit-pwd .modal-body .form-inline .help-block {
    margin-left: 90px;
    text-align: left;
}

.edit-pwd .form-inline .has-feedback .form-control-feedback {
    top: 10px;
}

.edit-pwd .modal-footer,
.logout_vm .modal-footer,
.help-dialog .modal-footer {
    border-top: none;
    padding-right: 53px;
    margin-top: 10px;
}

.edit-pwd .modal-footer .btn,
.logout_vm .modal-footer .btn,
.help-dialog .modal-footer .btn {
    padding: 0;
}

.edit-pwd .modal-footer .btn-primary,
.logout_vm .modal-footer .btn-primary,
.edit-pwd .modal-footer .btn-default,
.logout_vm .modal-footer .btn-default,
.help-dialog .modal-footer .btn-default {
    width: 120px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    background-color: #0078D7;
    margin-left: 20px;
    border: 1px solid #0078D7;
    border-radius: 2px;
    outline: none;
}

.edit-pwd .modal-footer .btn-primary:hover,
.logout_vm .modal-footer .btn-primary:hover,
.edit-pwd .modal-footer .btn-default:hover,
.logout_vm .modal-footer .btn-default:hover,
.help-dialog .modal-footer .btn-default:hover {
    color: #fff;
    background-color: #0057a1;
    border: 1px solid #0057a1;
}