<template>
    <div class="com-pages" :if="@total!=0">
        <span class="cmp-pageSize">每页{{pageSize}}条</span>
        <span class="cmp-total" :if="!@overLimit">，共{{total}}条记录</span>
        <span class="cmp-limit" :if="@overLimit">，大于{{total}}条记录</span>
        <span class="btn hp" :class="@current == 1 && 'disabeld'" :click="@homePage">首页</span>
        <span class="btn prev" :class="@current == 1 && 'disabeld'" :click="@prevPage">上一页</span>
        <a class="cmp-cp" href="javascript:void(0)">{{current}}/{{pageTotal}}</a>
        <span class="btn next" :class="@current == @pageTotal && 'disabeld'" :click="@nextPage">下一页</span>
        <span class="btn ep" :class="@current == @pageTotal && 'disabeld'" :click="@endPage">尾页</span>
    </div>
</template>