#gxx_ocx {
    width: 100%;
    height: 100%;
    position: relative;
}

.ocx_player {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

#gxx_ocx .update_web {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 8px;
}

.gxx_player_controll {
    width: 100%;
    height: 30px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
}

.gxx_player_controll a {
    cursor: pointer;
}

.gxx_player_controll .play_speed {
    float: left;
    height: 30px;
    line-height: 30px;
    color: #358dcc;
    padding-left: 5px;
    font-size: 12px;
}

#ocx_playControll {
    width: 145px;
    height: 100%;
    margin: 0 auto;
    padding-top: 3px;
}

#btn_pause {
    display: none;
}

.gxx_player_controll .volume_control {
    width: 145px;
    height: 30px;
    float: left;
    margin-left: 5px;
}

.gxx_player_controll .volume_control .volume_progress {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    float: left;
    position: relative;
}

.gxx_player_controll .volume_control .v_white_line {
    width: 95px;
    height: 2px;
    margin: 15px 0;
    background-color: #dadada;
    position: absolute;
    z-index: 1;
}

.gxx_player_controll .volume_control .v_blue_line {
    width: 42px;
    height: 2px;
    margin: 15px 0;
    background-color: #4285f4;
    position: absolute;
    z-index: 2;
}

.gxx_player_controll .volume_control .circle_span {
    cursor: pointer;
    color: #4285f4;
    position: absolute;
    top: 9px;
    left: -6px;
    z-index: 2;
}

.gxx_player_controll .volume_control .voice,
.gxx_player_controll .volume_control .mute {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}

.gxx_player_controll .volume_control .voice {
    display: block;
    background: url(/static/image/zfsypsjglpt/voice_blue.png?__sprite) no-repeat;
}

.gxx_player_controll .volume_control .mute {
    display: none;
    background: url(/static/image/zfsypsjglpt/mute_blue.png?__sprite) no-repeat;
}

.gxx_player_controll .volume_control .circle_span {
    left: 42px;
}

.gxx_player_controll .btn_fullScreen {
    width: 31px;
    height: 31px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.player_dialog_class .modal-body {
    color: #536b82;
}

.player_dialog_class .modal-footer {
    padding-top: 0 !important;
    border-top: 0 !important;
}

.player_dialog_class .bootbox-body span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.player_dialog_class .modal-footer .btn-primary {
    float: left;
}

.player_dialog_class .modal-footer .btn-default {
    float: right;
    margin-right: 5px !important;
}

.player_dialog_class.dialog_small .modal-footer .btn-primary {
    display: none;
}

.player_dialog_class.dialog_small .modal-footer .btn-default {
    margin-right: 75px !important;
}

.player_dialog_class.dialog_big .bootbox-body span {
    text-align: left;
    font-size: 14px;
    margin: 4px 0;
}

.player_dialog_class.dialog_big .bootbox-body .tip-text {
    font-size: 12px;
}

.player_dialog_class.dialog_big .bootbox-body .tip-text .fa-info-circle {
    color: #E09E1F;
    margin-right: 5px;
}

.player_dialog_class.dialog_big .modal-footer .btn-primary {
    /* display: none; */
    margin-left: 50px !important;
}

.player_dialog_class.dialog_big .modal-footer .btn-default {
    margin-right: 50px !important;
}