.common-glmt-player,
.common-glmt-mt {
    height: 100%;
    position: relative;
}

.common-glmt {
    position: relative;
    margin-top: 8px;
}
.jqgl-ck-mid-img{
    border: 1px solid #e4e4e4;
}
.glmt-content {
    overflow: auto;
    position: absolute;
    top: 48px;
    bottom: 42px;
    width: 100%;
    border: 1px solid #e0e7ec;
    padding: 0px 5px;
    overflow-x: hidden;
}

.glmt-nav {
    line-height: 30px;
    color: #536b82;
    position: absolute;
    bottom: 0px;
    background: #e9edf0;
    padding: 2px 0px;
    width: 100%;
    padding-left: 15px;
}

.common-glmt .col-md-7,
.common-glmt .col-md-5 {
    padding: 0px;
}

.common-glmt .col-md-7,
.common-glmt .col-md-5 {
    padding: 0px;
}

.common-glmt .col-md-7 {
    width: 57.333333%;
}

.common-glmt-mt {
    position: absolute;
    right: 0px;
}

.common-glmt .col-md-7,
.common-glmt .col-md-5 {
    padding: 0px;
}

.common-glmt .col-md-7,
.common-glmt .col-md-5 {
    padding: 0px;
}

.common-glmt .col-md-5 {
    width: 42.2001%;
}

.glmt-content .glmt-img {
    margin-left: 10px;
    visibility: hidden;
}
.common-glmt .jj-inline-div {
    display: inline-block;
    width: 33%;
    /* min-width: 156px; */
    overflow: hidden;
}
.common-glmt .firtmtinfo{
    margin-bottom: 10px;
}
.outDateMediap{
    background: #2b2b2b;
    text-align: center;
    line-height: 500px;
    color: white;
    font-size: 16px;
}
.cmspan{
    margin: 0px 0px 3px 0px !important;
}
.cmspan.glmt-jj-inline.jj-inline-div {
    margin: 0px 10px 3px 0px !important;
    /* padding-right: 10px; */
}
.cmspan:first-child{
    /* margin-left: 55px !important; */
}
.cmspan_prop{
    display: inline-block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 64%;
    vertical-align: middle;
}
.cmspan_prop span{
    display: inline-block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
@media (max-width: 1486px) { 
   
}
.common-glmt .cmspan>span:first-child{
    margin-right: 0px !important;
}