<template>
	<div class="common-sszh-side-bar">
		<div class="side-bar-main">
			<xmp is="ms-form" :widget="{$form:@$Form,type:'search',inline:true}">
				<ms-form-item :widget="{label: '设备类型：'}" :class="['device-type-select']">
					<ms-select :widget="{col:'devType', value:[@devType], onChange:@handledevTypeChange}">
						<ms-select-option :widget="{value:'all'}">不限</ms-select-option>
						<ms-select-option :widget="{value:'0'}">执法记录仪</ms-select-option>
						<ms-select-option :widget="{value:'1'}">快速布控设备</ms-select-option>
						<ms-select-option :widget="{value:'2'}">车载移动执法设备</ms-select-option>
						<ms-select-option :widget="{value:'3'}">警用无人机</ms-select-option>
					</ms-select>
				</ms-form-item>
			</xmp>
			<div class="input-group" :class="[@inputStatus === 0 && 'input-tip',@inputStatus === 1 && 'input-error']">
				<div class="has-icon-input-wrap">
					<input type="text" class="form-control" ms-duplex="@keyword" :focus="@handleSearchInputFocus" :blur="@handleSearchInputBlur"
					    :keyup="@handleQuickSearch">
					<i class="fa fa-close" :visible="false" :mousedown="@handleKeyClear|prevent"></i>
				</div>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" :click="@handleSearch"></button>
				</span>
			</div>
			<div class="check-container">
				<label :attr="{'for':'just-online-checkbox'}" :class="[@isJustOnline ? 'check_selected' : 'check_unselected']"></label>
				<input type="checkbox" :attr="{'id':'just-online-checkbox'}" :duplex-checked="@isJustOnline" data-duplex-changed="@handleCheckJustOnline">
				<label :attr="{'for':'just-online-checkbox'}">只看在线</label>
			</div>
			<div class="ztree-container">
				<ul id="poll-tree" class="ztree"></ul>
			</div>
		</div>
	</div>
</template>