.com-modal-modal {
    /* position: relative; */
    position: absolute;
    /* width: auto; */
    /* margin: 0 auto; */
    /* top: 100px; */
    /* left:0; */
    /* padding-bottom: 24px; */
}

.com-modal-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 6px;
    background-clip: padding-box;
}

.com-modal-modal-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 18px;
    top: 16px;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    color: #fff;
    outline: 0;
    z-index: 99999999;
    position: absolute;
}

.com-modal-modal-close-x {
    display: block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 1;
}

.com-modal-modal-close:focus,
.com-modal-modal-close:hover {
    color: #444;
    text-decoration: none;
}

.com-modal-modal-header {
    padding: 14px 16px;
    border-radius: 6px 6px 0 0;
    background: #0078D7;
    color: #666;
    border-bottom: 1px solid #e9e9e9;
}

.com-modal-modal-header.drap {
    cursor: move;
    z-index: 99999;
    position: relative;
}

.com-modal-modal-title {
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}

.com-modal-modal-body {
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
}

.com-modal-modal-footer {
    height: 50px;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px 10px 10px;
    text-align: right;
    border-radius: 0 0 6px 6px;
    z-index: 9999;
    position: relative;
}

.com-modal-modal-footer button+button {
    margin-left: 8px;
    margin-bottom: 0;
}

.com-modal-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55, 55, 55, .6);
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=50);
}

.com-modal-modal-wrap {
    position: fixed;
    overflow: auto;
    top: -15px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.com-modal-btn:not([disabled]):active {
    outline: 0;
    -webkit-transition: none;
    transition: none;
}

.com-modal-btn:not([disabled]):hover {
    text-decoration: none;
}

.com-modal-btn-ghost.active,
.com-modal-btn-ghost:active {
    color: #2baee9;
    background-color: transparent;
    border-color: #2baee9;
}

.com-modal-btn-ghost:focus,
.com-modal-btn-ghost:hover {
    color: #57c5f7;
    background-color: transparent;
    border-color: #57c5f7;
}

[type=button] {
    -webkit-appearance: button;
}

.com-modal-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    /* line-height: 1.5; */
    padding: 0;
    font-size: 12px;
    /* border-radius: 6px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    position: relative;
    width: 100px;
    height: 30px;
    background: #0078d7;
    color: #fff;
    font-size: 14px;
    border-color: #0078d7;
}

.com-modal-btn:hover {
    color: #fff;
    background: #0057a1;
    border-color: #0057a1;
}

.com-modal-btn.disabled {
    border-color: #d4d7d9;
    background: #d4d7d9;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: not-allowed;
}

.com-modal-btn-lg {
    font-size: 14px;
    width: 100px;
    height: 30px;
}

/* .com-modal-btn-primary {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
} */

.com-modal-modal-mask-hidden {
    display: none;
}

.fade-enter {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.fade-enter.fade-enter-active {
    -webkit-animation-name: com-modalFadeIn;
    animation-name: com-modalFadeIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.fade-enter {
    opacity: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes com-modalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes com-modalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.fade-leave.fade-leave-active {
    -webkit-animation-name: com-modalFadeOut;
    animation-name: com-modalFadeOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.fade-leave {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes com-modalFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes com-modalFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.zoom-enter,
.zoom-appear {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.zoom-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.zoom-enter.zoom-enter-active,
.zoom-appear.zoom-appear-active {
    -webkit-animation-name: com-modalZoomIn;
    animation-name: com-modalZoomIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.zoom-leave.zoom-leave-active {
    -webkit-animation-name: com-modalZoomOut;
    animation-name: com-modalZoomOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.zoom-enter,
.zoom-appear {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.zoom-leave {
    -webkit-animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

@-webkit-keyframes com-modalZoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes com-modalZoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes com-modalZoomOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
}

@keyframes com-modalZoomOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
}