<template>
    <div :controller="login_vm" class="ms-controller main-line-login">
        <ms-browser-upgrade-tips :widget="{isLogin: true}"></ms-browser-upgrade-tips>
        <div class="wrap">
            <div class="head">
                <div class="longin">
                    <div class="title">
                        <img class="iconLogo" src="/static/image/main-login/icon-logo.png" />
                        <h1 id="h1Caption">{{@titleName}}</h1>
                    </div>
                    <img class="leftPic" src="/static/image/main-login/L-pic.png" />
                    <div class="loginForm">
                        <form method="post" action="j_security_check" autocomplete="off">
                            <div class="filter"></div>

                            <div class="formTitle">
                                <img src="/static/image/main-login/login.png" />
                                <h3 id="h3UserLogin">用户登录</h3>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="icon glyphicon glyphicon-user"></span>
                                    </span>
                                    <input type="text" ms-duplex="@username" ms-keydown="@login | enter" placeholder="请输入用户名" tabindex="1" class="form-control">
                                </div>

                                <div id="inputGroundTip" class="input-group">
                                    <span id="span_placeholder" class="input-group-addon">
                                        <span class="icon glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input type="password" ms-duplex="@password" ms-keydown="@login | enter" placeholder="请输入密码" tabindex="2" class="form-control">
                                </div>

                                <div class="btn_sub">
                                    <input id="btn_login" :click="@login" ms-keydown="@login | enter" type="button" class="btn btn-success btn-lg col-sm-12"
                                        value="登 录" />
                                </div>

                                <div class="btn_sub" :if="@singleSignOn">
                                    <input id="btn_pki_login" :click="@pki_login" type="button" class="btn btn-success btn-lg col-sm-12" value="PKI 登 录" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p id="pHost" style="line-height: 40px;">
                    <span>{{@copyRight}}
                        <br>{{@version}}
                        <br>{{@telephone}}</span>
                </p>
            </div>
        </div>
    </div>
</template>