.main-line-login {
    height: 100%;
    width: 100%;
    .wrap{
        width: 100%;height: 100%;
        min-height: 750px;min-width: 1100px;
        background-color: #076ecb;	
    }
    .head{
        position: relative;
        width:100%;height: 85%;
        background: url(/static/image/main-login/bg.jpg) no-repeat center bottom;
        min-height: 640px;
    }
    .footer{
        width: 100%;height: 15%;
        background-color: white;
        min-height: 110px;
    }
    .footer > p{
        vertical-align: middle;
        text-align: center;
        margin-bottom: 0;
        color: #076ecb;
        font-size: 16px;
    }
    
    .longin{
        position: absolute;
        width:1100px; height: 550px;
        left: 0;right: 0;bottom: 10%;
        margin: auto;
    }
    .loginForm{
        position: relative;
        display: inline-block;
    }
    .leftPic{
        vertical-align: bottom;
    }
    .title{
        height: 92px;
    }
    .title > h1{	
        display: inline-block;
        line-height: 92px;
        vertical-align: middle;
        margin: 5px;
        font-size: 50px;
        font-weight: 900;
        color:white;
        margin: 0 0 0 5px;
    }
    form{
        position: absolute;
        bottom: 100px;
        border: 2px solid white;
        padding: 5px;
        width: 431px;
        min-height: 291px;
    }
    .filter{
        position: absolute;
        left: 5px;right: 5px;top: 5px;bottom: 5px;
        background-color: white;
        filter: alpha(opacity=20);
        opacity: .2;
    }
    .formTitle{
        margin: 30px auto 17px 20px;
    }
    .formTitle > h3{
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        line-height: 31px;
        vertical-align: middle;
        color: white;
        font-weight: 700;
    }
    
    .form-group{
        margin-left: 30px;margin-right: 30px;	
    }
    .input-group{
        margin-bottom: 10px;
    }
    .input-group > input{
        height: 42px;
        /*line-height: 42px;*/
        padding-top:10px;
        vertical-align: middle;
        color: #536b82;
    }
    .input-group-addon{
        background: none;
    }
    .icon{
        color:white;
    }
    .btn_sub > input{
        width: 100%;
    }
    .warningNotice{
        padding: 5px;
        color: red;
    }
    #btn_pki_login {
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: #F0B33C;
        border-color: #F0B33C;
    }
    #btn_pki_login:hover {
        background-color: #ccac5c;
        border-color: #ccac5c;
    }
    
    .first-span {
        border-right: 0;
        border-radius: 4px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .input-group>input::-webkit-input-placeholder {
        color: #536B82;
    }
      
    .input-group>input:-moz-placeholder {
        color: #536B82;
    }
      
    .input-group>input::-moz-placeholder {
        color: #536B82;
    }
      
    .input-group>input:-ms-input-placeholder {
        color: #536B82;
    }
    
}