/*dialog begins*/

.modal-content {
    /*width: 500px;*/
}

.modal-header {
    background: #006CB7;
    height: 45px;
    line-height: 45px;
}

.modal-title {
    color: #fff;
    line-height: 1;
}

.formInput {
    float: left;
    width: 65%;
    padding-right: 12px;
}

.dialog_item {
    /*height: 40px;
    margin-bottom: 15px;*/
}

.dialog_item span {
    float: left;
    display: inline-block;
    text-align: right;
    width: 26%;
    padding-top: 6px;
    padding-right: 10px;
}

.dialog_item .ane-upload-list li span {
    width: 60%;
    text-align: left;
    padding-top: 0;
    padding-right: 10px;
}

.dialog_item .ane-upload-list {
    margin-left: 122px;
}

.dialog_item .ane-upload-list li {
    width: 300px;
}

.input-file {
    border: none;
    box-shadow: none;
}


/*dialog ends*/

.xtpzgl_xtcd {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: relative;
}

.xtpzgl_xtcd .sidebar_tree {
    position: absolute;
    width: 250px;
    top: -5px;
    bottom: 0px;
    box-sizing: border-box;
    background-color: #feffff;
    z-index: 2;
    overflow: auto;
    border-right: 1px solid #d3e3f1;
}

.xtpzgl_xtcd .sidebar_tree .ztree li span.button.ico_docu,
.xtpzgl_xtcd .sidebar_tree .ztree li span.button.ico_open,
.xtpzgl_xtcd .sidebar_tree .ztree li span.button.ico_close {
    display: none;
}

.xtpzgl_xtcd .sidebar_tree .ztree {
    padding: 0;
}

.xtpzgl_xtcd .sidebar_tree .ztree span {
    color: #01589F;
    font-size: 16px;
}

.xtpzgl_xtcd .sidebar_tree .ztree li span.button.center_close,
.xtpzgl_xtcd .sidebar_tree .ztree li span.button.center_open,
.xtpzgl_xtcd .sidebar_tree .ztree li span.button.center_docu,
.xtpzgl_xtcd .sidebar_tree .ztree li span.button.bottom_docu,
.xtpzgl_xtcd .sidebar_tree .ztree li span.button.roots_docu {
    display: none;
}

.xtpzgl_xtcd .sidebar_tree .ztree li ul {
    padding: 0;
}

.xtpzgl_xtcd .sidebar_tree .ztree li a:hover {
    text-decoration: none;
}

.xtpzgl_xtcd .sidebar_tree .ztree li a {
    padding-left: 40px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    width: 100%;
}

.xtpzgl_xtcd .sidebar_tree .ztree a.level1 {
    padding-left: 60px;
}

.xtpzgl_xtcd .sidebar_tree .ztree a.level2 {
    padding-left: 80px;
}

.xtpzgl_xtcd .sidebar_tree .ztree li ul.line {
    background: none;
}

.xtpzgl_xtcd .sidebar_tree .ztree li a.curSelectedNode {
    background-color: #AAC6DD;
    color: #FFFFFF;
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.xtpzgl_xtcd .sidebar_tree .ztree li a.curSelectedNode span {
    color: #FFFFFF;
}


/* .xtpzgl_sjzd .drag_space,
.xtpzgl_xtcd .drag_space {
    position: absolute;
    width: 0;
    height: 732px;
    left: 250px;
    border: 3px solid #fff;
    z-index: 2;
} */

.xtpzgl_xtcd .search_box {
    position: absolute;
    padding-left: 256px;
    padding-right: 10px;
    width: 100%;
    z-index: 1;
}

.xtpzgl_xtcd .btn_box {
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #d4d4d4;
}

.xtpzgl_xtcd .import_btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #1C9BFF;
    color: #FFFFFF;
    margin: 5px 0 0 5px;
    cursor: pointer;
}

.xtpzgl_xtcd .search_box .btn_box {
    background: #0078D7;
    border: 1px solid #E4E4E6;
    height: 42px;
    margin-bottom: 5px;
}

.xtpzgl_xtcd .search_box .btn {
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

.xtpzgl_xtcd .search_box .btn:hover {
    background-color: #e6e6e6;
}

.xtpzgl_xtcd .btn {
    height: 58px;
    border-color: #fff;
}

.xtpzgl_xtcd em {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 5px;
}

.xtpzgl_xtcd .import_menu {
    background: url(/static/image/xtpzgl-xtcd/add.png?__sprite) no-repeat 0 0;
}

.xtpzgl_xtcd_table {
    position: absolute;
    width: 100%;
    height: 732px;
    padding-left: 256px;
    padding-right: 10px;
    padding-top: 47px;
}

.xtpzgl_xtcd_table thead tr th {
    vertical-align: middle;
}

.xtpzgl_xtcd_table .table>thead>tr {
    border-top: 1px solid #A6B4BD;
}

.xtpzgl_xtcd_table .table>thead>tr>th {
    font-weight: normal;
    color: #78879C;
    border: 1px solid #A6B4BD;
    background-color: #E0E7ED;
}

.xtpzgl_xtcd_table thead tr th,
.xtpzgl_xtcd_table tbody tr td {
    text-align: center;
    border-left: 1px solid #DFE6EC;
}

.xtpzgl_xtcd_table .table {
    border: 1px solid #DFE6EC;
    margin-bottom: 0;
}

.xtpzgl_xtcd_table .table>tbody>tr>td {
    border-top: 1px solid #DFE6EC;
    color: #536980;
}

.xtpzgl_xtcd_table thead tr:hover,
.xtpzgl_xtcd_table tbody tr:hover {
    color: #00438A;
}

.xtpzgl_xtcd_table tbody tr:hover {
    cursor: pointer;
    /*    background-color: #e6e6e6;*/
}

.xtpzgl_xtcd_table .selected {
    background-color: #0081C2;
    color: #ffffff;
}

.xtpzgl_xtcd_table .selected:hover {
    color: #ffffff !important;
    background-color: #0081C2 !important;
}

.xtpzgl_xtcd_table .page_box {
    width: 100%;
    height: 38px;
}

.xtpzgl_xtcd .sidebar_tree .ztree li .change_height {
    height: 48px;
    line-height: 48px;
}