<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>执法视音频实时应用系统</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/node_modules/ane/dist/ane.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="http://10.10.9.95:8088/jsapi/3.14/dijit/themes/claro/claro.css">-->
    <!--<link rel="stylesheet" href="http://10.10.9.95:8088/jsapi/3.14/esri/css/esri.css">-->
    <script src="/static/mod.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/polyfill/html5shiv.js"></script>
    <script src="/static/polyfill/respond.src.js"></script>
    <![endif]-->
</head>

<body :controller="sszhxt_vm" class="ms-controller" id="sszhxt">
    <ms-browser-upgrade-tips></ms-browser-upgrade-tips>
    <div class="ant-layout-topaside">
        <div class="ant-layout-header">
            <div class="ant-layout-wrapper">
                <div class="ant-layout-logo">
                    {{@titleName}}
                </div>
                <ul class="ant-menu ant-menu-horizontal ant-menu-root">
                    <li class="ant-menu-item" ms-for="($index,item) in menu" ms-click="@menuClick($index,item)" :mouseenter="@toggleChildrenItem($event) | prevent" :mouseleave="@toggleChildrenItem($event) | prevent"
                        :class="{'ant-menu-item-selected':(item.url === @locationKey || (!item.url && (@locationKey === '/sszhxt-gjgl-gjcx'||@locationKey === '/sszhxt-gjgl-gjdy'|| @locationKey === '/sszhxt-gjgl-gjsz'))),'ant-menu-item-unselected':!item.url === @locationKey}">
                        <a ms-attr="[!item.children && {href:'#!'+ item.url}]" >{{item.title}}</a>
                        <ul class="ant-menu-item-children" style="z-index: 22;">
                            <li  style="z-index:99992;"class="ant-menu-item" :for="($i,value) in item['children']" ms-click="@menuClick($i,value) | stop" :class="{'ant-menu-item-selected':value.url === @locationKey}">
                                <a ms-attr="{href:'#!'+ value.url}">{{value.title}}</a>
                            </li>
                            <iframe :if="@item.children" src="about:blank" marginheight="0" marginwidth="0" style="position:absolute; visibility:inherit; top:0;left:0;width:100%; height:100%;z-index:1;opacity:1;filter:alpha(opacity=0);"
                                frameborder="0"></iframe>
                        </ul>
                    </li>
                </ul>
                <div class="setting" :controller="setting">
                    <div class="setting_bar" ms-mouseenter="@showSet" ms-mouseleave="@hideSet" :visible="@toggle">
                        <ul>
                            <li :click="@bindModify">
                                <i class="fa fa-key" aria-hidden="true" style="padding-right: 8px;"></i>修改密码</li>
                            <li :click="@bindLogout">
                                <i class="fa fa-cog" aria-hidden="true" style="padding-right: 8px;"></i>退出登录</li>
                            <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
                        </ul>
                    </div>
                    <!-- <div class="setting-info">
                        <span class="hdrop"></span>
                        <span class="rheader">管理员</span>
                    </div>
                    <a class="exchange" title="系统切换"></a> -->
                    <span :click="toMain_index" class="header-home"></span>
                    <!-- <span :click="help_click" class="header-help"></span> -->
                    <span :click="setting_click" class="header-setting"></span>
                </div>
                <h5 class="currentUser">
                    <span>
                        <span class="info_title">用户：</span>
                        <span class="textNoWrap" ms-attr="{title: @userName}">{{@userName}}</span>
                        <span class="info_title">| 单位：</span>
                        <span class="textNoWrap" ms-attr="{title: @orgName}">{{@orgName}}</span>
                        <span class="role">
                            <span class="info_title">| 角色：</span>
                            <span class="textNoWrap" ms-attr="{title: @roleNames[0]}">{{@roleNames[0]}}</span>
                            <i ms-if="@roleShow" class="fa fa-angle-down" aria-hidden="true"></i>
                            <i ms-if="@roleShow" class="fa fa-angle-up" aria-hidden="true"></i>
                            <div ms-if="@roleShow" class="userWrap">
                                <div class="triangle"></div>
                                <ul>
                                    <li ms-for="item in @roleNames" ms-attr="{title: @item}">{{item}}</li>
                                </ul>
                            </div>
                        </span>
                    </span>
                </h5>
            </div>
        </div>
        <div class="ant-currentPage" ms-html="@currentPage"></div>
    </div>
    <div :class="@locationKey.slice(1) + '-map'" class="map-iframe-wrap">
        <iframe name="mapIframe" id="mapIframe" frameborder="0" style="width: 100%;height: 100%"></iframe>
    </div>
    <!--实时指挥的城市列表，因为加载太慢了，所以放这里-->
    <xmp :widget="{is:'common-sszh-mapcity'}"></xmp>
    <!-- <div id="footer">
        {{@copyRight}}
        <br>
        {{@telephone}}
    </div> -->
    <!-- 设置弹窗 3个 -->
    <!-- <div :controller="editPassword">
        <xmp :widget="{is:'ms-dialog', $innerVm:'editPwd', show:@show, width: 450, height: 350, onCancel:@editCancel, onOk:@editOk, okText:'提交', cancelText:'取消'}">
            <ms-form :widget="{$form:@$editPwdForm}" slot="body" ms-skip>
                <div id="changePwd">
                    <div class="ipt-class">
                        <label>原密码：</label>
                        <ms-input :widget="{value:@record.oldPwd, type: 'password', col: 'oldPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入旧密码'}}"></ms-input>
                    </div>
                    <div class="ipt-class">
                        <label>新密码：</label>
                        <ms-input :widget="{value:@record.newPwd, type: 'password', col: 'newPwd', onChange:@iputhandle, $rules: {required: true, message: '请输入新密码'}}"></ms-input>
                    </div>
                    <div class="ipt-class">
                        <label>确认新密码：</label>
                        <ms-input :widget="{value:@record.repPwd, type: 'password', col: 'repPwd', onChange:@iputhandle, $rules: {required: true, message: '请重复新密码'}}"></ms-input>
                    </div>
                    <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
                </div>
            </ms-form> -->
    <!-- 因为ocx会遮住弹框，要加上iframe才可以显示出来，所以重新定义底部 -->
    <!-- <div slot="footer" class="modal-footer" ms-skip>
                <a class="btn btn-default" :click="@editOk">提交</a>
                <a class="btn btn-default" :click="@editCancel">取消</a>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
        </xmp>
    </div> -->

    <!-- 右上角弹窗组件 -->
    <ms-header-operation></ms-header-operation>

    <!-- <div :controller="logout_vm" class="logout_vm">
        <xmp :widget="{is: 'ms-dialog', $innerVm: 'logout', show: @show_logout, width: 450, height: 195, onCancel: @cancelLogout, onOk: @handleLogout, okText:'退出'}">
            <div slot="body" ms-skip>
                <h5 :css="{'font-size': '16px', 'color': '#536b82'}" ms-text="@logoutMsg"></h5>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div> -->
    <!-- 因为ocx会遮住弹框，要加上iframe才可以显示出来，所以重新定义底部 -->
    <!-- <div slot="footer" class="modal-footer" ms-skip>
                <a class="btn btn-default" :click="@handleLogout">退出</a>
                <a class="btn btn-default" :click="@cancelLogout">取消</a>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
        </xmp>
    </div> -->
    <iframe id="iframe_zfsyps" src="about:blank" marginheight="0" marginwidth="0" style="display:none; position:absolute; visibility:inherit; top:0;left:0;width:0; height:0;z-index:992;opacity:1;filter:alpha(opacity=0);background: #fff;"
        frameborder="0"></iframe>
    <div :controller="help_vm">
        <xmp :widget="{is:'ms-dialog', $innerVm: 'help_inner_vm', show: @show, className:@extraClass, onCancel: @handleCancle, cancelText:@cancelText}">
            <div slot="body" ms-skip>
                <h5 :css="{'font-size': '16px'}" ms-text="@helpMsg"></h5>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
            <div slot="footer" class="modal-footer" ms-skip>
                <a class="btn btn-default" :click="@handleClose">关闭</a>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </div>
        </xmp>
    </div>

    <div class="sosContainer" :class="@locationKey.slice(1) + '-sos'">
        <button  class="btn btn-primary sos-btn" :class="@locationKey.slice(1) + '-sosBtn'" :click="@sosClick">
            告警信息
            <i style="vertical-align: initial;" class="fa fa-lg" :class="@sosInfoShow ? ['fa-angle-up']:['fa-angle-down']"></i>
        </button>
        <div class="sos-info" :class="@locationKey.slice(1) + '-sos-info'" :css="{display:(@sosInfoShow ? 'block':'none')}" style="z-index: 9999;">
            <ul class="sos-info-menu" style="z-index: 22;">
                <li :click="@sosMenuClick('service')" :class="(@sosMenuType == 'service') ? ['active'] : ['']" style="z-index: 99991;position: relative;">业务告警</li>
                <li :click="@sosMenuClick('device')" :class="(@sosMenuType == 'device') ? ['active'] : ['']" style="z-index: 99991;position: relative;">设备告警</li>
                <li :click="@sosMenuClick('status')" :class="(@sosMenuType == 'status') ? ['active'] : ['']" style="z-index: 99991;position: relative;">状态告警</li>
                <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:1;opacity:0;filter:alpha(opacity=0);"></iframe>
            </ul>
            <div class="sos-info-content" style="z-index: 9999;">
                <ul class="service-sos" :class="(@sosMenuType == 'service') ? ['activeInfo'] : ['']" style="z-index: 9999;">
                    <li :for="($index,record) in @serviceSOSData"  :click="@handelSOS(record)">
                        <div class="li-div" style="width:100px;" :class="record['status'] == 0 ? 'sosWordColor' : '' ">{{record.sosType}}</div>
                        <div class="li-div" style="width:100px;" :class="record['status'] == 0 ? 'sosWordColor' : '' ">{{record.userName}}<span>({{record.userCode}})</span></div>
                        <div class="li-div" style="width:150px;" :class="record['status'] == 0 ? 'sosWordColor' : '' ">{{record.datetime | date("yyyy-MM-dd HH:mm:ss")}}</div>
                    </li>
                    <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:-0px;left:0px;width:100%; height:100%;z-index:1;opacity:0;filter:alpha(opacity=0);"></iframe>
                </ul>
                <ul class="device-sos" :class="(@sosMenuType == 'device') ? ['activeInfo'] : ['']" style="z-index: 9999;">
                    <li :for="($index,record) in @deviceSOSData">
                        <div class="li-div" style="width:100px;">{{record.sosType}}</div>
                        <div class="li-div" style="width:100px;">{{record.userName}}<span>({{record.userCode}})</span></div>
                        <div class="li-div" style="width:150px;">{{record.datetime | date("yyyy-MM-dd HH:mm:ss")}}</div>
                    </li>
                    <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:1;opacity:0;filter:alpha(opacity=0);"></iframe>

                </ul>
                <ul class="status-sos" :class="(@sosMenuType == 'status') ? ['activeInfo'] : ['']" style="z-index: 9999;">
                    <li :for="($index,record) in @statusSOSData">
                        <div class="li-div" style="width:100px;">{{record.sosType}}</div>
                        <div class="li-div" style="width:100px;">{{record.userName}}<span>({{record.userCode}})</span></div>
                        <div class="li-div" style="width:150px;">{{record.datetime | date("yyyy-MM-dd HH:mm:ss")}}</div>
                    </li>
                    <iframe src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" style="position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:1;opacity:0;filter:alpha(opacity=0);"></iframe>
                </ul>
            </div>
        </div>
    </div>
    <script>
        require(['./sszhxt']);
    </script>
</body>

</html>